
<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
       <div id="breadcrumb-nav"><a href="/" title="HOME">HOME</a> &gt;  
 
 
 
 
<a href="/fc/"">加盟店募集</a> &gt; 博士になるには</div>
      </div>
      <div id="userinfo">
       
      </div>
     </div>
     <article>
            <h1 class="title-fc-affiliation">博士になるには</h1>
      <div id="des-fc-container">
       <h2 class="des-fc-affiliation">研修からサポートまで完全バックアップ</h2>
       <p>お申し込みから開業まで基本的にぷりんと博士加盟店は、完全エリア制となっています。<br>いくら良いシステムで同地域に2店舗3店舗あっては加盟店同士でお客さまの取り合いになってしまいます。<br>お客さまから加盟申込書をいただいた時点で、即時にエリア調査に入ります。</p>
      </div>

      <section>
       <table border="0" cellpadding="0" cellspacing="0" class="aff">
        <tr>
         <th>資料請求<br>↓</th>
         <td>まずは [ <a href="request.html">FC加盟資料請求</a> ] フォーム、またはお電話やファックスにて資料をご請求ください。<br>また、その他ご不明点なども、お電話にてお気軽にお問い合わせください。</td>
        </tr>
        <tr>
         <th>事業説明会参加<br>↓</th>
         <td>当社指定の場所、または本社セミナールームにて事業説明会を行っております。（東京・大阪・北海道で適宜開催いたします）<br>日程などは [ <a href="briefing.html">事業説明会</a> ] ページをご確認ください。</td>
        </tr>
        <tr>
         <th>加盟申し込み<br>↓</th>
         <td>加盟申請書に記入・捺印をし、申込金をお支払いいただきます。<br>申込金は加盟契約後に加盟金に充当させていただきます。<br>詳しくはお電話、[ <a href="contact.html">お問い合わせ</a> ] フォームよりお問い合わせください。</td>
        </tr>
        <tr>
         <th>商圏調査<br>↓</th>
         <td>あなたが希望するエリアをお知らせください。その商圏の市場調査を行います。<br>すでに当社FC店舗が多数展開してる場合も、競合を避けるため、別途ご相談させていただきますのでご安心ください。</td>
        </tr>
        <tr>
         <th>加盟契約<br>↓</th>
         <td>当社との加盟契約を締結いたします。遠方の方でも安心です。</td>
        </tr>
        <tr>
         <th>システムの発注<br>↓</th>
         <td>当社と契約しているPC販売店に、専用のソフト・ハード機器を発注いたします。（通常はリース契約になります）</td>
        </tr>
        <tr>
         <th>技術研修<br>↓</th>
         <td>3日間の本部研修を指定場所にて受講していただきます。<br>わかりやすい研修ですので、初めてパソコンをお使いになる方でもご安心ください。</td>
        </tr>
        <tr>
         <th>開店販促計画<br>↓</th>
         <td>オープンに向けてスーパーバイザーと共に地域に沿った販促計画を立てます。<br>販促に利用するチラシなどは原価で自分で作れますのでオープンにあたり無駄な費用がかかりません。</td>
        </tr>
        <tr>
         <th>オープン</th>
         <td>他にも心配なことや不安なことがありましたら、ご遠慮なく担当のスーパーバイザーにご相談ください。<br>オープン時はあなたの店舗に伺い、具体的な指導をさせていただきます。</td>
        </tr>
       </table>
      </section>
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->
