
<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
       <div id="breadcrumb-nav"><a href="/" title="HOME">HOME</a> &gt; <a href="/fc/"">加盟店募集</a> &gt; 事業説明会</div>
      </div>
      <div id="userinfo">
       
      </div>
     </div>
     <article>
            <h1 class="title-fc-briefing">事業説明会</h1>
      <div id="des-fc-container">
       <h2 class="des-fc-briefing">ご質問やご相談は事業説明会にて</h2>
       <p>事業説明会への参加をご希望される方はこちらをご覧下さい。<br>豊富な資料を取り揃え、ご質問にはひとつひとつ丁寧にお答えいたします。<br>説明会参加をご希望の方、ご不明な点、ご質問のある方は [ <a href="contact.html">お問い合わせ</a> ]よりお問い合わせください。</p>
      </div>

      <section>
       <h3 class="subtitle">ぷりんと博士　事業説明会・個別相談会開催情報</h3>
       <p>開業を検討されている方を対象とした事業説明会の他に、スーパーバイザーが個別のケースに応じてご相談にのる個別相談会も開催しております。</p>
       <h4 class="blue">個別相談会</h4>
       <p>随時開催しておりますので、お気軽にお問い合わせください。</p>
       <h4 class="blue">合同説明会</h4>
       <p>随時開催しておりますので、お気軽にお問い合わせください。</p>
       <!--<p class="dm">その他の地域でも随時開催いたしますので、お気軽にお問い合わせください。</p>
       <table border="0" cellpadding="0" cellspacing="0" class="list">
        <tr>
         <th>開催日時</th>
         <th>開催場所</th>
        </tr>
        <tr>
         <td>2013/01/19（土） 12:30／14:30／16:30</td>
         <td>東京FC本部（東京都港区赤坂）<span class="red">※随時受付中</span></td>
        </tr>
        <tr>
         <td>2013/01/18（金） 12:30／14:30／16:30</td>
         <td>大阪-理想科学工業（大阪市中央区本町）</td>
        </tr>
       </table>-->
      </section>

      <!--<section>
       <h3 class="subtitle">ぷりんと博士　事業説明会・個別相談会開催情報</h3>
       <p class="red"><strong>随時開催しておりますので、お気軽にお問い合わせください。</strong></p>
      </section>-->
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->
