
<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
       <div id="breadcrumb-nav"><a href="/" title="HOME">HOME</a> &gt;  <a href="/fc/"">加盟店募集</a> &gt; 契約内容</div>
      </div>
      <div id="userinfo">
       
      </div>
     </div>
     <article>
            <h1 class="title-fc-contract">契約内容</h1>
      <div id="des-fc-container">
       <h2 class="des-fc-contract">ぷりんと博士ならではの安心契約</h2>
      </div>

      <section>
       <h3 class="subtitle">FC契約内容</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="contract">
        <tr>
         <th>契約タイプ</th>
         <td>フランチャイズ</td>
        </tr>
        <tr>
         <th>募集地域</th>
         <td>全国テリトリー制を採用しております。<br>販促エリアは入念な打ち合わせの元、決定致します。</td>
        </tr>
        <tr>
         <th>対象</th>
         <td>個人／法人</td>
        </tr>
        <tr>
         <th>契約期間</th>
         <td>5年（それ以降は3年毎に自動更新）</td>
        </tr>
        <tr>
         <th>開業資金</th>
         <td>[ぷりんと博士ステーション]<br>加盟金： 300,000円<br>指導料： 150,000円<br>（2010年3月改訂）のみ<br><br>[ぷりんと博士]<br>加盟金： 1,050,000円<br>研修費： 210,000円<br>ハード機器・リース月額： 63,000円<br>（現金の場合： 3,021,900円）</td>
        </tr>
        <tr>
         <th>ロイヤリティ</th>
         <td>月額固定　25,000円（税込）</td>
        </tr>
        <tr>
         <th>開業前の研修制度</th>
         <td>研修： 本部にて3日間<br>本部研修前後に現地及び、在宅研修もあります。<br>必要に応じてパソコン等の研修もあります。<br>（応相談）</td>
        </tr>
        <tr>
         <th>開業後の教育体制・待遇</th>
         <td>オープン後、業務における問題点・質問など随時本部スーパーバイザーに相談することができ迅速な対処を致します。<br>加盟店専用メルマガ送付等充実したフォロー体制がございます。</td>
        </tr>
       </table>
      </section>
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->
