
<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
       <div id="breadcrumb-nav"><a href="https://www.printhakase.com/" title="HOME">HOME</a> &gt; 加盟店募集</div>
      </div>
      <div id="userinfo">
       
      </div>
     </div>
     <article>
            <h1 class="title-fc">加盟店募集</h1>

      <section>
       <h3 class="subtitle">メニュー一覧</h3>
       <div id="item-container">
        <a href="https://www.printhakase.com/fc/station.html" class="item"><img src="https://www.printhakase.com/images/img-fc-s.jpg" width="76" height="56" class="item"></a>
        <div id="item-wrapper">
         <h4 class="item-name"><a href="https://www.printhakase.com/fc/station.html">ぷりんと博士ステーション</a></h4>
         <p>本業の多角化に最適なビジネス</p>
        </div>
       </div>

       <div id="item-container">
        <a href="https://www.printhakase.com/fc/affiliation.html" class="item"><img src="https://www.printhakase.com/images/img-fc-s.jpg" width="76" height="56" class="item"></a>
        <div id="item-wrapper">
         <h4 class="item-name"><a href="https://www.printhakase.com/fc/affiliation.html">博士になるには</a></h4>
         <p>加盟までの流れをチェック</p>
        </div>
       </div>

       <div id="item-container">
        <a href="https://www.printhakase.com/fc/briefing.html" class="item"><img src="https://www.printhakase.com/images/img-fc-s.jpg" width="76" height="56" class="item"></a>
        <div id="item-wrapper">
         <h4 class="item-name"><a href="https://www.printhakase.com/fc/briefing.html">事業説明会</a></h4>
         <p>お気軽にご参加ください</p>
        </div>
       </div>

       <div id="item-container">
        <a href="https://www.printhakase.com/fc/request.html" class="item"><img src="https://www.printhakase.com/images/img-fc-s.jpg" width="76" height="56" class="item"></a>
        <div id="item-wrapper">
         <h4 class="item-name"><a href="https://www.printhakase.com/fc/request.html">資料請求</a></h4>
         <p>詳細は資料でご確認を</p>
        </div>
       </div>

       <div id="item-container">
        <a href="https://www.printhakase.com/fc/result.html" class="item"><img src="https://www.printhakase.com/images/img-fc-s.jpg" width="76" height="56" class="item"></a>
        <div id="item-wrapper">
         <h4 class="item-name"><a href="https://www.printhakase.com/fc/result.html">加盟実績</a></h4>
         <p>仲間は全国に点在しています</p>
        </div>
       </div>

       <div id="item-container">
        <a href="https://www.printhakase.com/fc/contract.html" class="item"><img src="https://www.printhakase.com/images/img-fc-s.jpg" width="76" height="56" class="item"></a>
        <div id="item-wrapper">
         <h4 class="item-name"><a href="https://www.printhakase.com/fc/contract.html">契約内容</a></h4>
         <p>開業資金などはこちらでご確認を</p>
        </div>
       </div>

       <div id="item-container">
        <a href="https://www.printhakase.com/fc/success.html" class="item"><img src="https://www.printhakase.com/images/img-fc-s.jpg" width="76" height="56" class="item"></a>
        <div id="item-wrapper">
         <h4 class="item-name"><a href="https://www.printhakase.com/fc/success.html">博士たちの成功談</a></h4>
         <p>入稿、依頼後のキャンセル・変更対応はこちらからご確認ください。</p>
        </div>
       </div>

       <div id="adj"></div>
      </section>
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->
