
<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
       <div id="breadcrumb-nav"><a href="https://www.printhakase.com/" title="HOME">HOME</a> &gt;  
 
 
 
 
<a href="/fc/"">加盟店募集</a> &gt; 加盟実績</div>
      </div>
      <div id="userinfo">
       
      </div>
     </div>
     <article>
            <h1 class="title-fc-result">加盟実績</h1>
      <div id="des-fc-container">
       <h2 class="des-fc-result">地域オンリーワンの存在に</h2>
       <p>ぷりんと博士のFCは完全エリア担当制。<br>ご希望エリアの競合やマーケットの規模をリサーチした上で、全国にバランスよく出店していますので、オーナー様同士で顧客の奪い合いになることもなく安心です。<br>また同社の競合がいないことで、地域のオンリーワンになれる可能性も膨らみます。</p>
      </div>

      <section>
       <h3 class="subtitle">ぷりんと博士FC出店情報</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="list">
        <tr>
         <th>北海道エリア</th>
         <th>東北エリア</th>
         <th>関東エリア</th>
         <th>信越・北陸エリア</th>
         <th>東海エリア</th>
        </tr>
        <tr>
         <td rowspan="7"><a href="https://www.printhakase.com/store/hokkaido/">北海道</a></td>
         <td><a href="https://www.printhakase.com/store/tohoku/">青森</a></td>
         <td><a href="https://www.printhakase.com/store/kanto/">東京</a></td>
         <td><a href="https://www.printhakase.com/store/hokuriku/">新潟</a></td>
         <td><a href="https://www.printhakase.com/store/tokai/">愛知</a></td>
        </tr>
        <tr>
         <td><a href="https://www.printhakase.com/store/tohoku/">宮城</a></td>
         <td><a href="https://www.printhakase.com/store/kanto/">神奈川</a></td>
         <td><a href="https://www.printhakase.com/store/hokuriku/">長野</a></td>
         <td><a href="https://www.printhakase.com/store/tokai/">岐阜</a></td>
        </tr>
        <tr>
         <td><a href="https://www.printhakase.com/store/tohoku/">山形</a></td>
         <td><a href="https://www.printhakase.com/store/kanto/">埼玉</a></td>
         <td><a href="https://www.printhakase.com/store/hokuriku/">石川</a></td>
         <td><a href="https://www.printhakase.com/store/tokai/">静岡</a></td>
        </tr>
        <tr>
         <td rowspan="4"></td>
         <td><a href="https://www.printhakase.com/store/kanto/">千葉</a></td>
         <td rowspan="4"></td>
         <td rowspan="4"></td>
        </tr>
        <tr>
         <td><a href="https://www.printhakase.com/store/kanto/">茨城</a></td>
        </tr>
        <tr>
         <td><a href="https://www.printhakase.com/store/kanto/">栃木</a></td>
        </tr>
        <tr>
         <td><a href="https://www.printhakase.com/store/kanto/">群馬</a></td>
        </tr>

        <tr>
         <th>近畿エリア</th>
         <th>中国エリア</th>
         <th>四国エリア</th>
         <th>九州エリア</th>
        </tr>
        <tr>
         <td><a href="https://www.printhakase.com/store/kinki/">大阪</a></td>
         <td><a href="https://www.printhakase.com/store/chugoku/">鳥取</a></td>
         <td><a href="https://www.printhakase.com/store/shikoku/">香川</a></td>
         <td><a href="https://www.printhakase.com/store/kyushu/">福岡</a></td>
        </tr>
        <tr>
         <td><a href="https://www.printhakase.com/store/kinki/">兵庫</a></td>
         <td><a href="https://www.printhakase.com/store/chugoku/">岡山</a></td>
         <td><a href="https://www.printhakase.com/store/shikoku/">愛媛</a></td>
         <td><a href="https://www.printhakase.com/store/kyushu/">大分</a></td>
        </tr>
        <tr>
         <td><a href="https://www.printhakase.com/store/kinki/">京都</a></td>
         <td><a href="https://www.printhakase.com/store/chugoku/">広島</a></td>
         <td><a href="https://www.printhakase.com/store/shikoku/">徳島</a></td>
         <td rowspan="2"></td>
        </tr>
        <tr>
         <td><a href="https://www.printhakase.com/store/kinki/">滋賀</a></td>
         <td><a href="https://www.printhakase.com/store/chugoku/">山口</a></td>
         <td></td>
        </tr>
       </table>
       <p class="tax">（平成22年10月現在）</p>
      </section>
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->

