
<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
       <div id="breadcrumb-nav"><a href="/" title="HOME">HOME</a> &gt;  
 <a href="/fc/"">加盟店募集</a> &gt; ぷりんと博士ステーション</div>
      </div>
      <div id="userinfo">
       
      </div>
     </div>
     <article>
            <h1 class="title-fc-station">ぷりんと博士ステーション</h1>
      <div id="des-fc-container">
       <h2 class="des-fc-station">本業を活かす多角化に最適なビジネス</h2>
       <p>印刷機器を導入する必要なし！圧倒的に低い初期費用でぷりんと博士チェーンの商品、10年におよぶノウハウ、そしてWebを含めた集客力が強力な武器になります。<br>より幅広いお客さまのニーズに対応することが可能となり、新たなビジネスチャンスを生み出します。<br>名刺などはリピート商品のため、定期収入を得ることができ、導入は省スペースのため、多角化に最適です。<br>本部はもとより、全国のぷりんと博士が完全バックアップいたします！</p>
      </div>

      <section>
       <h3 class="subtitle">ぷりんと博士ステーション8つのOK！</h3>
       <ul id="ullist">
        <li>低額の導入費用で、ぷりんと博士チェーンのノウハウが取得OK！</li>
        <li>本部研修はたったの3日間。現地研修を含めトータル1週間程度で導入OK！</li>
        <li>ご担当者おひとり様で簡単導入。本部完全フォローだから知識経験なしでもOK！</li>
        <li>名刺をはじめとした、必ず必要な商品ラインナップ。どのようなクライアントにも対応OK！</li>
        <li>圧倒的に豊富なラインナップで様々なお客様のニーズに対応OK！</li>
        <li>制作・デザインは本部及び全国のぷりんと博士のノウハウでOK！</li>
        <li>印刷機材を持たないことで、設備投資のリスク回避OK！</li>
        <li>本部HPから見積もりオーダーフォームからお問い合わせ・発注は一括OK！</li>
       </ul>
      </section>

      <section>
       <h3 class="subtitle">本業との相乗効果</h3>
       <p class="dm">ぷりんと博士ステーション導入により、本業との相乗効果が生まれます！</p>
       <img src="/assets/img-fc-station01.png" width="650" height="530" border="0">
      </section>

      <section>
       <h3 class="subtitle">ぷりんと博士導入のメリット</h3>
       <h4 class="blue">販促のメリット</h4>
       <p>自社で販促物を作成するケースがある場合など、コストダウンはもとより、飛び込み営業必要なし！のビジネスモデルで培ったノウハウにより、効率のよい販促活動が期待できます。</p>
       <h4 class="blue">新規クライアント獲得</h4>
       <p>全国の加盟店様の販促活動により、本部HPから毎日見積もり依頼等が自動的に入ります。<br>法人のリピート商品がメインとなるため、本業のクライアントになりうる企業様との取引が生まれます。</p>
       <h4 class="blue">提携のメリット</h4>
       <p>貴社の取扱商品に特徴があり、全国の中小企業様へ提案できる商品の場合、全国のぷりんと博士・ぷりんと博士ステーションの商品ラインナップとして導入される可能性があります。</p>
       <h4 class="blue">スキルアップのメリット</h4>
       <p class="dm">印刷担当として企画等の打ち合わせに関わる経験を重ねることにより、ご担当者様の企画力等のスキルがアップし、貴社の戦力として育ちます。</p>
       <img src="/assets/img-fc-station02.png" width="650" height="555" border="0">
      </section>

      <section>
       <h3 class="subtitle">検討事例</h3>
       <h4 class="blue">税理士事務所様</h4>
       <p>現在、業界の大手団体に登録しているが、費用の割にはメリットが少ない。<br>その点、名刺や印象商品は法人設立の際にも必ず必要な商品であるため、地域の企業との接点が増える。<br>さらに名刺等の印刷商品は、リピート商品の為、取引が継続されれば、本業である税理士事務所として顧問契約を結べる可能性のある顧客の集客が行える。</p>
       <h4 class="blue">小規模デザイン事務所様</h4>
       <p>デザイン力には問題ないが、本人やスタッフのセールススキルに不安があるため、ぷりんと博士の全国展開のスケールメリットを利用することにより、自らのセールススキルにたよることなく、デザインの仕事の受注に発展しうる確率の高い集客ができる。<br>また、本部とのアライアンスにより、本部経由のデザインの受注や、逆に自分で受けられない印刷の仕事を本部に外注することができる。</p>
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->
