

<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
       <div id="breadcrumb-nav"><a href="https://www.printhakase.com/" title="HOME">HOME</a> &gt;  
会社案内
 
</div>
      </div>
      <div id="userinfo">
       
      </div>
     </div>
     <article>
            <h1 class="title-company">会社案内</h1>

      <section>
       <h3 class="subtitle">会社概要</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="contract">
        <tr>
         <th>会社名</th>
         <td>エピック株式会社</td>
        </tr>
        <tr>
         <th>英文表記</th>
         <td>EPIC Co.,Ltd.</td>
        </tr>
        <tr>
         <th>Eメール</th>
         <td><a href="mailto:info&#64epic-corp.co.jp">info&#64epic-corp.co.jp</a></td>
        </tr>
        <tr>
         <th>業種</th>
         <td>スピード印刷チェーン「ぷりんと博士」の運営管理、その他</td>
        </tr>
        <tr>
         <th>主要取引先</th>
         <td>ぷりんと博士加盟店</td>
        </tr>
       </table>
      </section>
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->
