
<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
       <div id="breadcrumb-nav"><a href="/" title="HOME">HOME</a> &gt;  
特定商取法に基づく表示
</div>
      </div>
      <div id="userinfo">
       
      </div>
     </div>
     <article>
            <h1 class="title-consume">特定商取法に基づく表示</h1>

      <section>
       <h3 class="subtitle">特定商取法に基づく表示</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="contract">
        <tr>
         <th width="30%">販売業者</th>
         <td>エピック株式会社</td>
        </tr>
        <!--<tr>
         <th>販売責任者</th>
         <td>三橋 一巳</td>
        </tr>-->
        <tr>
         <th>所在地</th>
         <td>〒150-0041 東京都渋谷区神南1-10-6 バルビゾン98番館10階</td>
        </tr>
        <tr>
         <th>TEL</th>
         <td>03-5428-3963</td>
        </tr>
        <tr>
         <th>FAX</th>
         <td>03-6909-1083</td>
        </tr>
        <tr>
         <th>E-mail</th>
         <td><a href="mailto:info&#64epic-corp.co.jp">info&#64epic-corp.co.jp</a></td>
        </tr>
        <tr>
         <th>販売価格</th>
         <td>各販売商品種類ごとのページに表示された価格に基づきます。表示の価格は消費税を含む総額表示ですが、税額を計算する際に円未満の端数が生じ、精算代金が表示代金を下回る場合がございます。</td>
        </tr>
        <tr>
         <th>お支払方法</th>
         <td>代金引換 または 銀行振込（振込手数料はお客さま負担）<br /> [ <a href="payment.html">お支払いについて</a> ]</td>
        </tr>
        <tr>
         <th>商品代金以外の付帯的費用</th>
         <td>消費税、送料（宅配業者による配達の場合）、お客様から要望された場合、それに応じた費用  [ <a href="payment.html">お支払いについて</a> ]</td>
        </tr>
        <tr>
         <th>商品のお引渡し時期</th>
         <td>メール、TEL、FAXにて告知</td>
        </tr>
        <tr>
         <th>商品の変更について</th>
         <td>送料お客様負担にて対応 [ <a href="cancel.html">キャンセル・変更について</a> ]</td>
        </tr>
        <tr>
         <th>返品について</th>
         <td>ご注文後のキャンセルは原則お受けしておりません。ただし、万一不具合がありましたときには当社送料負担にてお取り替えさせていただきます。 </td>
        </tr>
        <tr>
         <th>返品・変更期限</th>
         <td>商品のお引渡し時期より一週間以内 </td>
        </tr>
        <tr>
         <th>返品送料</th>
         <td>不良品または品違いの場合は当社負担</td>
        </tr>
       </table>
      </section>
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->
