<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
        
      </div>
      <div id="userinfo">
       
      </div>
     </div>
     <article>
            <a href="printing/nenga2016.html"><h1 class="title-top">ぷりんと博士</h1></a>

      <section>
       <div id="top-banner01">
        <a href="printing/uniform/"><img src="assets/img-top-banner01.png" width="650" height="100" border="0" alt="ユニフォームプリント"></a>
       </div>
      </section>

      <section>
       <div id="top-container">
        <div id="top-wrapper">

         <div id="top-banner02">
          <a href="promotion/homepage.html"><img src="assets/img-top-banner-web_st.png" width="420" height="100" border="0" alt="9,800円からホームページ作成 WebStation"></a>
         </div>
         <div id="top-banner02">
          <a href="promotion/mobile.html"><img src="assets/img-top-banner02.png" width="420" height="100" border="0" alt="携帯サイト・メルマガツール DMモビ"></a>
         </div>
         <div id="top-banner02">
          <a href="fc/"><img src="assets/img-top-banner03.png" width="420" height="100" border="0" alt="ぷりんと博士ステーション"></a>
         </div>
         <!--<div id="box">
          <h3>ぷりんと博士加盟店の紹介によるトクトク販売コーナー</h3>
          <a href="http://spiraring.com/" target="_blank"><img src="assets/img-top-banner04.png" width="420" height="100" border="0" alt="SpiraRing スパイラリング"></a>
         </div>-->
         <div id="box">
          <h3>トピックス</h3>
          <table border="0" cellpadding="0" cellspacing="0" class="news">
           <p>記事はありません。</p>
           <!--<tr>
            <td class="date"></td>
            <td class="title"><h4></h4></td>
           </tr>
           <tr>
            <td colspan="2" class="topic">
             <p></p>
            </td>
           </tr>-->
          </table>
         </div>
        </div>

        <div id="top-rightbar" class="clearfix">

         <div id="box-right">
          <h3>Facebookページ</h3>
          <div id="banner">
           <a href="http://www.facebook.com/printhakase/" target="_blank"><img src="assets/img-top-banner-facebook.png"  width="165" height="60" border="0" alt="Facebookページ"></a>
           <p>「いいね！」を押して、お得な情報をゲット！</p>
<!-- like button -->
           <div id="fb-root" style="padding:0;margin:0;border:0;overflow:hidden;"></div>
           <script>
            (function(d, s, id) {
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) return;
             js = d.createElement(s); js.id = id;
             js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=319484871398056";
             fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
           </script>
           <div class="fb-like" data-href="https://www.facebook.com/printhakase" data-send="false" data-layout="button_count" data-width="200" data-height="24" data-show-faces="false" style="width:200px;height:24px;padding:0;margin:10px 0px 0px 10px;border:0;text-align:left;overflow:hidden;"></div>
<!-- end like button -->
          </div>
         </div>

         <div id="box-right">
          <h3>フランチャイズ募集</h3>
          <div id="banner">
           <a href="fc/"><img src="assets/img-top-banner-fc.png" width="165" height="60" border="0" alt="ぷりんと博士加盟店募集中"></a>
           <p>粗利益70％以上確保！今こそビジネスチャンス！資料請求はこちら！</p>
           <a href="assets/pdf/mangaA4.pdf"><img src="assets/img-top-banner-owner.png" target="_blank" width="165" height="47" border=0" alt="博士のお仕事は!! ぷりんと博士の一日を漫画でご案内"></a>
           <p>アントレnetマンガ<br>フランチャイズオーナーの1日</p>
          </div>
         </div>

         <div id="box-right">
          <h3>ホームページ作成</h3>
          <div id="banner">
           <a href="homepage_.html"><img src="assets/banner-web_st.png" width="165" height="209" border="0" alt="ホームページ作成 WebStation"></a>
          </div>
         </div>

         <div id="box-right">
          <h3>格安電報のご案内</h3>
          <div id="banner">
           <a href="telegram.html"><img src="assets/img-top-banner-verycard.jpg" width="165" height="80" border="0" alt="従来の電報価格の約3分の1 一律1,040円（税込1,092円）で全国即日配達！"></a>
          </div>
         </div>

        </div><!--end box-right-->

       </div>
       <div id="adj"></div>
      </section>
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->