
<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
       <div id="breadcrumb-nav"><a href="/" title="HOME">HOME</a> &gt;  各種印刷価格表</div>
      </div>
      <div id="userinfo">
       
      </div>
     </div>
     <article>
            <h1 class="title-price">各種印刷価格表</h1>

      <section>
       <h3 class="subtitle">名刺印刷料金</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="list">
        <tr>
         <th></th>
         <th>片面1C</th>
         <th>両面1C</th>
         <th>片面4C</th>
         <th>片面4色裏1色</th>
        </tr>
        <tr>
         <td>100枚（1箱）</td>
         <td><span class="red"><strong>800円</strong></span></td>
         <td>1,600円</td>
         <td>2,400円</td>
         <td>3,200円</td>
        </tr>
        <tr>
         <td>200枚（2箱）</td>
         <td>1,600円</td>
         <td>3,200円</td>
         <td>4,800円</td>
         <td>6,400円</td>
        </tr>
        <tr>
         <td>300枚（3箱）</td>
         <td>2,400円</td>
         <td>4,800円</td>
         <td>7,200円</td>
         <td>9,600円</td>
        </tr>
        <tr>
         <td>400枚（4箱）</td>
         <td>3,200円</td>
         <td>6,400円</td>
         <td>9,600円</td>
         <td>12,800円</td>
        </tr>
        <tr>
         <td>500枚（5箱）</td>
         <td>3,600円</td>
         <td>7,200円</td>
         <td>10,800円</td>
         <td>14,400円</td>
        </tr>
        <tr>
         <td>1000枚（10箱）</td>
         <td>6,400円</td>
         <td>12,800円</td>
         <td>19,200円</td>
         <td>25,600円</td>
        </tr>
       </table>
       <p class="tax">（消費税別）</p>
       <p>※上記料金に関しては当社ひな形よりお選びいただいた料金となります。<br>※当店指定用紙（白・クリーム）以外は1箱105円プラスとなります。<br>※オリジナル名刺の場合は、初回のみ制作代金1,050円頂きます。（また内容により制作価格は異なる場合がございます）<br>※名刺デザインが既にデータである場合はデータ入稿フォームよりお送り下さい。<br><span class="red">※データに関してはイラストレーターで制作したもので、必ずアウトラインをとってください。</span><br><span class="red">※断ち切り名刺の場合は料金が変わりますのでご注意ください。</span></p>
      </section>

      <section>
       <h3 class="subtitle">ハガキ印刷料金</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="list">
        <tr>
         <th></th>
         <th>片面1C</th>
         <th>両面1C</th>
         <th>片面4C</th>
         <th>片面4色裏1色</th>
        </tr>
        <tr>
         <td>100枚</td>
         <td>1,600円</td>
         <td>3,200円</td>
         <td>4,800円</td>
         <td>6,400円</td>
        </tr>
        <tr>
         <td>200枚</td>
         <td>3,200円</td>
         <td>6,400円</td>
         <td>9,600円</td>
         <td>12,800円</td>
        </tr>
        <tr>
         <td>300枚</td>
         <td>4,800円</td>
         <td>9,600円</td>
         <td>14,400円</td>
         <td>19,200円</td>
        </tr>
        <tr>
         <td>400枚</td>
         <td>6,400円</td>
         <td>12,800円</td>
         <td>19,200円</td>
         <td>25,600円</td>
        </tr>
        <tr>
         <td>500枚</td>
         <td>7,200円</td>
         <td>14,400円</td>
         <td>21,600円</td>
         <td>28,800円</td>
        </tr>
        <tr>
         <td>1000枚</td>
         <td>12,800円</td>
         <td>25,600円</td>
         <td>38,400円</td>
         <td>51,200円</td>
        </tr>
       </table>
       <p class="tax">（消費税別）</p>
       <p>※ハガキデザインが既にデータである場合は、データ入稿フォームよりお送り下さい。<br><span class="red">※データに関してはイラストレーターで制作したもので、必ずアウトラインをとって下さい。</span></p>
      </section>

      <section>
       <h3 class="subtitle">チラシ・フライヤー印刷</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="list">
        <tr>
         <th></th>
         <th>B5</th>
         <th>A4</th>
         <th>B4</th>
         <th>A3</th>
        </tr>
        <tr>
         <td>10,000枚～</td>
         <td>2.4円</td>
         <td>2.8円</td>
         <td>3.7円</td>
         <td>4.7円</td>
        </tr>
        <tr>
         <td>5,000枚～</td>
         <td>2.6円</td>
         <td>3.1円</td>
         <td>4.2円</td>
         <td>5.2円</td>
        </tr>
        <tr>
         <td>3,000枚～</td>
         <td>3.1円</td>
         <td>4.2円</td>
         <td>5.2円</td>
         <td>6.3円</td>
        </tr>
        <tr>
         <td>1,000枚～</td>
         <td>4.2円</td>
         <td>5.2円</td>
         <td>6.3円</td>
         <td>7.3円</td>
        </tr>
        <tr>
         <td>500枚～</td>
         <td>5.2円</td>
         <td>6.3円</td>
         <td>7.3円</td>
         <td>8.4円</td>
        </tr>
        <tr>
         <td>100枚～</td>
         <td>6.2円</td>
         <td>7.3円</td>
         <td>8.4円</td>
         <td>9.4円</td>
        </tr>
       </table>
       <p>※黒1色片面印刷　同一原稿1枚の金額です。<br>※その他色刷り赤・青もあります。（色印刷は@1.05円プラスになります）<br>※カラー用紙は@1.05円プラス。<br>※弊社で制作する場合は、別途版下代金がかかりますのでお問い合わせ下さい。<br>※料金は事前に必ずスタッフにお問い合わせ下さい。（枚数による価格変動が有ります）</p>
      </section>

      <section>
       <h3 class="subtitle">封筒印刷（印刷＋封筒価格）</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="list">
        <tr>
         <th>封筒のサイズ</th>
         <th>紙の種類</th>
         <th>厚さ（g/m<sup>2</sup>）</th>
         <th>500枚</th>
         <th>1000枚</th>
        </tr>
        <tr>
         <td rowspan="3">長3（定型）<br/>120mm×235mm</td>
         <td>クラフト（茶封筒）</td>
         <td>85</td>
         <td>-</td>
         <td>8,400円</td>
        </tr>
        <tr>
         <td>ケント（白封筒）</td>
         <td>80</td>
         <td>-</td>
         <td>9,660円</td>
        </tr>
        <tr>
         <td>パステルカラー</td>
         <td>80</td>
         <td>-</td>
         <td>10,861円</td>
        </tr>
        <tr>
         <td rowspan="3">長4（定型）<br/>90mm×205mm</td>
         <td>クラフト（茶封筒）</td>
         <td>85</td>
         <td>-</td>
         <td>7,071円</td>
        </tr>
        <tr>
         <td>ケント（白封筒）</td>
         <td>80</td>
         <td>-</td>
         <td>7,817円</td>
        </tr>
        <tr>         <td>パステルカラー</td>
         <td>80</td>
         <td>-</td>
         <td>8,568円</td>
        </tr>
        <tr>
         <td rowspan="3">角2<br/>240mm×332mm</td>
         <td>クラフト（茶封筒）</td>
         <td>85</td>
         <td>8,132円</td>
         <td>16,264円</td>
        </tr>
        <tr>
         <td>ケント（白封筒）</td>
         <td>85</td>
         <td>9,736円</td>
         <td>19,472円</td>
        </tr>
        <tr>
         <td>パステルカラー</td>
         <td>100</td>
         <td>13,251円</td>
         <td>26,502円</td>
        </tr>
        <tr>
         <td rowspan="3">角1<br/>270mm×382mm</td>
         <td>クラフト（茶封筒）</td>
         <td>85</td>
         <td>11,055円</td>
         <td>21,110円</td>
        </tr>
        <tr>
         <td>ケント（白封筒）</td>
         <td>100</td>
         <td>14,706円</td>
         <td>28,413円</td>
        </tr>
        <tr>
         <td>パステルカラー</td>
         <td>100</td>
         <td>17,300円</td>
         <td>33,600円</td>
        </tr>
        <tr>
         <td rowspan="2">洋長3（定型）<br/>120mm×235mm</td>
         <td>ケント（白封筒）</td>
         <td>100</td>
         <td>7,002円</td>
         <td>13,004円</td>
        </tr>
        <tr>
         <td>パステルカラー</td>
         <td>100</td>
         <td>7,343円</td>
         <td>13,686円</td>
        </tr>
       </table>
       <p>※上記の料金表は、黒1色片面スピード印刷の金額です。<br>※その他色刷り（赤・青）もあります。（色印刷は別途料金となります）<br>※上記以外のサイズ、窓付き封筒をご希望のお客様は[ <a href="https://www.printhakase.com/contact.html">お問い合わせ</a> ]よりお気軽にご連絡ください。</p>
      </section>

      <section>
       <h3 class="subtitle">ポスター印刷／メディア出力価格表</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="list">
        <tr>
         <th>メディア</th>
         <th>サイズ（mm）</th>
         <th>金額</th>
        </tr>
        <tr>
         <td>光沢紙</td>
         <td>1200×600 ～</td>
         <td>5,292円 ～</td>
        </tr>
        <tr>
         <td>マットPET</td>
         <td>1200×600 ～</td>
         <td>5,586円 ～</td>
        </tr>
        <tr>
         <td>光沢塩ビ（糊付）</td>
         <td>1200×600 ～</td>
         <td>10,878円 ～</td>
        </tr>
        <tr>
         <td>電飾フィルム</td>
         <td>1200×600 ～</td>
         <td>11,760円 ～</td>
        </tr>
        <tr>
         <td>光沢ターポリン</td>
         <td>1200×600 ～</td>
         <td>7,938円 ～</td>
        </tr>
       </table>
       <p>※4色カラー・溶剤インク（耐久3年）<br>※料金は事前に必ずスタッフにお問い合わせ下さい。（枚数による価格変動が有ります）</p>
      </section>
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->
