

<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
       <div id="breadcrumb-nav"><a href="https://www.printhakase.com/" title="HOME">HOME</a> &gt; 個人情報保護方針</div>
      </div>
      <div id="userinfo">
       
      </div>
     </div>
     <article>
            <h1 class="title-privacypolicy">個人情報保護方針</h1>

      <section>
       <h3 class="subtitle">個人情報保護方針</h3>
       <p>エピック株式会社（以下、当社）は、印刷デザイン業(名刺・封筒・チラシ等）及び、印刷ショップのフランチャイズ展開を行っております。<br>当社は、これらの事業活動を通じて取り扱う個人情報を、個人の人格尊重の理念の下に慎重に取り扱われるべき重要な情報であることを認識し、その適正な運用・管理を図るべく、全従業員に周知徹底するとともに、継続的に維持改善していきます。</p>
       <h4>1. 適正な個人情報の収集、利用、提供</h4>
       <ol id="ollist">
        <li>個人情報を収集するにあたり、その収集目的を明らかにして本人の同意をいただきます。</li>
        <li>収集した個人情報は、次の場合を除き、第三者に提供または開示いたしません。<br>・あらかじめ本人の同意を得た場合<br>・法令などの規定に従い、提供または開示する場合</li>
        <li>個人情報を第三者に委託して利用する場合は、当該第三者における安全管理措置の状況等に照らし、委託を行うことの適切性を検討すると共に、当該第三者との間で機密保持契約を締結した上で、提供するなどし、委託先への適切な監督を致します。</li>
       </ol>
       <h4>2. 業務上知り得た個人情報の適正な処理</h4>
       <ol id="ollist">
        <li>業務上知り得た個人情報で、業務上必要な個人情報は適正に取り扱います。</li>
        <li>業務上知り得た個人情報で、業務に必要のない個人情報については、コピー、印字などして収集することなく、また第三者へ提供または開示いたしません。</li>
       </ol>
       <h4>3. 個人情報の適正管理と安全性の確保</h4>
       <p>個人情報の管理は適正かつ厳重に行います。個人情報への不正アクセス、個人情報の消失、破壊、改ざん、漏えい等の予防並びに是正の為の適切な手段を講じ、その有効性を定期的に監査します。また個人情報を取り扱う社員に対し、適正な教育計画を策定、実施いたします。</p>
       <h4>4. 個人情報に関する法規制遵守</h4>
       <p>当社に適用されるすべての個人情報に関する法令及び条例並びに関連業界のガイドラインを遵守いたします。</p>
       <h4>5. コンプライアンス・プログラムの継続的改善</h4>
       <p class="dm">当社の個人情報保護体制について定期的に監査を実施いたします。また当社の業務内容、社会の情勢、情報システムの進歩等の変化を把握すると共に、当社の個人情報保護体制が継続的に改善されるよう見直しを行います。</p><br>
       <p class="tax small">制定： 2005年7月11日<br>改訂： 2006年8月31日</p>
      </section>

      <section>
       <h3 class="subtitle">個人情報の取り扱いについて</h3>
       <p>当社は、フランチャイズチェーン「ぷりんと博士」の運営に関して個人情報を収集、利用することになりますが、預かった個人情報の取り扱いについて、次のように管理し、保護に努めます。</p>
       <h4>個人情報の定義について</h4>
       <p>当社では、ご氏名、生年月日、お住まい、電話番号、Eメール、職歴などにより、特定個人を識別できるものは、全て個人情報として取り扱ってまいります。<br>また、組み合わせる事により個人の識別ができるものも含みます。<br>当社では、氏名、生年月日、住所、電話番号等の個人情報を収集することがあります。</p>
       <h4>個人情報の利用目的</h4>
       <p>個人情報収集の目的は、エピック株式会社に関するサービスを提供する為、以下の目的で利用するものとし、他の目的で使用することはありません。<br>尚、個人情報の登録を頂けない場合には資料の送付やサービスが行えないことがあります。<br>・フランチャイズシステムに関する資料関係の発送<br>・メールやDMハガキによる説明会のご案内送付<br>・印刷受注及び見積もりに関するご案内送付</p>
       <h4>個人情報の第三者への提供及び外部への預託について</h4>
       <p>当社でご登録頂いた個人情報については、上記の目的以外にはご本人様の許可なく、第三者へ提供または預託することはありません。<br>ただし法令に基づく場合などはこの限りではありません。</p>
       <h4>個人情報の開示・訂正について</h4>
       <p>当社がお預かりしている個人情報の開示・訂正について、ご連絡を頂いた場合はすみやかに開示・訂正を行います。</p>
       <h4>個人情報の削除・利用停止について</h4>
       <p>当社がお預かりしている個人情報の削除・利用停止について、ご連絡を頂いた場合はすみやかに削除・利用停止し、また、削除・利用停止が完了した段階で、完了のご連絡をいたします。<br>お客様の個人情報についての照会や修正、削除・利用停止等のご依頼やその他のお問合せは以下のお問合せ窓口にご連絡下さい。なお、本手続きにあたり、ご本人であることを確認させて頂くことがあります。<br>書面でご回答させていてだく場合は、所定の費用をいただくことがあります。</p>
       <h4>個人情報管理の対策について</h4>
       <p>当社でお預かりした個人情報は、厳正な管理の中、細心の注意を払い、技術面及び組織面において安全対策を講じ、不正アクセス・紛失・破棄・改ざん・漏洩などの予防に努めます。</p>
      </section>

      <section>
       <h3 class="subtitle">個人情報についてのお問い合わせ窓口</h3>
       <p>エピック株式会社<br><br>〒150-0041 東京都渋谷区神南1-10-6 バルビゾン98番館10階<br>TEL： 03-5428-3963<br>FAX： 03-3568-7482<br>Eメール： <a href="mailto:info&#64;epic-corp.co.jp">info&#64;epic-corp.co.jp</a></p>
      </section>
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->
