
<!DOCTYPE html>
<html lang="ja">

<head>
<meta charset="utf-8">
<meta http-equiv="content-style-type" content="text/css">
<meta http-equiv="content-script-type" content="text/javascript">
<meta name="description" content="超激安印刷、名刺がなんと100枚800円から！ぷりんと博士だからできる全国翌日スピード対応。頼んだ翌日にはあなたのお手元に届きます。激安スピード印刷なら、ぷりんと博士！">
<meta name="keywords" content="プリント,印刷,フランチャイズ,独立,FC,開業">




<!--[if lt IE 9]>
<script src="https://www.printhakase.com/js/html5.js"></script>
<![endif]-->
<link rel="stylesheet" href="https://www.printhakase.com/css/temp.css">
<link rel="stylesheet" href="https://www.printhakase.com/css/style.css">
<link rel="shortcut icon" href="https://www.printhakase.com/favicon.ico">
<title>オリジナル封筒・オフセット印刷 | ぷりんと博士</title>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27054988-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script type="text/javascript"> //<![CDATA[ 
var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.comodo.com/" : "http://www.trustlogo.com/");
document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
//]]>
</script>
</head>

<body>

<!-- START CONTAINER -->
 <div id="container">
<!-- START WRAPPER -->
  <div id="wrapper">

<!-- START HEADER -->
   <header>
    <div id="header-container">
     <div id="logo">
      <a href="https://www.printhakase.com/">ぷりんと博士</a>
     </div>
     <div id="contact-container">
      <div id="tel">0120-5454-22 受付時間／10：00～19：00（土・日・祝日除く）</div>
      <div id="contact-wrapper">
       <ul id="contact">
        <li id="contact"><a href="https://www.printhakase.com/contact.html">お問い合わせ</a></li>
        <li id="offer"><a href="https://www.printhakase.com/estimate.html">お見積り</a></li>
       </ul>
      </div>
     </div>
    </div>
   </header>
<!-- END HEADER -->

<!-- START CONTENT -->
   <div id="contents">

<!-- START LEFTSIDE -->
    <div id="leftbar">
<!-- START MENU -->
     <nav>
      <ul id="menu">
       <li id="home"><a href="/" class="home">HOME</a></li>
       
              <li id="member"><span class="member"><a href="https://www.printhakase.com/member/" class="admin">加盟店用メニュー</a></span>
        <ul id="submenu">
         <li class="none">新着情報</li>
         <li class="admin"><a href="https://www.printhakase.com/member/news.html">加盟店の皆様へのお知らせ</a></li>
         <li class="none">ファイルダウンロード</li>
         <!--<li class="admin"><a href="https://www.printhakase.com/member/download/admin.html">本部からファイルを受け取る</a></li>-->
         <li class="admin"><a href="https://www.printhakase.com/member/download/promotion.html">販促チラシを受け取る</a></li>
         <li class="admin"><a href="https://www.printhakase.com/member/download/other.html">その他ファイルを受け取る</a></li>
         <li class="none">ファイルアップロード</li>
         <li class="admin"><a href="https://www.printhakase.com/member/upload/admin/edit.html">本部へファイルを送る</a></li>
         <li class="admin"><a href="https://www.printhakase.com/member/upload/sales.html">FC加盟店売上報告書</a></li>
         <li class="none">価格表など</li>
         <li class="admin"><a href="https://www.printhakase.com/member/etc/offset.html">ｵﾘｼﾞﾅﾙ封筒・ｵﾌｾｯﾄ印刷</a></li>
         <li class="admin"><a href="https://www.printhakase.com/member/etc/envelope.html">封筒仕入金額表</a></li>
         <li class="admin"><a href="https://www.printhakase.com/member/etc/wear.html">ｳｪｱﾌﾟﾘﾝﾄ仕入金額表</a></li>
         <li id="bottom" class="admin"><a href="https://www.printhakase.com/member/etc/sp.html">SP・販促ツール</a></li>
        </ul>
       </li>
       <li id="submit"><a href="/submit.html" class="submit">データ入稿</a></li>
       <li id="price"><a href="/price.html" class="price">各種印刷価格表</a></li>
       <li id="printing"><span class="printing"><a href="/printing/" class="printing">各種印刷サービス</a></span>
        <ul id="submenu">
         <li><a href="/printing/smile.html">SMILE SMILE PROJECT</a></li>
         <li><a href="/printing/card.html">名刺・カード印刷</a></li>
         <li><a href="/printing/slip.html">名入れ伝票印刷</a></li>
         <li><a href="/printing/postcard.html">ハガキ印刷</a></li>
         <li><a href="/printing/envelope.html">名入れ封筒印刷</a></li>
         <li><a href="/printing/flyer.html">チラシ・フライヤー印刷</a></li>
         <li><a href="/printing/poster.html">ポスター印刷</a></li>
         <li><a href="/printing/brochure.html">会社案内印刷</a></li>
         <li><a href="/printing/uniform/">ユニフォームプリント</a></li>
         <li><a href="/printing/stamp.html">はんこ・スタンプ作成</a></li>
         <li><a href="/printing/novelty.html">ノベルティ名入れ印刷</a></li>
         <li id="bottom"><a href="/printing/telegram.html">ネット電報</a></li>
        </ul>
       </li>
       <li id="promo"><span class="promo"><a href="/promotion/" class="promo">各種販促サービス</a></span>
        <ul id="submenu">
         <li><a href="/promotion/dm.html">DM用販促グッズ</a></li>
         <li><a href="/promotion/homepage.html">ホームページ作成</a> <span class="red">NEW！</span></li>
         <li id="bottom"><a href="/promotion/mobile.html">携帯サイト・メルマガツール</a></li>
        </ul>
       </li>
       <li id="guide"><span class="guide"><a href="/guide/" class="guide">ご利用ガイド</a></span>
        <ul id="submenu">
         <li><a href="/guide/faq.html">よくあるご質問</a></li>
         <li><a href="/guide/flow.html">ご注文の手順について</a></li>
         <li><a href="/guide/dispatch.html">発送について</a></li>
         <li><a href="/guide/payment.html">お支払いについて</a></li>
         <li><a href="/guide/data.html">入稿について</a></li>
         <li><a href="/guide/inquiry.html">お問い合わせについて</a></li>
         <li id="bottom"><a href="/guide/cancel.html">キャンセル・変更について</a></li>
        </ul>
       </li>
       <li id="store"><span class="store"><a href="/store/" class="store">お近くの博士たち</a></span>
        <ul id="submenu">
         <li><a href="/store/hokkaido/">北海道エリア</a></li>
         <li><a href="/store/tohoku/">東北エリア</a></li>
         <li><a href="/store/kanto/">関東エリア</a></li>
         <li><a href="/store/hokuriku/">信越・北陸エリア</a></li>
         <li><a href="/store/tokai/">東海エリア</a></li>
         <li><a href="/store/kinki/">近畿エリア</a></li>
         <li><a href="/store/chugoku/">中国エリア</a></li>
         <li><a href="/store/shikoku/">四国エリア</a></li>
         <li id="bottom"><a href="/store/kyushu/">九州エリア</a></li>
        </ul>
       </li>
       <li id="fc"><span class="fc"><a href="/fc/" class="fc">加盟店募集</a></span>
        <ul id="submenu">
         <li><a href="/fc/station.html">ぷりんと博士ステーション</a></li>
         <li><a href="/fc/affiliation.html">博士になるには</a></li>
         <li><a href="/fc/briefing.html">事業説明会</a></li>
         <li><a href="/fc/request.html">資料請求</a></li>
         <li><a href="/fc/result.html">加盟実績</a></li>
         <li><a href="/fc/contract.html">契約内容</a></li>
         <li id="bottom"><a href="/fc/success.html">博士たちの成功談</a></li>
        </ul>
       </li>
      </ul>
     </nav>
<!-- END MENU -->
<!-- START SSL -->
     <div id="ssl">
      <script language="JavaScript" type="text/javascript">
       TrustLogo("https://www.printhakase.com/images/comodo_secure_seal_113x59_transp.png", "CL1", "none");
      </script>
      <p>ぷりんと博士サイトは、プライバシー保護の為SSL暗号化通信を導入しています。</p>
     </div>
<!-- END SSL -->
    </div>
<!-- END LEFTSIDE -->

<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
       <div id="breadcrumb-nav"><a href="https://www.printhakase.com/" title="HOME">HOME</a> &gt;  
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
<a href="/member/"">加盟店専用エリア</a> &gt;  
 
 
<a href="/member/etc/"">価格表など</a> &gt; オフセット印刷
 
 
 

 

 
</div>
      </div>
      <div id="userinfo">
       赤坂本店
      </div>
     </div>
     <article>
            <h1 class="title-member-offset">オリジナル封筒・オフセット印刷</h1>

      <section>
       <img src="https://www.printhakase.com/images/img-member-offset01.png" width="650" height="111" border="0" alt="ぷりんと博士オリジナル封筒使用によるオフセット印刷の料金表">
       <p class="red t">ぷりんと博士オリジナル封筒【長3・角2】を使用してのオフセット単色での料金となりますので、2C以上又はフルカラー印刷に関しては、通常通り見積依頼書をご記入の上お送りください。</p>
       <ol id="ollist">
        <li class="list">長3封筒は現状と同じものです。研修会等でお渡ししたサンプルです。</li>
        <li class="list">角2封筒は2種類あります。<br>a. ハートのパステルブルーと同色です。（紙圧は100g/㎡のセンター貼り、郵便番号枠はありません）<br>b. ハートのパステルグレーと同色です。（紙圧は100g/㎡のセンター貼り、郵便番号枠はありません）<br><span class="red">※a.、b.に関しては、通常の紙でできておりますので、エコマークはつきません。</span><br><img src="https://www.printhakase.com/images/img-member-offset02.png" width="650" height="190" border="0">
        </li>
        <li class="list">封筒の印刷は断ち切り（端まで印刷）はできません。<br>約10mmの端から余白が必要ですので版下を制作する時お気をつけください。（下記の料金は版下代は含まれていません）</li>
        <li class="list">下記の料金で角2封筒を印刷する場合、全体の印刷範囲をA4の大きさまでとします。<br>それ以上印刷範囲があるものは別途お見積もりください。</li>
        <li class="list">下記の料金表以外の枚数はお問い合わせください。</li>
        <li class="list">納期は印刷部数などにより異なりますのでお問い合わせください。</li>
        <li class="list">基本的にご注文はセット単位でお願いします。</li>
        <li class="list">送料は1セット（長3封筒は3箱／3000枚・角2封筒は2箱／1000枚） <br>北海道・九州は1セット800円（税別）<br>その他の地域は1セット500円（税別）（離島は除きます）<br>送料はセットでの料金ですので、長3封筒1箱や角2封筒1箱でも1セットの料金と同じです。</li>
       </ol>
      </section>

      <section>
       <h3 class="subtitle">オリジナル封筒・オフセット印刷料金表</h3>
       <table class="list">
        <tr>
         <th colspan="3">長3封筒&nbsp;&nbsp;1箱1000枚</th>
        </tr>
        <tr>
         <th class="bg-color-yellow width30">印刷色</th>
         <th class="bg-color-yellow width35">スミ1C</th>
         <th class="bg-color-yellow width35">特色(DIC)1C</th>
        </tr>
        <tr>
         <th>1000枚</th>
         <td>7,300円</td>
         <td>7,800円</td>
        </tr>
        <tr>
         <th>2000枚</th>
         <td>12,800円</td>
         <td>13,300円</td>
        </tr>
        <tr>
         <th>3000枚</th>
         <td>18,000円</td>
         <td>18,500円</td>
        </tr>
        <tr>
         <th>4000枚</th>
         <td>22,400円</td>
         <td>23,400円</td>
        </tr>
        <tr>
         <th>5000枚</th>
         <td>26,000円</td>
         <td>27,000円</td>
        </tr>
        <tr>
         <th>6000枚</th>
         <td>29,400円</td>
         <td>30,400円</td>
        </tr>
       </table>
       <table class="list">
        <tr>
         <th colspan="5">【角2パステル色・ブルー・グレー】に、片面1色・オフセット印刷・黒又は特色指定</th>
        </tr>
        <tr>
         <th class="bg-color-yellow">数</th>
         <th class="bg-color-yellow">500枚・1箱</th>
         <th class="bg-color-yellow">1000枚・2箱</th>
         <th class="bg-color-yellow">2000枚・4箱</th>
         <th class="bg-color-yellow">3000枚・6箱</th>
        </tr>
        <tr>
         <th>加盟店</th>
         <td>9,200円</td>
         <td>14,700円</td>
         <td>25,800円</td>
         <td>35,900円</td>
        </tr>
        <tr>
         <td colspan="5">黒1色でもDIC指定1色でも同料金です。消費税は含まれていません。</td>
        </tr>
       </table>
       <p class="red">※上記の金額は、すべて封筒代金込みの料金です。</p>
      </section>
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->

   </div>
<!-- END CONTENTS -->
  </div>
<!-- END WRAPPER -->

  <div id="adj"></div>

<!-- START FOOTER -->
  <footer>
   <div id="footer-container" class="clearfix">

    <div id="footer-navi">
     <ul id="footer-navi">
      <li><a href="https://www.printhakase.com/company.html">会社案内</a><span></span></li>
      <li><a href="https://www.printhakase.com/privacypolicy.html">個人情報保護方針</a><span></span></li>
      <li><a href="https://www.printhakase.com/consume.html">特定商取法に基づく表示</a><span></span></li>
      <li><a href="https://www.printhakase.com/sitemap.html">サイトマップ</a><span></span></li>
      <li><a href="http://www.facebook.com/printhakase/" target="_blank">Facebookページ</a></li>
     </ul>
    </div>

   </div>
   <div id="copyright">
&copy; 2016 EPIC Co.,Ltd. All Rights Reserved.
   </div>
  </footer>
<!-- END FOOTER -->

 </div>
<!-- END CONTAINER -->
<script type="text/javascript">
var preHost = (("https:" == document.location.protocol) ? "https://" : "http://");
var param = "secid=sBN2516bc";
document.write(unescape("%3Cscript src='" + preHost + "sashare.com/b/sokus.js' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>

</html>