
<!DOCTYPE html>
<html lang="ja">

<head>
<meta charset="utf-8">
<meta http-equiv="content-style-type" content="text/css">
<meta http-equiv="content-script-type" content="text/javascript">
<meta name="description" content="超激安印刷、名刺がなんと100枚800円から！ぷりんと博士だからできる全国翌日スピード対応。頼んだ翌日にはあなたのお手元に届きます。激安スピード印刷なら、ぷりんと博士！">
<meta name="keywords" content="プリント,印刷,フランチャイズ,独立,FC,開業">




<!--[if lt IE 9]>
<script src="https://www.printhakase.com/js/html5.js"></script>
<![endif]-->
<link rel="stylesheet" href="https://www.printhakase.com/css/temp.css">
<link rel="stylesheet" href="https://www.printhakase.com/css/style.css">
<link rel="shortcut icon" href="https://www.printhakase.com/favicon.ico">
<title>【一覧】その他チラシを送る | ぷりんと博士</title>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27054988-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script type="text/javascript"> //<![CDATA[ 
var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.comodo.com/" : "http://www.trustlogo.com/");
document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
//]]>
</script>
</head>

<body>

<!-- START CONTAINER -->
 <div id="container">
<!-- START WRAPPER -->
  <div id="wrapper">

<!-- START HEADER -->
   <header>
    <div id="header-container">
     <div id="logo">
      <a href="https://www.printhakase.com/">ぷりんと博士</a>
     </div>
     <div id="contact-container">
      <div id="tel">0120-5454-22 受付時間／10：00～19：00（土・日・祝日除く）</div>
      <div id="contact-wrapper">
       <ul id="contact">
        <li id="contact"><a href="https://www.printhakase.com/contact.html">お問い合わせ</a></li>
        <li id="offer"><a href="https://www.printhakase.com/estimate.html">お見積り</a></li>
       </ul>
      </div>
     </div>
    </div>
   </header>
<!-- END HEADER -->

<!-- START CONTENT -->
   <div id="contents">

<!-- START LEFTSIDE -->
    <div id="leftbar">
<!-- START MENU -->
     <nav>
      <ul id="menu">
       <li id="home"><a href="/" class="home">HOME</a></li>
              <li id="admin"><span class="admin"><a href="https://www.printhakase.com/admin/" class="admin">管理者用メニュー</a></span>
        <ul id="submenu">
         <li class="none">新着情報管理</li>
         <li class="admin"><a href="https://www.printhakase.com/admin/news/member/list.html">FC加盟店用</a></li>
         <li class="admin"><a href="https://www.printhakase.com/admin/news/web/list.html">WEBページ用</a></li>
         <li class="none">ファイルアップロード</li>
         <li class="admin"><a href="https://www.printhakase.com/admin/upload/member/list.html">各店舗へファイルを送る</a></li>
         <li class="admin"><a href="https://www.printhakase.com/admin/upload/promotion/list.html">販促チラシを送る</a></li>
         <li class="admin"><a href="https://www.printhakase.com/admin/upload/other/list.html">その他チラシを送る</a></li>
         <li class="none">ファイルダウンロード</li>
         <li class="admin"><a href="https://www.printhakase.com/admin/download/member.html">各店舗のファイルを受け取る</a></li>
         <li class="none">価格表など</li>
         <li class="admin"><a href="https://www.printhakase.com/member/etc/offset.html">ｵﾘｼﾞﾅﾙ封筒・ｵﾌｾｯﾄ印刷</a></li>
         <li class="admin"><a href="https://www.printhakase.com/member/etc/envelope.html">封筒仕入金額表</a></li>
         <li class="admin"><a href="https://www.printhakase.com/member/etc/wear.html">ｳｪｱﾌﾟﾘﾝﾄ仕入金額表</a></li>
         <li id="bottom" class="admin"><a href="https://www.printhakase.com/member/etc/sp.html">SP・販促ツール</a></li>
        </ul>
       </li>
       
       <li id="submit"><a href="/submit.html" class="submit">データ入稿</a></li>
       <li id="price"><a href="/price.html" class="price">各種印刷価格表</a></li>
       <li id="printing"><span class="printing"><a href="/printing/" class="printing">各種印刷サービス</a></span>
        <ul id="submenu">
         <li><a href="/printing/smile.html">SMILE SMILE PROJECT</a></li>
         <li><a href="/printing/card.html">名刺・カード印刷</a></li>
         <li><a href="/printing/slip.html">名入れ伝票印刷</a></li>
         <li><a href="/printing/postcard.html">ハガキ印刷</a></li>
         <li><a href="/printing/envelope.html">名入れ封筒印刷</a></li>
         <li><a href="/printing/flyer.html">チラシ・フライヤー印刷</a></li>
         <li><a href="/printing/poster.html">ポスター印刷</a></li>
         <li><a href="/printing/brochure.html">会社案内印刷</a></li>
         <li><a href="/printing/uniform/">ユニフォームプリント</a></li>
         <li><a href="/printing/stamp.html">はんこ・スタンプ作成</a></li>
         <li><a href="/printing/novelty.html">ノベルティ名入れ印刷</a></li>
         <li id="bottom"><a href="/printing/telegram.html">ネット電報</a></li>
        </ul>
       </li>
       <li id="promo"><span class="promo"><a href="/promotion/" class="promo">各種販促サービス</a></span>
        <ul id="submenu">
         <li><a href="/promotion/dm.html">DM用販促グッズ</a></li>
         <li><a href="/promotion/homepage.html">ホームページ作成</a> <span class="red">NEW！</span></li>
         <li id="bottom"><a href="/promotion/mobile.html">携帯サイト・メルマガツール</a></li>
        </ul>
       </li>
       <li id="guide"><span class="guide"><a href="/guide/" class="guide">ご利用ガイド</a></span>
        <ul id="submenu">
         <li><a href="/guide/faq.html">よくあるご質問</a></li>
         <li><a href="/guide/flow.html">ご注文の手順について</a></li>
         <li><a href="/guide/dispatch.html">発送について</a></li>
         <li><a href="/guide/payment.html">お支払いについて</a></li>
         <li><a href="/guide/data.html">入稿について</a></li>
         <li><a href="/guide/inquiry.html">お問い合わせについて</a></li>
         <li id="bottom"><a href="/guide/cancel.html">キャンセル・変更について</a></li>
        </ul>
       </li>
       <li id="store"><span class="store"><a href="/store/" class="store">お近くの博士たち</a></span>
        <ul id="submenu">
         <li><a href="/store/hokkaido/">北海道エリア</a></li>
         <li><a href="/store/tohoku/">東北エリア</a></li>
         <li><a href="/store/kanto/">関東エリア</a></li>
         <li><a href="/store/hokuriku/">信越・北陸エリア</a></li>
         <li><a href="/store/tokai/">東海エリア</a></li>
         <li><a href="/store/kinki/">近畿エリア</a></li>
         <li><a href="/store/chugoku/">中国エリア</a></li>
         <li><a href="/store/shikoku/">四国エリア</a></li>
         <li id="bottom"><a href="/store/kyushu/">九州エリア</a></li>
        </ul>
       </li>
       <li id="fc"><span class="fc"><a href="/fc/" class="fc">加盟店募集</a></span>
        <ul id="submenu">
         <li><a href="/fc/station.html">ぷりんと博士ステーション</a></li>
         <li><a href="/fc/affiliation.html">博士になるには</a></li>
         <li><a href="/fc/briefing.html">事業説明会</a></li>
         <li><a href="/fc/request.html">資料請求</a></li>
         <li><a href="/fc/result.html">加盟実績</a></li>
         <li><a href="/fc/contract.html">契約内容</a></li>
         <li id="bottom"><a href="/fc/success.html">博士たちの成功談</a></li>
        </ul>
       </li>
      </ul>
     </nav>
<!-- END MENU -->
<!-- START SSL -->
     <div id="ssl">
      <script language="JavaScript" type="text/javascript">
       TrustLogo("https://www.printhakase.com/images/comodo_secure_seal_113x59_transp.png", "CL1", "none");
      </script>
      <p>ぷりんと博士サイトは、プライバシー保護の為SSL暗号化通信を導入しています。</p>
     </div>
<!-- END SSL -->
    </div>
<!-- END LEFTSIDE -->

<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
       <div id="breadcrumb-nav"><a href="https://www.printhakase.com/" title="HOME">HOME</a> &gt;  
 
 
 
 
 
 
 
 
 
 
 
 
 
 
<a href="/admin/"">管理者専用エリア</a> &gt;  
<a href="/admin/upload/"">ファイルアップロード</a> &gt;  
 
<a href="/admin/upload/other/"">その他チラシを送る</a> &gt;  
リスト


 

 
 
</div>
      </div>
      <div id="userinfo">
       ぷりんと博士本部
      </div>
     </div>
     <article>
            <h1 class="title-upload-other">【一覧】その他チラシを送る</h1>
      <div id="bt_new">
       <form name="formnew" method="post" action="https://www.printhakase.com/admin/upload/other/edit.html">
        <input type="submit" class="button" name="new" value="新規送信">
       </form>
      </div>

      <section>
       <table border="0" cellpadding="0" cellspacing="0" class="form">
        
    <script type="text/javascript" >
      function doDelete4914()
      {
        if(confirm("本当に削除しますか？ '2017年年賀状システムのご案内'"))
        {
          return true;
          // document.getElementById("formdelete4914").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">2017年年賀状システムのご案内</span></strong></td>
  <td id="date">2016年10月07日</td>
 </tr>
 <tr>
  <td>今回も例年同様に年賀システムの導入を検討の加盟店様は内容を確認の上、本部までご連絡ください。詳細は加盟店専用ページ内のその他チラシのダウンロードからダウンロードしてください。</td>
  <td id="store">ぷりんと博士本部</td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="filename">2017-nennga.zip</div>
   <div id="buttons">

    <div id="bt">
     <form name="formdownload" method="post" action="http://www.printhakase.com/assets/files/2017-nennga.zip">
      <input type="submit" class="button" name="download" value="ダウンロード" />
     </form>
    </div>

    <div id="bt">
     <form name="formpublish" method="post" action="">
      <input name="publishvalue" type="hidden" value="0" />
      <input name="publishid" type="hidden" value="4914" />
      <input type="submit" class="button" name="publish" value="非公開" />
     </form>
    </div>

    <div id="bt">
     <form name="formdelete4914" method="post" action="">
      <input name="deleteid" type="hidden" value="4914" />
      <input type="submit" class="button" onclick="JavaScript: return doDelete4914();" name="delete" value="削　除" />
     </form>
    </div>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
    <script type="text/javascript" >
      function doDelete4874()
      {
        if(confirm("本当に削除しますか？ 'カードプリンターYJ-G650'"))
        {
          return true;
          // document.getElementById("formdelete4874").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">カードプリンターYJ-G650</span></strong></td>
  <td id="date">2016年09月02日</td>
 </tr>
 <tr>
  <td>生産終了前の最終案内</td>
  <td id="store">ぷりんと博士本部</td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="filename">YJ-G650.zip</div>
   <div id="buttons">

    <div id="bt">
     <form name="formdownload" method="post" action="http://www.printhakase.com/assets/files/YJ-G650.zip">
      <input type="submit" class="button" name="download" value="ダウンロード" />
     </form>
    </div>

    <div id="bt">
     <form name="formpublish" method="post" action="">
      <input name="publishvalue" type="hidden" value="0" />
      <input name="publishid" type="hidden" value="4874" />
      <input type="submit" class="button" name="publish" value="非公開" />
     </form>
    </div>

    <div id="bt">
     <form name="formdelete4874" method="post" action="">
      <input name="deleteid" type="hidden" value="4874" />
      <input type="submit" class="button" onclick="JavaScript: return doDelete4874();" name="delete" value="削　除" />
     </form>
    </div>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
    <script type="text/javascript" >
      function doDelete4743()
      {
        if(confirm("本当に削除しますか？ '紙製品メーカーの山櫻より、通販サイトがサービスの拡大をしたとの紹介と、封筒や名刺印刷が可能なプリンターの再紹介'"))
        {
          return true;
          // document.getElementById("formdelete4743").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">紙製品メーカーの山櫻より、通販サイトがサービスの拡大をしたとの紹介と、封筒や名刺印刷が可能なプリンターの再紹介</span></strong></td>
  <td id="date">2016年05月31日</td>
 </tr>
 <tr>
  <td>紙製品メーカーの山櫻より、通販サイトがサービスの拡大をしたとの紹介と、封筒や名刺印刷が可能なプリンターの再紹介</td>
  <td id="store">ぷりんと博士本部</td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="filename">160524　ご案内資料.zip</div>
   <div id="buttons">

    <div id="bt">
     <form name="formdownload" method="post" action="http://www.printhakase.com/assets/files/160524　ご案内資料.zip">
      <input type="submit" class="button" name="download" value="ダウンロード" />
     </form>
    </div>

    <div id="bt">
     <form name="formpublish" method="post" action="">
      <input name="publishvalue" type="hidden" value="0" />
      <input name="publishid" type="hidden" value="4743" />
      <input type="submit" class="button" name="publish" value="非公開" />
     </form>
    </div>

    <div id="bt">
     <form name="formdelete4743" method="post" action="">
      <input name="deleteid" type="hidden" value="4743" />
      <input type="submit" class="button" onclick="JavaScript: return doDelete4743();" name="delete" value="削　除" />
     </form>
    </div>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
    <script type="text/javascript" >
      function doDelete4478()
      {
        if(confirm("本当に削除しますか？ '加盟店各位'"))
        {
          return true;
          // document.getElementById("formdelete4478").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">加盟店各位</span></strong></td>
  <td id="date">2016年01月05日</td>
 </tr>
 <tr>
  <td>紙製品メーカーの山櫻より封筒や名刺印刷が可能なプリンターと、山櫻の既製品の購入や封筒への印刷を注文できる通販サイトの紹介がありましたので、各店舗へ案内致します。</td>
  <td id="store">ぷりんと博士本部</td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="filename">yamazakura.zip</div>
   <div id="buttons">

    <div id="bt">
     <form name="formdownload" method="post" action="http://www.printhakase.com/assets/files/yamazakura.zip">
      <input type="submit" class="button" name="download" value="ダウンロード" />
     </form>
    </div>

    <div id="bt">
     <form name="formpublish" method="post" action="">
      <input name="publishvalue" type="hidden" value="0" />
      <input name="publishid" type="hidden" value="4478" />
      <input type="submit" class="button" name="publish" value="非公開" />
     </form>
    </div>

    <div id="bt">
     <form name="formdelete4478" method="post" action="">
      <input name="deleteid" type="hidden" value="4478" />
      <input type="submit" class="button" onclick="JavaScript: return doDelete4478();" name="delete" value="削　除" />
     </form>
    </div>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
    <script type="text/javascript" >
      function doDelete4477()
      {
        if(confirm("本当に削除しますか？ 'メール設定'"))
        {
          return true;
          // document.getElementById("formdelete4477").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">メール設定</span></strong></td>
  <td id="date">2015年12月28日</td>
 </tr>
 <tr>
  <td>【メール設定について】メール設定方法を加盟店専用ページ内→ファイルダウンロード→その他ファイルを受け取るにアップロードしました。設定にご不安な方は新年明けてから本部が営業している時に行ってください。何卒、宜しくお願い致します。  ※加盟店名＠printhakase.comで送信をしている加盟店のみの変更となります。</td>
  <td id="store">ぷりんと博士本部</td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="filename">メール設定.zip</div>
   <div id="buttons">

    <div id="bt">
     <form name="formdownload" method="post" action="http://www.printhakase.com/assets/files/メール設定.zip">
      <input type="submit" class="button" name="download" value="ダウンロード" />
     </form>
    </div>

    <div id="bt">
     <form name="formpublish" method="post" action="">
      <input name="publishvalue" type="hidden" value="0" />
      <input name="publishid" type="hidden" value="4477" />
      <input type="submit" class="button" name="publish" value="非公開" />
     </form>
    </div>

    <div id="bt">
     <form name="formdelete4477" method="post" action="">
      <input name="deleteid" type="hidden" value="4477" />
      <input type="submit" class="button" onclick="JavaScript: return doDelete4477();" name="delete" value="削　除" />
     </form>
    </div>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
    <script type="text/javascript" >
      function doDelete4373()
      {
        if(confirm("本当に削除しますか？ 'nenga-Yo-2016_v9_ol.zip'"))
        {
          return true;
          // document.getElementById("formdelete4373").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">nenga-Yo-2016_v9_ol.zip</span></strong></td>
  <td id="date">2015年11月09日</td>
 </tr>
 <tr>
  <td>2016年　年賀状（ヨコ）ｖ9</td>
  <td id="store">ぷりんと博士本部</td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="filename">nenga-Yo-2016_v9_ol.zip</div>
   <div id="buttons">

    <div id="bt">
     <form name="formdownload" method="post" action="http://www.printhakase.com/assets/files/nenga-Yo-2016_v9_ol.zip">
      <input type="submit" class="button" name="download" value="ダウンロード" />
     </form>
    </div>

    <div id="bt">
     <form name="formpublish" method="post" action="">
      <input name="publishvalue" type="hidden" value="0" />
      <input name="publishid" type="hidden" value="4373" />
      <input type="submit" class="button" name="publish" value="非公開" />
     </form>
    </div>

    <div id="bt">
     <form name="formdelete4373" method="post" action="">
      <input name="deleteid" type="hidden" value="4373" />
      <input type="submit" class="button" onclick="JavaScript: return doDelete4373();" name="delete" value="削　除" />
     </form>
    </div>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
    <script type="text/javascript" >
      function doDelete4372()
      {
        if(confirm("本当に削除しますか？ 'nenga-Ta-2016_v9_ol.zip'"))
        {
          return true;
          // document.getElementById("formdelete4372").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">nenga-Ta-2016_v9_ol.zip</span></strong></td>
  <td id="date">2015年11月09日</td>
 </tr>
 <tr>
  <td>2016年　年賀状（タテ）ｖ9</td>
  <td id="store">ぷりんと博士本部</td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="filename">nenga-Ta-2016_v9_ol.zip</div>
   <div id="buttons">

    <div id="bt">
     <form name="formdownload" method="post" action="http://www.printhakase.com/assets/files/nenga-Ta-2016_v9_ol.zip">
      <input type="submit" class="button" name="download" value="ダウンロード" />
     </form>
    </div>

    <div id="bt">
     <form name="formpublish" method="post" action="">
      <input name="publishvalue" type="hidden" value="0" />
      <input name="publishid" type="hidden" value="4372" />
      <input type="submit" class="button" name="publish" value="非公開" />
     </form>
    </div>

    <div id="bt">
     <form name="formdelete4372" method="post" action="">
      <input name="deleteid" type="hidden" value="4372" />
      <input type="submit" class="button" onclick="JavaScript: return doDelete4372();" name="delete" value="削　除" />
     </form>
    </div>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
    <script type="text/javascript" >
      function doDelete4363()
      {
        if(confirm("本当に削除しますか？ 'nenga-Yo-2016_v10_ol.zip'"))
        {
          return true;
          // document.getElementById("formdelete4363").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">nenga-Yo-2016_v10_ol.zip</span></strong></td>
  <td id="date">2015年11月02日</td>
 </tr>
 <tr>
  <td>2016年　年賀状（ヨコ）</td>
  <td id="store">ぷりんと博士本部</td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="filename">nenga-Yo-2016_v10_ol.zip</div>
   <div id="buttons">

    <div id="bt">
     <form name="formdownload" method="post" action="http://www.printhakase.com/assets/files/nenga-Yo-2016_v10_ol.zip">
      <input type="submit" class="button" name="download" value="ダウンロード" />
     </form>
    </div>

    <div id="bt">
     <form name="formpublish" method="post" action="">
      <input name="publishvalue" type="hidden" value="0" />
      <input name="publishid" type="hidden" value="4363" />
      <input type="submit" class="button" name="publish" value="非公開" />
     </form>
    </div>

    <div id="bt">
     <form name="formdelete4363" method="post" action="">
      <input name="deleteid" type="hidden" value="4363" />
      <input type="submit" class="button" onclick="JavaScript: return doDelete4363();" name="delete" value="削　除" />
     </form>
    </div>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
    <script type="text/javascript" >
      function doDelete4362()
      {
        if(confirm("本当に削除しますか？ 'nenga-Ta-2016_v10_ol.zip'"))
        {
          return true;
          // document.getElementById("formdelete4362").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">nenga-Ta-2016_v10_ol.zip</span></strong></td>
  <td id="date">2015年11月02日</td>
 </tr>
 <tr>
  <td>2016年　年賀状（タテ）</td>
  <td id="store">ぷりんと博士本部</td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="filename">nenga-Ta-2016_v10_ol.zip</div>
   <div id="buttons">

    <div id="bt">
     <form name="formdownload" method="post" action="http://www.printhakase.com/assets/files/nenga-Ta-2016_v10_ol.zip">
      <input type="submit" class="button" name="download" value="ダウンロード" />
     </form>
    </div>

    <div id="bt">
     <form name="formpublish" method="post" action="">
      <input name="publishvalue" type="hidden" value="0" />
      <input name="publishid" type="hidden" value="4362" />
      <input type="submit" class="button" name="publish" value="非公開" />
     </form>
    </div>

    <div id="bt">
     <form name="formdelete4362" method="post" action="">
      <input name="deleteid" type="hidden" value="4362" />
      <input type="submit" class="button" onclick="JavaScript: return doDelete4362();" name="delete" value="削　除" />
     </form>
    </div>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
    <script type="text/javascript" >
      function doDelete4336()
      {
        if(confirm("本当に削除しますか？ '東京製版新価格表'"))
        {
          return true;
          // document.getElementById("formdelete4336").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">東京製版新価格表</span></strong></td>
  <td id="date">2015年10月15日</td>
 </tr>
 <tr>
  <td>【加盟店各位】東京製版の印章関係の販売価格改訂がありました。つきましてはお手持ちのカタログを差し替えて下さいます様お願い致します。また、価格改訂の伴い仕入れ価格の変更もございますので添付のデータをご確認ください。仕入れ掛け率は変更なく55％となっております。宜しくお願い致します。</td>
  <td id="store">ぷりんと博士本部</td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="filename">東京製版新価格.zip</div>
   <div id="buttons">

    <div id="bt">
     <form name="formdownload" method="post" action="http://www.printhakase.com/assets/files/東京製版新価格.zip">
      <input type="submit" class="button" name="download" value="ダウンロード" />
     </form>
    </div>

    <div id="bt">
     <form name="formpublish" method="post" action="">
      <input name="publishvalue" type="hidden" value="0" />
      <input name="publishid" type="hidden" value="4336" />
      <input type="submit" class="button" name="publish" value="非公開" />
     </form>
    </div>

    <div id="bt">
     <form name="formdelete4336" method="post" action="">
      <input name="deleteid" type="hidden" value="4336" />
      <input type="submit" class="button" onclick="JavaScript: return doDelete4336();" name="delete" value="削　除" />
     </form>
    </div>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
       </table>

       <div>
        <span class='nl_off'>&lt; Previous</span> | 1ファイル - 10ファイル | <a href='https://www.printhakase.com/admin/upload/other/list.html?start=10'>Next &gt;</a> 
       </div>
      </section>
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->

   </div>
<!-- END CONTENTS -->
  </div>
<!-- END WRAPPER -->

  <div id="adj"></div>

<!-- START FOOTER -->
  <footer>
   <div id="footer-container" class="clearfix">

    <div id="footer-navi">
     <ul id="footer-navi">
      <li><a href="https://www.printhakase.com/company.html">会社案内</a><span></span></li>
      <li><a href="https://www.printhakase.com/privacypolicy.html">個人情報保護方針</a><span></span></li>
      <li><a href="https://www.printhakase.com/consume.html">特定商取法に基づく表示</a><span></span></li>
      <li><a href="https://www.printhakase.com/sitemap.html">サイトマップ</a><span></span></li>
      <li><a href="http://www.facebook.com/printhakase/" target="_blank">Facebookページ</a></li>
     </ul>
    </div>

   </div>
   <div id="copyright">
&copy; 2016 EPIC Co.,Ltd. All Rights Reserved.
   </div>
  </footer>
<!-- END FOOTER -->

 </div>
<!-- END CONTAINER -->
<script type="text/javascript">
var preHost = (("https:" == document.location.protocol) ? "https://" : "http://");
var param = "secid=sBN2516bc";
document.write(unescape("%3Cscript src='" + preHost + "sashare.com/b/sokus.js' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>

</html>