
<!DOCTYPE html>
<html lang="ja">

<head>
<meta charset="utf-8">
<meta http-equiv="content-style-type" content="text/css">
<meta http-equiv="content-script-type" content="text/javascript">
<meta name="description" content="超激安印刷、名刺がなんと100枚800円から！ぷりんと博士だからできる全国翌日スピード対応。頼んだ翌日にはあなたのお手元に届きます。激安スピード印刷なら、ぷりんと博士！">
<meta name="keywords" content="プリント,印刷,フランチャイズ,独立,FC,開業">




<!--[if lt IE 9]>
<script src="https://www.printhakase.com/js/html5.js"></script>
<![endif]-->
<link rel="stylesheet" href="https://www.printhakase.com/css/temp.css">
<link rel="stylesheet" href="https://www.printhakase.com/css/style.css">
<link rel="shortcut icon" href="https://www.printhakase.com/favicon.ico">
<title>【一覧】販促チラシを送る | ぷりんと博士</title>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27054988-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script type="text/javascript"> //<![CDATA[ 
var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.comodo.com/" : "http://www.trustlogo.com/");
document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
//]]>
</script>
</head>

<body>

<!-- START CONTAINER -->
 <div id="container">
<!-- START WRAPPER -->
  <div id="wrapper">

<!-- START HEADER -->
   <header>
    <div id="header-container">
     <div id="logo">
      <a href="https://www.printhakase.com/">ぷりんと博士</a>
     </div>
     <div id="contact-container">
      <div id="tel">0120-5454-22 受付時間／10：00～19：00（土・日・祝日除く）</div>
      <div id="contact-wrapper">
       <ul id="contact">
        <li id="contact"><a href="https://www.printhakase.com/contact.html">お問い合わせ</a></li>
        <li id="offer"><a href="https://www.printhakase.com/estimate.html">お見積り</a></li>
       </ul>
      </div>
     </div>
    </div>
   </header>
<!-- END HEADER -->

<!-- START CONTENT -->
   <div id="contents">

<!-- START LEFTSIDE -->
    <div id="leftbar">
<!-- START MENU -->
     <nav>
      <ul id="menu">
       <li id="home"><a href="/" class="home">HOME</a></li>
              <li id="admin"><span class="admin"><a href="https://www.printhakase.com/admin/" class="admin">管理者用メニュー</a></span>
        <ul id="submenu">
         <li class="none">新着情報管理</li>
         <li class="admin"><a href="https://www.printhakase.com/admin/news/member/list.html">FC加盟店用</a></li>
         <li class="admin"><a href="https://www.printhakase.com/admin/news/web/list.html">WEBページ用</a></li>
         <li class="none">ファイルアップロード</li>
         <li class="admin"><a href="https://www.printhakase.com/admin/upload/member/list.html">各店舗へファイルを送る</a></li>
         <li class="admin"><a href="https://www.printhakase.com/admin/upload/promotion/list.html">販促チラシを送る</a></li>
         <li class="admin"><a href="https://www.printhakase.com/admin/upload/other/list.html">その他チラシを送る</a></li>
         <li class="none">ファイルダウンロード</li>
         <li class="admin"><a href="https://www.printhakase.com/admin/download/member.html">各店舗のファイルを受け取る</a></li>
         <li class="none">価格表など</li>
         <li class="admin"><a href="https://www.printhakase.com/member/etc/offset.html">ｵﾘｼﾞﾅﾙ封筒・ｵﾌｾｯﾄ印刷</a></li>
         <li class="admin"><a href="https://www.printhakase.com/member/etc/envelope.html">封筒仕入金額表</a></li>
         <li class="admin"><a href="https://www.printhakase.com/member/etc/wear.html">ｳｪｱﾌﾟﾘﾝﾄ仕入金額表</a></li>
         <li id="bottom" class="admin"><a href="https://www.printhakase.com/member/etc/sp.html">SP・販促ツール</a></li>
        </ul>
       </li>
       
       <li id="submit"><a href="/submit.html" class="submit">データ入稿</a></li>
       <li id="price"><a href="/price.html" class="price">各種印刷価格表</a></li>
       <li id="printing"><span class="printing"><a href="/printing/" class="printing">各種印刷サービス</a></span>
        <ul id="submenu">
         <li><a href="/printing/smile.html">SMILE SMILE PROJECT</a></li>
         <li><a href="/printing/card.html">名刺・カード印刷</a></li>
         <li><a href="/printing/slip.html">名入れ伝票印刷</a></li>
         <li><a href="/printing/postcard.html">ハガキ印刷</a></li>
         <li><a href="/printing/envelope.html">名入れ封筒印刷</a></li>
         <li><a href="/printing/flyer.html">チラシ・フライヤー印刷</a></li>
         <li><a href="/printing/poster.html">ポスター印刷</a></li>
         <li><a href="/printing/brochure.html">会社案内印刷</a></li>
         <li><a href="/printing/uniform/">ユニフォームプリント</a></li>
         <li><a href="/printing/stamp.html">はんこ・スタンプ作成</a></li>
         <li><a href="/printing/novelty.html">ノベルティ名入れ印刷</a></li>
         <li id="bottom"><a href="/printing/telegram.html">ネット電報</a></li>
        </ul>
       </li>
       <li id="promo"><span class="promo"><a href="/promotion/" class="promo">各種販促サービス</a></span>
        <ul id="submenu">
         <li><a href="/promotion/dm.html">DM用販促グッズ</a></li>
         <li><a href="/promotion/homepage.html">ホームページ作成</a> <span class="red">NEW！</span></li>
         <li id="bottom"><a href="/promotion/mobile.html">携帯サイト・メルマガツール</a></li>
        </ul>
       </li>
       <li id="guide"><span class="guide"><a href="/guide/" class="guide">ご利用ガイド</a></span>
        <ul id="submenu">
         <li><a href="/guide/faq.html">よくあるご質問</a></li>
         <li><a href="/guide/flow.html">ご注文の手順について</a></li>
         <li><a href="/guide/dispatch.html">発送について</a></li>
         <li><a href="/guide/payment.html">お支払いについて</a></li>
         <li><a href="/guide/data.html">入稿について</a></li>
         <li><a href="/guide/inquiry.html">お問い合わせについて</a></li>
         <li id="bottom"><a href="/guide/cancel.html">キャンセル・変更について</a></li>
        </ul>
       </li>
       <li id="store"><span class="store"><a href="/store/" class="store">お近くの博士たち</a></span>
        <ul id="submenu">
         <li><a href="/store/hokkaido/">北海道エリア</a></li>
         <li><a href="/store/tohoku/">東北エリア</a></li>
         <li><a href="/store/kanto/">関東エリア</a></li>
         <li><a href="/store/hokuriku/">信越・北陸エリア</a></li>
         <li><a href="/store/tokai/">東海エリア</a></li>
         <li><a href="/store/kinki/">近畿エリア</a></li>
         <li><a href="/store/chugoku/">中国エリア</a></li>
         <li><a href="/store/shikoku/">四国エリア</a></li>
         <li id="bottom"><a href="/store/kyushu/">九州エリア</a></li>
        </ul>
       </li>
       <li id="fc"><span class="fc"><a href="/fc/" class="fc">加盟店募集</a></span>
        <ul id="submenu">
         <li><a href="/fc/station.html">ぷりんと博士ステーション</a></li>
         <li><a href="/fc/affiliation.html">博士になるには</a></li>
         <li><a href="/fc/briefing.html">事業説明会</a></li>
         <li><a href="/fc/request.html">資料請求</a></li>
         <li><a href="/fc/result.html">加盟実績</a></li>
         <li><a href="/fc/contract.html">契約内容</a></li>
         <li id="bottom"><a href="/fc/success.html">博士たちの成功談</a></li>
        </ul>
       </li>
      </ul>
     </nav>
<!-- END MENU -->
<!-- START SSL -->
     <div id="ssl">
      <script language="JavaScript" type="text/javascript">
       TrustLogo("https://www.printhakase.com/images/comodo_secure_seal_113x59_transp.png", "CL1", "none");
      </script>
      <p>ぷりんと博士サイトは、プライバシー保護の為SSL暗号化通信を導入しています。</p>
     </div>
<!-- END SSL -->
    </div>
<!-- END LEFTSIDE -->

<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
       <div id="breadcrumb-nav"><a href="https://www.printhakase.com/" title="HOME">HOME</a> &gt;  
 
 
 
 
 
 
 
 
 
 
 
 
 
 
<a href="/admin/"">管理者専用エリア</a> &gt;  
<a href="/admin/upload/"">ファイルアップロード</a> &gt;  
<a href="/admin/upload/promotion.html"">販促チラシを送る</a> &gt;  
リスト

 

 

 
 
</div>
      </div>
      <div id="userinfo">
       ぷりんと博士本部
      </div>
     </div>
     <article>
            <h1 class="title-upload-promotion">【一覧】販促チラシを送る</h1>
      <div id="bt_new">
       <form name="formnew" method="post" action="https://www.printhakase.com/admin/upload/promotion/edit.html">
        <input type="submit" class="button" name="new" value="新規送信">
       </form>
      </div>

      <section>
       <table border="0" cellpadding="0" cellspacing="0" class="form">
        
    <script type="text/javascript" >
      function doDelete4660()
      {
        if(confirm("本当に削除しますか？ '1604-hansoku_v10.ai'"))
        {
          return true;
          // document.getElementById("formdelete4660").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">1604-hansoku_v10.ai</span></strong></td>
  <td id="date">2016年03月31日</td>
 </tr>
 <tr>
  <td>販促チラシアップします。</td>
  <td id="store">ぷりんと博士本部</td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="filename">1604-hansoku_v10.zip</div>
   <div id="buttons">

    <div id="bt">
     <form name="formdownload" method="post" action="http://www.printhakase.com/assets/files/1604-hansoku_v10.zip">
      <input type="submit" class="button" name="download" value="ダウンロード" />
     </form>
    </div>

    <div id="bt">
     <form name="formpublish" method="post" action="">
      <input name="publishvalue" type="hidden" value="0" />
      <input name="publishid" type="hidden" value="4660" />
      <input type="submit" class="button" name="publish" value="非公開" />
     </form>
    </div>

    <div id="bt">
     <form name="formdelete4660" method="post" action="">
      <input name="deleteid" type="hidden" value="4660" />
      <input type="submit" class="button" onclick="JavaScript: return doDelete4660();" name="delete" value="削　除" />
     </form>
    </div>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
    <script type="text/javascript" >
      function doDelete4536()
      {
        if(confirm("本当に削除しますか？ '1602-hansoku_v10.ai'"))
        {
          return true;
          // document.getElementById("formdelete4536").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">1602-hansoku_v10.ai</span></strong></td>
  <td id="date">2016年01月29日</td>
 </tr>
 <tr>
  <td>2月の販促チラシをアップ致します。</td>
  <td id="store">ぷりんと博士本部</td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="filename">1602-hansoku_v10.zip</div>
   <div id="buttons">

    <div id="bt">
     <form name="formdownload" method="post" action="http://www.printhakase.com/assets/files/1602-hansoku_v10.zip">
      <input type="submit" class="button" name="download" value="ダウンロード" />
     </form>
    </div>

    <div id="bt">
     <form name="formpublish" method="post" action="">
      <input name="publishvalue" type="hidden" value="0" />
      <input name="publishid" type="hidden" value="4536" />
      <input type="submit" class="button" name="publish" value="非公開" />
     </form>
    </div>

    <div id="bt">
     <form name="formdelete4536" method="post" action="">
      <input name="deleteid" type="hidden" value="4536" />
      <input type="submit" class="button" onclick="JavaScript: return doDelete4536();" name="delete" value="削　除" />
     </form>
    </div>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
    <script type="text/javascript" >
      function doDelete4468()
      {
        if(confirm("本当に削除しますか？ '1601-hansoku_v10.ai'"))
        {
          return true;
          // document.getElementById("formdelete4468").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">1601-hansoku_v10.ai</span></strong></td>
  <td id="date">2015年12月21日</td>
 </tr>
 <tr>
  <td>2016年１月　販促チラシ</td>
  <td id="store">ぷりんと博士本部</td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="filename">1601-hansoku_v10.zip</div>
   <div id="buttons">

    <div id="bt">
     <form name="formdownload" method="post" action="http://www.printhakase.com/assets/files/1601-hansoku_v10.zip">
      <input type="submit" class="button" name="download" value="ダウンロード" />
     </form>
    </div>

    <div id="bt">
     <form name="formpublish" method="post" action="">
      <input name="publishvalue" type="hidden" value="0" />
      <input name="publishid" type="hidden" value="4468" />
      <input type="submit" class="button" name="publish" value="非公開" />
     </form>
    </div>

    <div id="bt">
     <form name="formdelete4468" method="post" action="">
      <input name="deleteid" type="hidden" value="4468" />
      <input type="submit" class="button" onclick="JavaScript: return doDelete4468();" name="delete" value="削　除" />
     </form>
    </div>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
    <script type="text/javascript" >
      function doDelete4420()
      {
        if(confirm("本当に削除しますか？ '1512-hansoku_v10.ai'"))
        {
          return true;
          // document.getElementById("formdelete4420").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">1512-hansoku_v10.ai</span></strong></td>
  <td id="date">2015年11月30日</td>
 </tr>
 <tr>
  <td>2015年12月　販促チラシ</td>
  <td id="store">ぷりんと博士本部</td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="filename">1512-hansoku_v10.zip</div>
   <div id="buttons">

    <div id="bt">
     <form name="formdownload" method="post" action="http://www.printhakase.com/assets/files/1512-hansoku_v10.zip">
      <input type="submit" class="button" name="download" value="ダウンロード" />
     </form>
    </div>

    <div id="bt">
     <form name="formpublish" method="post" action="">
      <input name="publishvalue" type="hidden" value="0" />
      <input name="publishid" type="hidden" value="4420" />
      <input type="submit" class="button" name="publish" value="非公開" />
     </form>
    </div>

    <div id="bt">
     <form name="formdelete4420" method="post" action="">
      <input name="deleteid" type="hidden" value="4420" />
      <input type="submit" class="button" onclick="JavaScript: return doDelete4420();" name="delete" value="削　除" />
     </form>
    </div>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
    <script type="text/javascript" >
      function doDelete4350()
      {
        if(confirm("本当に削除しますか？ '1511-hansoku_v10.ai'"))
        {
          return true;
          // document.getElementById("formdelete4350").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">1511-hansoku_v10.ai</span></strong></td>
  <td id="date">2015年10月26日</td>
 </tr>
 <tr>
  <td>2015年11月　販促チラシ</td>
  <td id="store">ぷりんと博士本部</td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="filename">1511-hansoku_v10.zip</div>
   <div id="buttons">

    <div id="bt">
     <form name="formdownload" method="post" action="http://www.printhakase.com/assets/files/1511-hansoku_v10.zip">
      <input type="submit" class="button" name="download" value="ダウンロード" />
     </form>
    </div>

    <div id="bt">
     <form name="formpublish" method="post" action="">
      <input name="publishvalue" type="hidden" value="0" />
      <input name="publishid" type="hidden" value="4350" />
      <input type="submit" class="button" name="publish" value="非公開" />
     </form>
    </div>

    <div id="bt">
     <form name="formdelete4350" method="post" action="">
      <input name="deleteid" type="hidden" value="4350" />
      <input type="submit" class="button" onclick="JavaScript: return doDelete4350();" name="delete" value="削　除" />
     </form>
    </div>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
    <script type="text/javascript" >
      function doDelete4294()
      {
        if(confirm("本当に削除しますか？ '1510-hansoku_v10.ai'"))
        {
          return true;
          // document.getElementById("formdelete4294").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">1510-hansoku_v10.ai</span></strong></td>
  <td id="date">2015年09月28日</td>
 </tr>
 <tr>
  <td>2015年10月　販促チラシ</td>
  <td id="store">ぷりんと博士本部</td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="filename">1510-hansoku_v10.zip</div>
   <div id="buttons">

    <div id="bt">
     <form name="formdownload" method="post" action="http://www.printhakase.com/assets/files/1510-hansoku_v10.zip">
      <input type="submit" class="button" name="download" value="ダウンロード" />
     </form>
    </div>

    <div id="bt">
     <form name="formpublish" method="post" action="">
      <input name="publishvalue" type="hidden" value="0" />
      <input name="publishid" type="hidden" value="4294" />
      <input type="submit" class="button" name="publish" value="非公開" />
     </form>
    </div>

    <div id="bt">
     <form name="formdelete4294" method="post" action="">
      <input name="deleteid" type="hidden" value="4294" />
      <input type="submit" class="button" onclick="JavaScript: return doDelete4294();" name="delete" value="削　除" />
     </form>
    </div>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
    <script type="text/javascript" >
      function doDelete4226()
      {
        if(confirm("本当に削除しますか？ '1509-hansoku_v10.ai'"))
        {
          return true;
          // document.getElementById("formdelete4226").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">1509-hansoku_v10.ai</span></strong></td>
  <td id="date">2015年08月24日</td>
 </tr>
 <tr>
  <td>2015年９月　販促チラシ</td>
  <td id="store">ぷりんと博士本部</td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="filename">1509-hansoku_v10.zip</div>
   <div id="buttons">

    <div id="bt">
     <form name="formdownload" method="post" action="http://www.printhakase.com/assets/files/1509-hansoku_v10.zip">
      <input type="submit" class="button" name="download" value="ダウンロード" />
     </form>
    </div>

    <div id="bt">
     <form name="formpublish" method="post" action="">
      <input name="publishvalue" type="hidden" value="0" />
      <input name="publishid" type="hidden" value="4226" />
      <input type="submit" class="button" name="publish" value="非公開" />
     </form>
    </div>

    <div id="bt">
     <form name="formdelete4226" method="post" action="">
      <input name="deleteid" type="hidden" value="4226" />
      <input type="submit" class="button" onclick="JavaScript: return doDelete4226();" name="delete" value="削　除" />
     </form>
    </div>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
    <script type="text/javascript" >
      function doDelete4173()
      {
        if(confirm("本当に削除しますか？ '1508-hansoku_v10.ai'"))
        {
          return true;
          // document.getElementById("formdelete4173").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">1508-hansoku_v10.ai</span></strong></td>
  <td id="date">2015年07月28日</td>
 </tr>
 <tr>
  <td>2015年８月　販促チラシ</td>
  <td id="store">ぷりんと博士本部</td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="filename">1508-hansoku_v10.zip</div>
   <div id="buttons">

    <div id="bt">
     <form name="formdownload" method="post" action="http://www.printhakase.com/assets/files/1508-hansoku_v10.zip">
      <input type="submit" class="button" name="download" value="ダウンロード" />
     </form>
    </div>

    <div id="bt">
     <form name="formpublish" method="post" action="">
      <input name="publishvalue" type="hidden" value="0" />
      <input name="publishid" type="hidden" value="4173" />
      <input type="submit" class="button" name="publish" value="非公開" />
     </form>
    </div>

    <div id="bt">
     <form name="formdelete4173" method="post" action="">
      <input name="deleteid" type="hidden" value="4173" />
      <input type="submit" class="button" onclick="JavaScript: return doDelete4173();" name="delete" value="削　除" />
     </form>
    </div>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
    <script type="text/javascript" >
      function doDelete4125()
      {
        if(confirm("本当に削除しますか？ '1507-hansoku_v10.zip'"))
        {
          return true;
          // document.getElementById("formdelete4125").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">1507-hansoku_v10.zip</span></strong></td>
  <td id="date">2015年07月03日</td>
 </tr>
 <tr>
  <td>2015年7月　販促チラシ</td>
  <td id="store">ぷりんと博士本部</td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="filename">1507-hansoku_v10.zip</div>
   <div id="buttons">

    <div id="bt">
     <form name="formdownload" method="post" action="http://www.printhakase.com/assets/files/1507-hansoku_v10.zip">
      <input type="submit" class="button" name="download" value="ダウンロード" />
     </form>
    </div>

    <div id="bt">
     <form name="formpublish" method="post" action="">
      <input name="publishvalue" type="hidden" value="0" />
      <input name="publishid" type="hidden" value="4125" />
      <input type="submit" class="button" name="publish" value="非公開" />
     </form>
    </div>

    <div id="bt">
     <form name="formdelete4125" method="post" action="">
      <input name="deleteid" type="hidden" value="4125" />
      <input type="submit" class="button" onclick="JavaScript: return doDelete4125();" name="delete" value="削　除" />
     </form>
    </div>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
    <script type="text/javascript" >
      function doDelete4072()
      {
        if(confirm("本当に削除しますか？ '1506-hansoku_v10.zip'"))
        {
          return true;
          // document.getElementById("formdelete4072").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">1506-hansoku_v10.zip</span></strong></td>
  <td id="date">2015年06月01日</td>
 </tr>
 <tr>
  <td>2015年６月　販促チラシ</td>
  <td id="store">ぷりんと博士本部</td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="filename">1506-hansoku_v10.zip</div>
   <div id="buttons">

    <div id="bt">
     <form name="formdownload" method="post" action="http://www.printhakase.com/assets/files/1506-hansoku_v10.zip">
      <input type="submit" class="button" name="download" value="ダウンロード" />
     </form>
    </div>

    <div id="bt">
     <form name="formpublish" method="post" action="">
      <input name="publishvalue" type="hidden" value="0" />
      <input name="publishid" type="hidden" value="4072" />
      <input type="submit" class="button" name="publish" value="非公開" />
     </form>
    </div>

    <div id="bt">
     <form name="formdelete4072" method="post" action="">
      <input name="deleteid" type="hidden" value="4072" />
      <input type="submit" class="button" onclick="JavaScript: return doDelete4072();" name="delete" value="削　除" />
     </form>
    </div>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
    <script type="text/javascript" >
      function doDelete4016()
      {
        if(confirm("本当に削除しますか？ '2015年5月　販促チラシ'"))
        {
          return true;
          // document.getElementById("formdelete4016").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">2015年5月　販促チラシ</span></strong></td>
  <td id="date">2015年04月24日</td>
 </tr>
 <tr>
  <td>2015年5月　販促チラシ</td>
  <td id="store">ぷりんと博士本部</td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="filename">1505-hansoku_v10.zip</div>
   <div id="buttons">

    <div id="bt">
     <form name="formdownload" method="post" action="http://www.printhakase.com/assets/files/1505-hansoku_v10.zip">
      <input type="submit" class="button" name="download" value="ダウンロード" />
     </form>
    </div>

    <div id="bt">
     <form name="formpublish" method="post" action="">
      <input name="publishvalue" type="hidden" value="0" />
      <input name="publishid" type="hidden" value="4016" />
      <input type="submit" class="button" name="publish" value="非公開" />
     </form>
    </div>

    <div id="bt">
     <form name="formdelete4016" method="post" action="">
      <input name="deleteid" type="hidden" value="4016" />
      <input type="submit" class="button" onclick="JavaScript: return doDelete4016();" name="delete" value="削　除" />
     </form>
    </div>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
    <script type="text/javascript" >
      function doDelete3965()
      {
        if(confirm("本当に削除しますか？ '2015年4月　販促チラシ'"))
        {
          return true;
          // document.getElementById("formdelete3965").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">2015年4月　販促チラシ</span></strong></td>
  <td id="date">2015年04月01日</td>
 </tr>
 <tr>
  <td>2015年4月　販促チラシ</td>
  <td id="store">ぷりんと博士本部</td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="filename">1504-hansoku.zip</div>
   <div id="buttons">

    <div id="bt">
     <form name="formdownload" method="post" action="http://www.printhakase.com/assets/files/1504-hansoku.zip">
      <input type="submit" class="button" name="download" value="ダウンロード" />
     </form>
    </div>

    <div id="bt">
     <form name="formpublish" method="post" action="">
      <input name="publishvalue" type="hidden" value="0" />
      <input name="publishid" type="hidden" value="3965" />
      <input type="submit" class="button" name="publish" value="非公開" />
     </form>
    </div>

    <div id="bt">
     <form name="formdelete3965" method="post" action="">
      <input name="deleteid" type="hidden" value="3965" />
      <input type="submit" class="button" onclick="JavaScript: return doDelete3965();" name="delete" value="削　除" />
     </form>
    </div>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
    <script type="text/javascript" >
      function doDelete3905()
      {
        if(confirm("本当に削除しますか？ '2015年３月　販促チラシ'"))
        {
          return true;
          // document.getElementById("formdelete3905").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">2015年３月　販促チラシ</span></strong></td>
  <td id="date">2015年02月27日</td>
 </tr>
 <tr>
  <td>2015年３月　販促チラシ</td>
  <td id="store">ぷりんと博士本部</td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="filename">1503-hansoku_v10_ol.zip</div>
   <div id="buttons">

    <div id="bt">
     <form name="formdownload" method="post" action="http://www.printhakase.com/assets/files/1503-hansoku_v10_ol.zip">
      <input type="submit" class="button" name="download" value="ダウンロード" />
     </form>
    </div>

    <div id="bt">
     <form name="formpublish" method="post" action="">
      <input name="publishvalue" type="hidden" value="0" />
      <input name="publishid" type="hidden" value="3905" />
      <input type="submit" class="button" name="publish" value="非公開" />
     </form>
    </div>

    <div id="bt">
     <form name="formdelete3905" method="post" action="">
      <input name="deleteid" type="hidden" value="3905" />
      <input type="submit" class="button" onclick="JavaScript: return doDelete3905();" name="delete" value="削　除" />
     </form>
    </div>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
    <script type="text/javascript" >
      function doDelete3849()
      {
        if(confirm("本当に削除しますか？ '2015年2月　販促チラシ'"))
        {
          return true;
          // document.getElementById("formdelete3849").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">2015年2月　販促チラシ</span></strong></td>
  <td id="date">2015年02月03日</td>
 </tr>
 <tr>
  <td>2015年2月　販促チラシ</td>
  <td id="store">ぷりんと博士本部</td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="filename">1502-hansoku_v10_ol.zip</div>
   <div id="buttons">

    <div id="bt">
     <form name="formdownload" method="post" action="http://www.printhakase.com/assets/files/1502-hansoku_v10_ol.zip">
      <input type="submit" class="button" name="download" value="ダウンロード" />
     </form>
    </div>

    <div id="bt">
     <form name="formpublish" method="post" action="">
      <input name="publishvalue" type="hidden" value="0" />
      <input name="publishid" type="hidden" value="3849" />
      <input type="submit" class="button" name="publish" value="非公開" />
     </form>
    </div>

    <div id="bt">
     <form name="formdelete3849" method="post" action="">
      <input name="deleteid" type="hidden" value="3849" />
      <input type="submit" class="button" onclick="JavaScript: return doDelete3849();" name="delete" value="削　除" />
     </form>
    </div>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
    <script type="text/javascript" >
      function doDelete3792()
      {
        if(confirm("本当に削除しますか？ '2015年1月　販促チラシ'"))
        {
          return true;
          // document.getElementById("formdelete3792").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">2015年1月　販促チラシ</span></strong></td>
  <td id="date">2015年01月06日</td>
 </tr>
 <tr>
  <td>2015年1月　販促チラシ</td>
  <td id="store">ぷりんと博士本部</td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="filename">1501-hansoku_ol_v10.zip</div>
   <div id="buttons">

    <div id="bt">
     <form name="formdownload" method="post" action="http://www.printhakase.com/assets/files/1501-hansoku_ol_v10.zip">
      <input type="submit" class="button" name="download" value="ダウンロード" />
     </form>
    </div>

    <div id="bt">
     <form name="formpublish" method="post" action="">
      <input name="publishvalue" type="hidden" value="0" />
      <input name="publishid" type="hidden" value="3792" />
      <input type="submit" class="button" name="publish" value="非公開" />
     </form>
    </div>

    <div id="bt">
     <form name="formdelete3792" method="post" action="">
      <input name="deleteid" type="hidden" value="3792" />
      <input type="submit" class="button" onclick="JavaScript: return doDelete3792();" name="delete" value="削　除" />
     </form>
    </div>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
    <script type="text/javascript" >
      function doDelete3726()
      {
        if(confirm("本当に削除しますか？ '2014年12月　販促チラシ'"))
        {
          return true;
          // document.getElementById("formdelete3726").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">2014年12月　販促チラシ</span></strong></td>
  <td id="date">2014年11月28日</td>
 </tr>
 <tr>
  <td>2014年12月　販促チラシ</td>
  <td id="store">ぷりんと博士本部</td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="filename">1412-hansoku_ol_v10.zip</div>
   <div id="buttons">

    <div id="bt">
     <form name="formdownload" method="post" action="http://www.printhakase.com/assets/files/1412-hansoku_ol_v10.zip">
      <input type="submit" class="button" name="download" value="ダウンロード" />
     </form>
    </div>

    <div id="bt">
     <form name="formpublish" method="post" action="">
      <input name="publishvalue" type="hidden" value="0" />
      <input name="publishid" type="hidden" value="3726" />
      <input type="submit" class="button" name="publish" value="非公開" />
     </form>
    </div>

    <div id="bt">
     <form name="formdelete3726" method="post" action="">
      <input name="deleteid" type="hidden" value="3726" />
      <input type="submit" class="button" onclick="JavaScript: return doDelete3726();" name="delete" value="削　除" />
     </form>
    </div>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
    <script type="text/javascript" >
      function doDelete3645()
      {
        if(confirm("本当に削除しますか？ '2014年11月　販促チラシ'"))
        {
          return true;
          // document.getElementById("formdelete3645").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">2014年11月　販促チラシ</span></strong></td>
  <td id="date">2014年10月31日</td>
 </tr>
 <tr>
  <td>2014年10月　販促チラシ　</td>
  <td id="store">ぷりんと博士本部</td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="filename">1411-hansoku_ol.zip</div>
   <div id="buttons">

    <div id="bt">
     <form name="formdownload" method="post" action="http://www.printhakase.com/assets/files/1411-hansoku_ol.zip">
      <input type="submit" class="button" name="download" value="ダウンロード" />
     </form>
    </div>

    <div id="bt">
     <form name="formpublish" method="post" action="">
      <input name="publishvalue" type="hidden" value="0" />
      <input name="publishid" type="hidden" value="3645" />
      <input type="submit" class="button" name="publish" value="非公開" />
     </form>
    </div>

    <div id="bt">
     <form name="formdelete3645" method="post" action="">
      <input name="deleteid" type="hidden" value="3645" />
      <input type="submit" class="button" onclick="JavaScript: return doDelete3645();" name="delete" value="削　除" />
     </form>
    </div>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
    <script type="text/javascript" >
      function doDelete3600()
      {
        if(confirm("本当に削除しますか？ '2014年10月　販促チラシ'"))
        {
          return true;
          // document.getElementById("formdelete3600").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">2014年10月　販促チラシ</span></strong></td>
  <td id="date">2014年10月10日</td>
 </tr>
 <tr>
  <td>10月の販促チラシをアップ致します。遅くなり大変申し訳ございませんでした。</td>
  <td id="store">ぷりんと博士本部</td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="filename">1410-hansoku_ol.zip</div>
   <div id="buttons">

    <div id="bt">
     <form name="formdownload" method="post" action="http://www.printhakase.com/assets/files/1410-hansoku_ol.zip">
      <input type="submit" class="button" name="download" value="ダウンロード" />
     </form>
    </div>

    <div id="bt">
     <form name="formpublish" method="post" action="">
      <input name="publishvalue" type="hidden" value="0" />
      <input name="publishid" type="hidden" value="3600" />
      <input type="submit" class="button" name="publish" value="非公開" />
     </form>
    </div>

    <div id="bt">
     <form name="formdelete3600" method="post" action="">
      <input name="deleteid" type="hidden" value="3600" />
      <input type="submit" class="button" onclick="JavaScript: return doDelete3600();" name="delete" value="削　除" />
     </form>
    </div>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
    <script type="text/javascript" >
      function doDelete3537()
      {
        if(confirm("本当に削除しますか？ '2014年９月販促'"))
        {
          return true;
          // document.getElementById("formdelete3537").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">2014年９月販促</span></strong></td>
  <td id="date">2014年08月27日</td>
 </tr>
 <tr>
  <td>販促チラシ</td>
  <td id="store">ぷりんと博士本部</td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="filename">1409-hansoku.zip</div>
   <div id="buttons">

    <div id="bt">
     <form name="formdownload" method="post" action="http://www.printhakase.com/assets/files/1409-hansoku.zip">
      <input type="submit" class="button" name="download" value="ダウンロード" />
     </form>
    </div>

    <div id="bt">
     <form name="formpublish" method="post" action="">
      <input name="publishvalue" type="hidden" value="0" />
      <input name="publishid" type="hidden" value="3537" />
      <input type="submit" class="button" name="publish" value="非公開" />
     </form>
    </div>

    <div id="bt">
     <form name="formdelete3537" method="post" action="">
      <input name="deleteid" type="hidden" value="3537" />
      <input type="submit" class="button" onclick="JavaScript: return doDelete3537();" name="delete" value="削　除" />
     </form>
    </div>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
    <script type="text/javascript" >
      function doDelete3536()
      {
        if(confirm("本当に削除しますか？ '2014年８月'"))
        {
          return true;
          // document.getElementById("formdelete3536").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">2014年８月</span></strong></td>
  <td id="date">2014年08月27日</td>
 </tr>
 <tr>
  <td>販促８月</td>
  <td id="store">ぷりんと博士本部</td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="filename">1408hansoku.zip</div>
   <div id="buttons">

    <div id="bt">
     <form name="formdownload" method="post" action="http://www.printhakase.com/assets/files/1408hansoku.zip">
      <input type="submit" class="button" name="download" value="ダウンロード" />
     </form>
    </div>

    <div id="bt">
     <form name="formpublish" method="post" action="">
      <input name="publishvalue" type="hidden" value="0" />
      <input name="publishid" type="hidden" value="3536" />
      <input type="submit" class="button" name="publish" value="非公開" />
     </form>
    </div>

    <div id="bt">
     <form name="formdelete3536" method="post" action="">
      <input name="deleteid" type="hidden" value="3536" />
      <input type="submit" class="button" onclick="JavaScript: return doDelete3536();" name="delete" value="削　除" />
     </form>
    </div>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
       </table>

       <div>
        <span class='nl_off'>&lt; Previous</span> | 1ファイル - 20ファイル | <a href='https://www.printhakase.com/admin/upload/promotion/list.html?start=20'>Next &gt;</a> 
       </div>
      </section>
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->

   </div>
<!-- END CONTENTS -->
  </div>
<!-- END WRAPPER -->

  <div id="adj"></div>

<!-- START FOOTER -->
  <footer>
   <div id="footer-container" class="clearfix">

    <div id="footer-navi">
     <ul id="footer-navi">
      <li><a href="https://www.printhakase.com/company.html">会社案内</a><span></span></li>
      <li><a href="https://www.printhakase.com/privacypolicy.html">個人情報保護方針</a><span></span></li>
      <li><a href="https://www.printhakase.com/consume.html">特定商取法に基づく表示</a><span></span></li>
      <li><a href="https://www.printhakase.com/sitemap.html">サイトマップ</a><span></span></li>
      <li><a href="http://www.facebook.com/printhakase/" target="_blank">Facebookページ</a></li>
     </ul>
    </div>

   </div>
   <div id="copyright">
&copy; 2016 EPIC Co.,Ltd. All Rights Reserved.
   </div>
  </footer>
<!-- END FOOTER -->

 </div>
<!-- END CONTAINER -->
<script type="text/javascript">
var preHost = (("https:" == document.location.protocol) ? "https://" : "http://");
var param = "secid=sBN2516bc";
document.write(unescape("%3Cscript src='" + preHost + "sashare.com/b/sokus.js' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>

</html>