
<!DOCTYPE html>
<html lang="ja">

<head>
<meta charset="utf-8">
<meta http-equiv="content-style-type" content="text/css">
<meta http-equiv="content-script-type" content="text/javascript">
<meta name="description" content="超激安印刷、名刺がなんと100枚800円から！ぷりんと博士だからできる全国翌日スピード対応。頼んだ翌日にはあなたのお手元に届きます。激安スピード印刷なら、ぷりんと博士！">
<meta name="keywords" content="プリント,印刷,フランチャイズ,独立,FC,開業">




<!--[if lt IE 9]>
<script src="https://www.printhakase.com/js/html5.js"></script>
<![endif]-->
<link rel="stylesheet" href="https://www.printhakase.com/css/temp.css">
<link rel="stylesheet" href="https://www.printhakase.com/css/style.css">
<link rel="shortcut icon" href="https://www.printhakase.com/favicon.ico">
<title>【一覧】FC加盟店用のお知らせ | ぷりんと博士</title>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27054988-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script type="text/javascript"> //<![CDATA[ 
var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.comodo.com/" : "http://www.trustlogo.com/");
document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
//]]>
</script>
</head>

<body>

<!-- START CONTAINER -->
 <div id="container">
<!-- START WRAPPER -->
  <div id="wrapper">

<!-- START HEADER -->
   <header>
    <div id="header-container">
     <div id="logo">
      <a href="https://www.printhakase.com/">ぷりんと博士</a>
     </div>
     <div id="contact-container">
      <div id="tel">0120-5454-22 受付時間／10：00～19：00（土・日・祝日除く）</div>
      <div id="contact-wrapper">
       <ul id="contact">
        <li id="contact"><a href="https://www.printhakase.com/contact.html">お問い合わせ</a></li>
        <li id="offer"><a href="https://www.printhakase.com/estimate.html">お見積り</a></li>
       </ul>
      </div>
     </div>
    </div>
   </header>
<!-- END HEADER -->

<!-- START CONTENT -->
   <div id="contents">

<!-- START LEFTSIDE -->
    <div id="leftbar">
<!-- START MENU -->
     <nav>
      <ul id="menu">
       <li id="home"><a href="/" class="home">HOME</a></li>
              <li id="admin"><span class="admin"><a href="https://www.printhakase.com/admin/" class="admin">管理者用メニュー</a></span>
        <ul id="submenu">
         <li class="none">新着情報管理</li>
         <li class="admin"><a href="https://www.printhakase.com/admin/news/member/list.html">FC加盟店用</a></li>
         <li class="admin"><a href="https://www.printhakase.com/admin/news/web/list.html">WEBページ用</a></li>
         <li class="none">ファイルアップロード</li>
         <li class="admin"><a href="https://www.printhakase.com/admin/upload/member/list.html">各店舗へファイルを送る</a></li>
         <li class="admin"><a href="https://www.printhakase.com/admin/upload/promotion/list.html">販促チラシを送る</a></li>
         <li class="admin"><a href="https://www.printhakase.com/admin/upload/other/list.html">その他チラシを送る</a></li>
         <li class="none">ファイルダウンロード</li>
         <li class="admin"><a href="https://www.printhakase.com/admin/download/member.html">各店舗のファイルを受け取る</a></li>
         <li class="none">価格表など</li>
         <li class="admin"><a href="https://www.printhakase.com/member/etc/offset.html">ｵﾘｼﾞﾅﾙ封筒・ｵﾌｾｯﾄ印刷</a></li>
         <li class="admin"><a href="https://www.printhakase.com/member/etc/envelope.html">封筒仕入金額表</a></li>
         <li class="admin"><a href="https://www.printhakase.com/member/etc/wear.html">ｳｪｱﾌﾟﾘﾝﾄ仕入金額表</a></li>
         <li id="bottom" class="admin"><a href="https://www.printhakase.com/member/etc/sp.html">SP・販促ツール</a></li>
        </ul>
       </li>
       
       <li id="submit"><a href="/submit.html" class="submit">データ入稿</a></li>
       <li id="price"><a href="/price.html" class="price">各種印刷価格表</a></li>
       <li id="printing"><span class="printing"><a href="/printing/" class="printing">各種印刷サービス</a></span>
        <ul id="submenu">
         <li><a href="/printing/smile.html">SMILE SMILE PROJECT</a></li>
         <li><a href="/printing/card.html">名刺・カード印刷</a></li>
         <li><a href="/printing/slip.html">名入れ伝票印刷</a></li>
         <li><a href="/printing/postcard.html">ハガキ印刷</a></li>
         <li><a href="/printing/envelope.html">名入れ封筒印刷</a></li>
         <li><a href="/printing/flyer.html">チラシ・フライヤー印刷</a></li>
         <li><a href="/printing/poster.html">ポスター印刷</a></li>
         <li><a href="/printing/brochure.html">会社案内印刷</a></li>
         <li><a href="/printing/uniform/">ユニフォームプリント</a></li>
         <li><a href="/printing/stamp.html">はんこ・スタンプ作成</a></li>
         <li><a href="/printing/novelty.html">ノベルティ名入れ印刷</a></li>
         <li id="bottom"><a href="/printing/telegram.html">ネット電報</a></li>
        </ul>
       </li>
       <li id="promo"><span class="promo"><a href="/promotion/" class="promo">各種販促サービス</a></span>
        <ul id="submenu">
         <li><a href="/promotion/dm.html">DM用販促グッズ</a></li>
         <li><a href="/promotion/homepage.html">ホームページ作成</a> <span class="red">NEW！</span></li>
         <li id="bottom"><a href="/promotion/mobile.html">携帯サイト・メルマガツール</a></li>
        </ul>
       </li>
       <li id="guide"><span class="guide"><a href="/guide/" class="guide">ご利用ガイド</a></span>
        <ul id="submenu">
         <li><a href="/guide/faq.html">よくあるご質問</a></li>
         <li><a href="/guide/flow.html">ご注文の手順について</a></li>
         <li><a href="/guide/dispatch.html">発送について</a></li>
         <li><a href="/guide/payment.html">お支払いについて</a></li>
         <li><a href="/guide/data.html">入稿について</a></li>
         <li><a href="/guide/inquiry.html">お問い合わせについて</a></li>
         <li id="bottom"><a href="/guide/cancel.html">キャンセル・変更について</a></li>
        </ul>
       </li>
       <li id="store"><span class="store"><a href="/store/" class="store">お近くの博士たち</a></span>
        <ul id="submenu">
         <li><a href="/store/hokkaido/">北海道エリア</a></li>
         <li><a href="/store/tohoku/">東北エリア</a></li>
         <li><a href="/store/kanto/">関東エリア</a></li>
         <li><a href="/store/hokuriku/">信越・北陸エリア</a></li>
         <li><a href="/store/tokai/">東海エリア</a></li>
         <li><a href="/store/kinki/">近畿エリア</a></li>
         <li><a href="/store/chugoku/">中国エリア</a></li>
         <li><a href="/store/shikoku/">四国エリア</a></li>
         <li id="bottom"><a href="/store/kyushu/">九州エリア</a></li>
        </ul>
       </li>
       <li id="fc"><span class="fc"><a href="/fc/" class="fc">加盟店募集</a></span>
        <ul id="submenu">
         <li><a href="/fc/station.html">ぷりんと博士ステーション</a></li>
         <li><a href="/fc/affiliation.html">博士になるには</a></li>
         <li><a href="/fc/briefing.html">事業説明会</a></li>
         <li><a href="/fc/request.html">資料請求</a></li>
         <li><a href="/fc/result.html">加盟実績</a></li>
         <li><a href="/fc/contract.html">契約内容</a></li>
         <li id="bottom"><a href="/fc/success.html">博士たちの成功談</a></li>
        </ul>
       </li>
      </ul>
     </nav>
<!-- END MENU -->
<!-- START SSL -->
     <div id="ssl">
      <script language="JavaScript" type="text/javascript">
       TrustLogo("https://www.printhakase.com/images/comodo_secure_seal_113x59_transp.png", "CL1", "none");
      </script>
      <p>ぷりんと博士サイトは、プライバシー保護の為SSL暗号化通信を導入しています。</p>
     </div>
<!-- END SSL -->
    </div>
<!-- END LEFTSIDE -->

<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
       <div id="breadcrumb-nav"><a href="https://www.printhakase.com/" title="HOME">HOME</a> &gt;  
 
 
 
 
 
 
 
 
 
 
 
 
 
 
<a href="/admin/"">管理者専用エリア</a> &gt; <a href="/admin/news/"">新着情報</a> &gt; <a href="/admin/news/member/"">FC加盟店用</a> &gt;  
リスト

 

 
 

 
 
</div>
      </div>
      <div id="userinfo">
       ぷりんと博士本部
      </div>
     </div>
     <article>
            <h1 class="title-news-member">【一覧】FC加盟店用のお知らせ</h1>
      <div id="bt_new">
       <form name="formnew" method="post" action="https://www.printhakase.com/admin/news/member/edit.html">
        <input type="submit" class="button" name="new" value="新規作成" />
       </form>
      </div>

      <section>
       <table border="0" cellpadding="0" cellspacing="0" class="form">
        
    <script type="text/javascript" >
      function doDelete4873()
      {
        if(confirm("本当に削除しますか？ '山桜カードプリンター'"))
        {
          return true;
          // document.getElementById("formdelete4873").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">山桜カードプリンター</span></strong></td>
  <td id="date">2016年09月02日</td>
 </tr>
 <tr>
  <td colspan="2"><p>加盟店各位</p>
<p>山櫻様より名刺カードプリンターYJ-G650の期間限定再生産のお知らせです。加盟店専用ページ内のその他のダウンロードに詳細をアップ致します。但し、期間限定の販売の様で9月9日のご注文が最終の期限になるとの事です。この機会を逃しますと製造終了となりますので、お考えの加盟店様がおりましたら本部までご連絡ください。価格は本体12万円で3年間保守契約が3万円になります。※税別</p></td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="bt">
    <form name="formpublish" method="post" action="">
     <input name="publishvalue" type="hidden" value="1" />
     <input name="publishid" type="hidden" value="4873" />
     <input type="submit" class="button" name="publish" value="公開中" />
    </form>
   </div>
   <div id="bt">
    <form name="formedit" method="post" action="https://www.printhakase.com/admin/news/member/edit.html">
     <input name="editid" type="hidden" value="4873" />
     <input type="submit" class="button" name="edit" value="編　集" />
    </form>
   </div>
   <div id="bt">
    <form name="formdelete4873" method="post" action="">
     <input name="deleteid" type="hidden" value="4873" />
     <input type="submit" class="button" onclick="JavaScript: return doDelete4873();" name="delete" value="削　除" />
    </form>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
    <script type="text/javascript" >
      function doDelete4842()
      {
        if(confirm("本当に削除しますか？ '【夏期休業のご案内】'"))
        {
          return true;
          // document.getElementById("formdelete4842").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">【夏期休業のご案内】</span></strong></td>
  <td id="date">2016年08月02日</td>
 </tr>
 <tr>
  <td colspan="2"><p><span style="line-height: 1.5;">誠に勝手ながら夏期休業を下記の通りとさせていただきます。</span><span style="line-height: 1.5;">皆様にはご迷惑をおかけしますが、何卒ご了承の程宜しくお願い申し上げます。</span></p>
<p>平成28年8月１1日（木）～平成27年8月１6日（火）</p>
<p><span style="line-height: 1.5;">◆</span><span style="line-height: 1.5;">夏季休業に伴い提携工場も夏季休業に入りますので混み合う可能性がございますのでお早目のご注文をお願い致します。</span></p>
<p>エピック株式会社　ぷりんと博士事業本部</p></td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="bt">
    <form name="formpublish" method="post" action="">
     <input name="publishvalue" type="hidden" value="1" />
     <input name="publishid" type="hidden" value="4842" />
     <input type="submit" class="button" name="publish" value="公開中" />
    </form>
   </div>
   <div id="bt">
    <form name="formedit" method="post" action="https://www.printhakase.com/admin/news/member/edit.html">
     <input name="editid" type="hidden" value="4842" />
     <input type="submit" class="button" name="edit" value="編　集" />
    </form>
   </div>
   <div id="bt">
    <form name="formdelete4842" method="post" action="">
     <input name="deleteid" type="hidden" value="4842" />
     <input type="submit" class="button" onclick="JavaScript: return doDelete4842();" name="delete" value="削　除" />
    </form>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
    <script type="text/javascript" >
      function doDelete4742()
      {
        if(confirm("本当に削除しますか？ '加盟店各位 '"))
        {
          return true;
          // document.getElementById("formdelete4742").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">加盟店各位 </span></strong></td>
  <td id="date">2016年05月31日</td>
 </tr>
 <tr>
  <td colspan="2"><p>日々の業務お疲れ様です。 　紙製品メーカーの山櫻より、通販サイトがサービスの拡大をしたとの紹介と、封筒や名刺印刷が可能なプリンターの再紹介がありましたので、各店舗へ案内致します。 　山櫻が運営する印刷関連業者向けネット通販サイト 　　ソレアル　http://www.soreal-aruaru.com/shop/ 　　DIC色指定の印刷が可能になりました。 　　印刷可能サイズが増えました。 　　山櫻製品を約4,000アイテム掲載とほぼ網羅。 　　ソレアル限定品の扱いもあります。 　　印刷関連業者として会員登録、ログインすると表示価格がぷりんと博士価格となります。（一般の方がサイトをみても、別の価格が表示されます） 　　封筒への印刷も注文でき、印刷付きの場合は送料無料にてユーザーへ直送も依頼できます。 　封筒・名刺印刷が可能なプリンター 　　DocuPrint C5000d YL5000-YAモデル 　　「富士ゼロックス　DocuPrint C5000d」へ山櫻が紙製品メーカーとして検証を重ねた結果、はがきや名刺等の厚紙を印刷する際の反りの軽減や、封筒を印刷する際のシワとプレス跡の軽減を実現しました。さらに、はがきや封筒をトレイから給紙できるので、給紙作業の軽減ができて業務効率の良いプリンターです。 　　 PROSCUT　PCM-15 　　名刺サイズ断裁機。LEDセンサーゲージと左右可動式の給紙トレイにより左右のプリントずれをスピード調整できます。また、自動研磨機構による耐久性と、給紙部のフルオープン構造によりメンテナンスの手間を軽減しました。 　加盟店専用ページ&rarr;その他のダウンロードへ資料をアップ致しますのでご確認ください。</p></td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="bt">
    <form name="formpublish" method="post" action="">
     <input name="publishvalue" type="hidden" value="1" />
     <input name="publishid" type="hidden" value="4742" />
     <input type="submit" class="button" name="publish" value="公開中" />
    </form>
   </div>
   <div id="bt">
    <form name="formedit" method="post" action="https://www.printhakase.com/admin/news/member/edit.html">
     <input name="editid" type="hidden" value="4742" />
     <input type="submit" class="button" name="edit" value="編　集" />
    </form>
   </div>
   <div id="bt">
    <form name="formdelete4742" method="post" action="">
     <input name="deleteid" type="hidden" value="4742" />
     <input type="submit" class="button" onclick="JavaScript: return doDelete4742();" name="delete" value="削　除" />
    </form>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
    <script type="text/javascript" >
      function doDelete4626()
      {
        if(confirm("本当に削除しますか？ '加盟店各位'"))
        {
          return true;
          // document.getElementById("formdelete4626").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">加盟店各位</span></strong></td>
  <td id="date">2016年03月14日</td>
 </tr>
 <tr>
  <td colspan="2"><p>【加盟店各位】</p>
<p>大変申し訳ございませんが3月22日（火）は、本部内改装工事がある為、営業をお休みさせて頂きます。何卒、宜しくお願い致します。</p></td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="bt">
    <form name="formpublish" method="post" action="">
     <input name="publishvalue" type="hidden" value="1" />
     <input name="publishid" type="hidden" value="4626" />
     <input type="submit" class="button" name="publish" value="公開中" />
    </form>
   </div>
   <div id="bt">
    <form name="formedit" method="post" action="https://www.printhakase.com/admin/news/member/edit.html">
     <input name="editid" type="hidden" value="4626" />
     <input type="submit" class="button" name="edit" value="編　集" />
    </form>
   </div>
   <div id="bt">
    <form name="formdelete4626" method="post" action="">
     <input name="deleteid" type="hidden" value="4626" />
     <input type="submit" class="button" onclick="JavaScript: return doDelete4626();" name="delete" value="削　除" />
    </form>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
    <script type="text/javascript" >
      function doDelete4577()
      {
        if(confirm("本当に削除しますか？ '加盟店各位【緊急】'"))
        {
          return true;
          // document.getElementById("formdelete4577").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">加盟店各位【緊急】</span></strong></td>
  <td id="date">2016年02月16日</td>
 </tr>
 <tr>
  <td colspan="2"><p>加盟店各位【緊急】　以前、弊社で作りました、ぷりんと博士オリジナル名刺箱を欲しい加盟店様がおりましたら２０円／1個で販売ができます。＠20円は税別です。送料は実費必要となります。名刺箱を作っていた提携工場が閉鎖の為、在庫を7000個持っており格安で引き取ってほしいとの問い合わせがありました。欲しい加盟店様がおりましたら1000個単位で販売いたします。但し、7000個までの受注となります。また、オリジナル名刺箱の購入希望の加盟店様が5000個以下の場合は、販売は中止するしかありませんのでご了承ください。</p>
<p>この、案件に関するご回答は【緊急】としたように17日の営業時間内までとなりますので本部までご連絡ください。何卒、宜しくお願い致します。</p></td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="bt">
    <form name="formpublish" method="post" action="">
     <input name="publishvalue" type="hidden" value="1" />
     <input name="publishid" type="hidden" value="4577" />
     <input type="submit" class="button" name="publish" value="公開中" />
    </form>
   </div>
   <div id="bt">
    <form name="formedit" method="post" action="https://www.printhakase.com/admin/news/member/edit.html">
     <input name="editid" type="hidden" value="4577" />
     <input type="submit" class="button" name="edit" value="編　集" />
    </form>
   </div>
   <div id="bt">
    <form name="formdelete4577" method="post" action="">
     <input name="deleteid" type="hidden" value="4577" />
     <input type="submit" class="button" onclick="JavaScript: return doDelete4577();" name="delete" value="削　除" />
    </form>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
    <script type="text/javascript" >
      function doDelete4489()
      {
        if(confirm("本当に削除しますか？ '加盟店各位'"))
        {
          return true;
          // document.getElementById("formdelete4489").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">加盟店各位</span></strong></td>
  <td id="date">2016年01月07日</td>
 </tr>
 <tr>
  <td colspan="2"><p>加盟店各位</p>
<p>只今、本部電話回線が主装置の故障で一時止まっております1時までには回復致しますのでご迷惑をおかけいたしますが宜しくお願い致します。</p></td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="bt">
    <form name="formpublish" method="post" action="">
     <input name="publishvalue" type="hidden" value="1" />
     <input name="publishid" type="hidden" value="4489" />
     <input type="submit" class="button" name="publish" value="公開中" />
    </form>
   </div>
   <div id="bt">
    <form name="formedit" method="post" action="https://www.printhakase.com/admin/news/member/edit.html">
     <input name="editid" type="hidden" value="4489" />
     <input type="submit" class="button" name="edit" value="編　集" />
    </form>
   </div>
   <div id="bt">
    <form name="formdelete4489" method="post" action="">
     <input name="deleteid" type="hidden" value="4489" />
     <input type="submit" class="button" onclick="JavaScript: return doDelete4489();" name="delete" value="削　除" />
    </form>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
    <script type="text/javascript" >
      function doDelete4479()
      {
        if(confirm("本当に削除しますか？ '加盟店各位'"))
        {
          return true;
          // document.getElementById("formdelete4479").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">加盟店各位</span></strong></td>
  <td id="date">2016年01月05日</td>
 </tr>
 <tr>
  <td colspan="2"><p>紙製品メーカーの山櫻より封筒や名刺印刷が可能なプリンターと、山櫻の既製品の購入や封筒への印刷を注文できる通販サイトの紹介がありましたので、各店舗へ案内致します。加盟店専用ページ内&rarr;その他チラシのダウンロードよりダウンロード後ご確認ください。</p></td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="bt">
    <form name="formpublish" method="post" action="">
     <input name="publishvalue" type="hidden" value="1" />
     <input name="publishid" type="hidden" value="4479" />
     <input type="submit" class="button" name="publish" value="公開中" />
    </form>
   </div>
   <div id="bt">
    <form name="formedit" method="post" action="https://www.printhakase.com/admin/news/member/edit.html">
     <input name="editid" type="hidden" value="4479" />
     <input type="submit" class="button" name="edit" value="編　集" />
    </form>
   </div>
   <div id="bt">
    <form name="formdelete4479" method="post" action="">
     <input name="deleteid" type="hidden" value="4479" />
     <input type="submit" class="button" onclick="JavaScript: return doDelete4479();" name="delete" value="削　除" />
    </form>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
    <script type="text/javascript" >
      function doDelete4476()
      {
        if(confirm("本当に削除しますか？ '加盟店各位【メール設定について】'"))
        {
          return true;
          // document.getElementById("formdelete4476").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">加盟店各位【メール設定について】</span></strong></td>
  <td id="date">2015年12月28日</td>
 </tr>
 <tr>
  <td colspan="2"><p>【メール設定について】メール設定方法を加盟店専用ページ内&rarr;ファイルダウンロード&rarr;その他ファイルを受け取るにアップロードしました。設定にご不安な方は新年明けてから本部が営業している時に行ってください。何卒、宜しくお願い致します。</p>
<p>※加盟店名＠printhakase.comで送信をしている加盟店のみの変更となります。</p></td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="bt">
    <form name="formpublish" method="post" action="">
     <input name="publishvalue" type="hidden" value="1" />
     <input name="publishid" type="hidden" value="4476" />
     <input type="submit" class="button" name="publish" value="公開中" />
    </form>
   </div>
   <div id="bt">
    <form name="formedit" method="post" action="https://www.printhakase.com/admin/news/member/edit.html">
     <input name="editid" type="hidden" value="4476" />
     <input type="submit" class="button" name="edit" value="編　集" />
    </form>
   </div>
   <div id="bt">
    <form name="formdelete4476" method="post" action="">
     <input name="deleteid" type="hidden" value="4476" />
     <input type="submit" class="button" onclick="JavaScript: return doDelete4476();" name="delete" value="削　除" />
    </form>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
    <script type="text/javascript" >
      function doDelete4475()
      {
        if(confirm("本当に削除しますか？ '加盟店各位'"))
        {
          return true;
          // document.getElementById("formdelete4475").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">加盟店各位</span></strong></td>
  <td id="date">2015年12月25日</td>
 </tr>
 <tr>
  <td colspan="2"><p>【加盟店各位】この度、本部サーバー内でセキュリティを強化したため加盟店様のメーラーでパスワードを要求する画面が出てしまっております。受信は各加盟店様から頂きました転送先アドレスの転送されていますので問題はありませんが＠printhakase.comでの送信に問題が発生しております。誠に申し訳ございませんがぷりんと博士のアドレスで送信のみ支障が出ていますので年明け早々に加盟店各位で適切な設定方法をご連絡いたしますのでご不便をおかけいたしますが暫くお待ちいただけます様お願致します。</p>
<p>※お客様からのメール受信に関しては問題ございません。</p></td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="bt">
    <form name="formpublish" method="post" action="">
     <input name="publishvalue" type="hidden" value="1" />
     <input name="publishid" type="hidden" value="4475" />
     <input type="submit" class="button" name="publish" value="公開中" />
    </form>
   </div>
   <div id="bt">
    <form name="formedit" method="post" action="https://www.printhakase.com/admin/news/member/edit.html">
     <input name="editid" type="hidden" value="4475" />
     <input type="submit" class="button" name="edit" value="編　集" />
    </form>
   </div>
   <div id="bt">
    <form name="formdelete4475" method="post" action="">
     <input name="deleteid" type="hidden" value="4475" />
     <input type="submit" class="button" onclick="JavaScript: return doDelete4475();" name="delete" value="削　除" />
    </form>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
    <script type="text/javascript" >
      function doDelete4438()
      {
        if(confirm("本当に削除しますか？ '加盟店各位【年末年始の営業について】'"))
        {
          return true;
          // document.getElementById("formdelete4438").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">加盟店各位【年末年始の営業について】</span></strong></td>
  <td id="date">2015年12月08日</td>
 </tr>
 <tr>
  <td colspan="2"><p>加盟店各位【年末年始の営業について】師走に入り年賀状等お忙しい事と思いますが寒くなってまいりますので体調管理万全で頑張ってください。さて、年末年始のＦＣ本部の休業期間をご報告させて頂きます。</p>
<p>平成27年12月26日～平成28年１月4日が休業期間となります1月5日より平常営業とさせていただきます。また、１２月25日は午後2時までとなりますので、印刷物の発送は25日午前中に到着分が最終発送となりますので、何卒、宜しくお願い致します。良いお年をお迎えください。</p></td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="bt">
    <form name="formpublish" method="post" action="">
     <input name="publishvalue" type="hidden" value="1" />
     <input name="publishid" type="hidden" value="4438" />
     <input type="submit" class="button" name="publish" value="公開中" />
    </form>
   </div>
   <div id="bt">
    <form name="formedit" method="post" action="https://www.printhakase.com/admin/news/member/edit.html">
     <input name="editid" type="hidden" value="4438" />
     <input type="submit" class="button" name="edit" value="編　集" />
    </form>
   </div>
   <div id="bt">
    <form name="formdelete4438" method="post" action="">
     <input name="deleteid" type="hidden" value="4438" />
     <input type="submit" class="button" onclick="JavaScript: return doDelete4438();" name="delete" value="削　除" />
    </form>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
    <script type="text/javascript" >
      function doDelete4335()
      {
        if(confirm("本当に削除しますか？ '加盟店各位　【速達について】'"))
        {
          return true;
          // document.getElementById("formdelete4335").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">加盟店各位　【速達について】</span></strong></td>
  <td id="date">2015年10月15日</td>
 </tr>
 <tr>
  <td colspan="2"><p>【メール便速達について】　以前にご案内いたしました通り、ヤマト運輸では10月1日付きでメール便の速達サービスが終了いたしました。つきましてはネコポスというサービスがございます。ネコポスはメール便程度の大きさで直接ポストへ投函する宅配便と考えて頂ければ良いと思います。従って離島以外は翌日投函が可能です。ぷりんと博士では名刺等の小さい御荷物の出荷は梱包送料、メール便普通／100円（税別）　ネコポス360円（税別）となります。何卒、宜しくお願い致します。</p></td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="bt">
    <form name="formpublish" method="post" action="">
     <input name="publishvalue" type="hidden" value="1" />
     <input name="publishid" type="hidden" value="4335" />
     <input type="submit" class="button" name="publish" value="公開中" />
    </form>
   </div>
   <div id="bt">
    <form name="formedit" method="post" action="https://www.printhakase.com/admin/news/member/edit.html">
     <input name="editid" type="hidden" value="4335" />
     <input type="submit" class="button" name="edit" value="編　集" />
    </form>
   </div>
   <div id="bt">
    <form name="formdelete4335" method="post" action="">
     <input name="deleteid" type="hidden" value="4335" />
     <input type="submit" class="button" onclick="JavaScript: return doDelete4335();" name="delete" value="削　除" />
    </form>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
    <script type="text/javascript" >
      function doDelete4169()
      {
        if(confirm("本当に削除しますか？ '加盟店各位　夏季休暇のお知らせ'"))
        {
          return true;
          // document.getElementById("formdelete4169").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">加盟店各位　夏季休暇のお知らせ</span></strong></td>
  <td id="date">2015年07月27日</td>
 </tr>
 <tr>
  <td colspan="2"><p>加盟店各位　【夏季休暇のお知らせ】</p>
<p><span>梅雨明け早々、厳しい暑さになりましたが皆様におかれましては<span>ますますご健勝のこととお慶び申し上げます。本部では夏季休暇を8月12日～8月14日とさせていただきます。8月17日（月）より通常営業となります。関連印刷工場等も夏季休暇に入りますンので納品時期の遅れなどご注意くださいます様お願い致します。</span></span></p></td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="bt">
    <form name="formpublish" method="post" action="">
     <input name="publishvalue" type="hidden" value="1" />
     <input name="publishid" type="hidden" value="4169" />
     <input type="submit" class="button" name="publish" value="公開中" />
    </form>
   </div>
   <div id="bt">
    <form name="formedit" method="post" action="https://www.printhakase.com/admin/news/member/edit.html">
     <input name="editid" type="hidden" value="4169" />
     <input type="submit" class="button" name="edit" value="編　集" />
    </form>
   </div>
   <div id="bt">
    <form name="formdelete4169" method="post" action="">
     <input name="deleteid" type="hidden" value="4169" />
     <input type="submit" class="button" onclick="JavaScript: return doDelete4169();" name="delete" value="削　除" />
    </form>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
    <script type="text/javascript" >
      function doDelete4011()
      {
        if(confirm("本当に削除しますか？ '加盟店各位'"))
        {
          return true;
          // document.getElementById("formdelete4011").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">加盟店各位</span></strong></td>
  <td id="date">2015年04月22日</td>
 </tr>
 <tr>
  <td colspan="2"><p>加盟店各位</p>
<p>　4月28日（火）は、ぷりんと博士サポート事業部が本社ビル3階から1階へ移転いたします。今後、本部への配送物などは3階ではなく1階に変更していただけますようお願いいたします。また、移転に伴い28日（火）は通常業務及び電話対応が出来なくなりますので、ご理解ご了承くださいますようお願いいたします。</p>
<p>【GWについて】本部ではゴールデンウィークはカレンダーの暦通り5月2日～6日といたしますので重ねて宜しくお願いいたします。</p></td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="bt">
    <form name="formpublish" method="post" action="">
     <input name="publishvalue" type="hidden" value="1" />
     <input name="publishid" type="hidden" value="4011" />
     <input type="submit" class="button" name="publish" value="公開中" />
    </form>
   </div>
   <div id="bt">
    <form name="formedit" method="post" action="https://www.printhakase.com/admin/news/member/edit.html">
     <input name="editid" type="hidden" value="4011" />
     <input type="submit" class="button" name="edit" value="編　集" />
    </form>
   </div>
   <div id="bt">
    <form name="formdelete4011" method="post" action="">
     <input name="deleteid" type="hidden" value="4011" />
     <input type="submit" class="button" onclick="JavaScript: return doDelete4011();" name="delete" value="削　除" />
    </form>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
    <script type="text/javascript" >
      function doDelete3964()
      {
        if(confirm("本当に削除しますか？ '加盟店各位【メール便廃止について】'"))
        {
          return true;
          // document.getElementById("formdelete3964").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">加盟店各位【メール便廃止について】</span></strong></td>
  <td id="date">2015年04月01日</td>
 </tr>
 <tr>
  <td colspan="2"><p>加盟店各位【メール便廃止について】</p>
<p>この度、メール便廃止に伴い価格変更を致します。今までの普通メール便（2cm）は160円（税別）でしたが、100円（税別）に変更いたします。また、速達は260円（税別）でしたが、200円（税別）に変更いたします。</p>
<p>上記の金額で、速達に関しましては１０月1日より【ネコポス速達】がスタートしますので速達分のみ380円（税別）となります。普通便は１０月１日以降も上記の金額となります。何卒、宜しくお願い致します。</p>
<p>また、ヤマト運輸の今後の変更に伴い弊社でも価格変更する場合がございますのでご了承ください。</p></td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="bt">
    <form name="formpublish" method="post" action="">
     <input name="publishvalue" type="hidden" value="1" />
     <input name="publishid" type="hidden" value="3964" />
     <input type="submit" class="button" name="publish" value="公開中" />
    </form>
   </div>
   <div id="bt">
    <form name="formedit" method="post" action="https://www.printhakase.com/admin/news/member/edit.html">
     <input name="editid" type="hidden" value="3964" />
     <input type="submit" class="button" name="edit" value="編　集" />
    </form>
   </div>
   <div id="bt">
    <form name="formdelete3964" method="post" action="">
     <input name="deleteid" type="hidden" value="3964" />
     <input type="submit" class="button" onclick="JavaScript: return doDelete3964();" name="delete" value="削　除" />
    </form>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
    <script type="text/javascript" >
      function doDelete3854()
      {
        if(confirm("本当に削除しますか？ '加盟店各位　緊急連絡'"))
        {
          return true;
          // document.getElementById("formdelete3854").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">加盟店各位　緊急連絡</span></strong></td>
  <td id="date">2015年02月04日</td>
 </tr>
 <tr>
  <td colspan="2"><p>加盟店各位</p>
<p>本日、社内ビジネスフォン集合機が故障したため、一時的に電話を止めております。回復は11時半前後となる見込みですので大変ご迷惑をおかけしますが宜しくお願い致します。</p></td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="bt">
    <form name="formpublish" method="post" action="">
     <input name="publishvalue" type="hidden" value="1" />
     <input name="publishid" type="hidden" value="3854" />
     <input type="submit" class="button" name="publish" value="公開中" />
    </form>
   </div>
   <div id="bt">
    <form name="formedit" method="post" action="https://www.printhakase.com/admin/news/member/edit.html">
     <input name="editid" type="hidden" value="3854" />
     <input type="submit" class="button" name="edit" value="編　集" />
    </form>
   </div>
   <div id="bt">
    <form name="formdelete3854" method="post" action="">
     <input name="deleteid" type="hidden" value="3854" />
     <input type="submit" class="button" onclick="JavaScript: return doDelete3854();" name="delete" value="削　除" />
    </form>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
    <script type="text/javascript" >
      function doDelete3765()
      {
        if(confirm("本当に削除しますか？ '年末年始について'"))
        {
          return true;
          // document.getElementById("formdelete3765").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">年末年始について</span></strong></td>
  <td id="date">2014年12月12日</td>
 </tr>
 <tr>
  <td colspan="2"><p>加盟店各位</p>
<p>寒さも厳しくなっておりますので、体調管理には気をつけて下さい。年末年始のご案内を致します。年内は１２月２６日まで営業とさせていただきますが２６日は午後２時までとさせていただきます。また、年始は１月６日から通常営業とさせていただきます。宜しくお願い致します。</p>
<p>【年末年始の休業】１２月27日～１月５日</p></td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="bt">
    <form name="formpublish" method="post" action="">
     <input name="publishvalue" type="hidden" value="1" />
     <input name="publishid" type="hidden" value="3765" />
     <input type="submit" class="button" name="publish" value="公開中" />
    </form>
   </div>
   <div id="bt">
    <form name="formedit" method="post" action="https://www.printhakase.com/admin/news/member/edit.html">
     <input name="editid" type="hidden" value="3765" />
     <input type="submit" class="button" name="edit" value="編　集" />
    </form>
   </div>
   <div id="bt">
    <form name="formdelete3765" method="post" action="">
     <input name="deleteid" type="hidden" value="3765" />
     <input type="submit" class="button" onclick="JavaScript: return doDelete3765();" name="delete" value="削　除" />
    </form>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
    <script type="text/javascript" >
      function doDelete3597()
      {
        if(confirm("本当に削除しますか？ '【重要】ぷりんと博士業務連絡'"))
        {
          return true;
          // document.getElementById("formdelete3597").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">【重要】ぷりんと博士業務連絡</span></strong></td>
  <td id="date">2014年10月08日</td>
 </tr>
 <tr>
  <td colspan="2"><p>ぷりんと博士　電話番号変更のお知らせ</p>
<p>いつもお世話になっております。 先日ご案内させて頂きましたが、エピック株式会社/ぷりんと博士事業部の 新設にあたり 10月10日より住所と電話番号が変更になりますのでご案内させて頂きます。</p>
<p>今後のお問合わせ電話番号・・・03-5428-3963／エピック株式会社ぷりんと博士事業部（渋谷）</p>
<p>※ ファックス番号は変更なし　03-6909-1083&nbsp;</p>
<p>郵送物は下記までお願いいたします。 &nbsp;</p>
<p>エピック株式会社（本社）　住所/ 〒182-0003 東京都調布市若葉町2-27-22 1F&nbsp;</p>
<p>尚、サポート等は何も変更はございません。　宜しくお願い致します。</p></td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="bt">
    <form name="formpublish" method="post" action="">
     <input name="publishvalue" type="hidden" value="1" />
     <input name="publishid" type="hidden" value="3597" />
     <input type="submit" class="button" name="publish" value="公開中" />
    </form>
   </div>
   <div id="bt">
    <form name="formedit" method="post" action="https://www.printhakase.com/admin/news/member/edit.html">
     <input name="editid" type="hidden" value="3597" />
     <input type="submit" class="button" name="edit" value="編　集" />
    </form>
   </div>
   <div id="bt">
    <form name="formdelete3597" method="post" action="">
     <input name="deleteid" type="hidden" value="3597" />
     <input type="submit" class="button" onclick="JavaScript: return doDelete3597();" name="delete" value="削　除" />
    </form>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
    <script type="text/javascript" >
      function doDelete3560()
      {
        if(confirm("本当に削除しますか？ '加盟店各位'"))
        {
          return true;
          // document.getElementById("formdelete3560").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">加盟店各位</span></strong></td>
  <td id="date">2014年09月18日</td>
 </tr>
 <tr>
  <td colspan="2"><p>加盟店各位</p>
<p>本日、9月18日午前10：00より午後2時45分までサーバーがシステムエラーの為ダウンしておりました。つきましては、該当時間内にデータのアップロードやメールを本部にされた方は、大変お手数をおかけいたしますが念の為に再度コンタクトしていただけます様、宜しくお願い致します。ご迷惑をおかけいたしました大変申し訳ございません。</p></td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="bt">
    <form name="formpublish" method="post" action="">
     <input name="publishvalue" type="hidden" value="1" />
     <input name="publishid" type="hidden" value="3560" />
     <input type="submit" class="button" name="publish" value="公開中" />
    </form>
   </div>
   <div id="bt">
    <form name="formedit" method="post" action="https://www.printhakase.com/admin/news/member/edit.html">
     <input name="editid" type="hidden" value="3560" />
     <input type="submit" class="button" name="edit" value="編　集" />
    </form>
   </div>
   <div id="bt">
    <form name="formdelete3560" method="post" action="">
     <input name="deleteid" type="hidden" value="3560" />
     <input type="submit" class="button" onclick="JavaScript: return doDelete3560();" name="delete" value="削　除" />
    </form>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
    <script type="text/javascript" >
      function doDelete3545()
      {
        if(confirm("本当に削除しますか？ '本日の営業時間'"))
        {
          return true;
          // document.getElementById("formdelete3545").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">本日の営業時間</span></strong></td>
  <td id="date">2014年09月04日</td>
 </tr>
 <tr>
  <td colspan="2"><p>加盟店各位</p>
<p>本日、急ではありますが社内ネットワークの再構築が必要となり営業時間を本日に限り16時45分までとさせていただきます。ご迷惑をおかけいたしますが何卒、ご理解ご了承くださいます様宜しくお願い致します。</p></td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="bt">
    <form name="formpublish" method="post" action="">
     <input name="publishvalue" type="hidden" value="1" />
     <input name="publishid" type="hidden" value="3545" />
     <input type="submit" class="button" name="publish" value="公開中" />
    </form>
   </div>
   <div id="bt">
    <form name="formedit" method="post" action="https://www.printhakase.com/admin/news/member/edit.html">
     <input name="editid" type="hidden" value="3545" />
     <input type="submit" class="button" name="edit" value="編　集" />
    </form>
   </div>
   <div id="bt">
    <form name="formdelete3545" method="post" action="">
     <input name="deleteid" type="hidden" value="3545" />
     <input type="submit" class="button" onclick="JavaScript: return doDelete3545();" name="delete" value="削　除" />
    </form>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
    <script type="text/javascript" >
      function doDelete3511()
      {
        if(confirm("本当に削除しますか？ '夏季休業のお知らせ'"))
        {
          return true;
          // document.getElementById("formdelete3511").submit();
        }
        return false;
      }
    </script><table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <td id="title"><strong><span class="blue">夏季休業のお知らせ</span></strong></td>
  <td id="date">2014年08月06日</td>
 </tr>
 <tr>
  <td colspan="2"><p>加盟店各位</p>
<p><span>残暑の候、貴社ますますご発展のこととお慶び申し上げます。株式会社ぷりんと博士、夏季休業のお知らせをさせていただきます。平成２６年８月13日～８月17日とさせていただきますので、この期間の、ご発注納品等の業務は一切できませんので、納期等お気を付け下さいます様宜しくお願い致します。</span></p></td>
 </tr>
 <tr>
  <td colspan="2" id="buttons">
   <div id="bt">
    <form name="formpublish" method="post" action="">
     <input name="publishvalue" type="hidden" value="1" />
     <input name="publishid" type="hidden" value="3511" />
     <input type="submit" class="button" name="publish" value="公開中" />
    </form>
   </div>
   <div id="bt">
    <form name="formedit" method="post" action="https://www.printhakase.com/admin/news/member/edit.html">
     <input name="editid" type="hidden" value="3511" />
     <input type="submit" class="button" name="edit" value="編　集" />
    </form>
   </div>
   <div id="bt">
    <form name="formdelete3511" method="post" action="">
     <input name="deleteid" type="hidden" value="3511" />
     <input type="submit" class="button" onclick="JavaScript: return doDelete3511();" name="delete" value="削　除" />
    </form>
   </div>
  </td>
 </tr>
</table>
<div id="adj"></div>
<!-- Make sure the next post begins on  a new line -->
<span class="nm_eol"></span>
       </table>

       <div>
        <span class='nl_off'>&lt; Previous</span> | 1ファイル - 20ファイル | <a href='https://www.printhakase.com/admin/news/member/list.html?start=20'>Next &gt;</a> 
       </div>
      </section>
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->

   </div>
<!-- END CONTENTS -->
  </div>
<!-- END WRAPPER -->

  <div id="adj"></div>

<!-- START FOOTER -->
  <footer>
   <div id="footer-container" class="clearfix">

    <div id="footer-navi">
     <ul id="footer-navi">
      <li><a href="https://www.printhakase.com/company.html">会社案内</a><span></span></li>
      <li><a href="https://www.printhakase.com/privacypolicy.html">個人情報保護方針</a><span></span></li>
      <li><a href="https://www.printhakase.com/consume.html">特定商取法に基づく表示</a><span></span></li>
      <li><a href="https://www.printhakase.com/sitemap.html">サイトマップ</a><span></span></li>
      <li><a href="http://www.facebook.com/printhakase/" target="_blank">Facebookページ</a></li>
     </ul>
    </div>

   </div>
   <div id="copyright">
&copy; 2016 EPIC Co.,Ltd. All Rights Reserved.
   </div>
  </footer>
<!-- END FOOTER -->

 </div>
<!-- END CONTAINER -->
<script type="text/javascript">
var preHost = (("https:" == document.location.protocol) ? "https://" : "http://");
var param = "secid=sBN2516bc";
document.write(unescape("%3Cscript src='" + preHost + "sashare.com/b/sokus.js' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>

</html>