
<!-- START HEADER -->
   <header>
    <div id="header-container">
     <div id="store">
      <h1 class="title-kyotonakagyo">ぷりんと博士 京都中京店</h1>
     </div>
     <div id="contact">
      <a href="contact.html" class="contact">お問い合わせ・ご注文はこちら</a>
     </div>
    </div>
   </header>
<!-- END HEADER -->

<!-- START CONTENT -->
   <div id="contents">
    <div id="top"></div>
    <div id="main">
<!-- START INFO -->
     <div id="info">
      <table border="0" cellpadding="0" cellspacing="0" class="info">
       <tr>
        <td rowspan="2"><img src="assets/area-kyotonakagyo.png" width="286" height="140" border="0"></td>
        <td colspan="2"><img src="assets/tel-kyotonakagyo.png" width="454" height="76" border="0"></td>
       </tr>
       <tr>
        <td><img src="assets/tel-headoffice.png" width="246" height="64" border="0"></td>
        <td><a href="store/"><img src="assets/button-search.png" width="180" height="36" border="0"></a></td>
       </tr>
      </table>
     </div>
<!-- END INFO -->
<!-- START DESC -->
     <section>
      <h2 class="title">プロフィール</h2>
      <div id="desc">
       <div id="img">
        <img src="assets/img-kyotonakagyo.jpg" width="142" height="171" border="0">
       </div>
       <div id="txt">
        <h3 class="subtitle blue">お客様へ満足を売るお店を目指して…</h3>
        <p>初めまして。京都中京店の輪島です。<br>当店では、リーズナブルな価格と小回りの効くフットワークの良さで、地域の皆様に満足されるサービスの提供を心がけております。<br>ご好評いただいております、激安オリジナル名刺をはじめ、ハガキ、封筒、カード、チラシ、領収書などの伝票類印鑑まで、お店や事務所で必要なものは全て当社にお任せください。<br>電話一本で担当者が直接、お伺いし、納品まで責任を持って行います。<br>まずはお気軽にお問い合わせください。<br><br>営業時間：9:00～18:00（月～土）<br>定休：日・祝 休（土曜不定休)</p>
       </div>
      </div>
       <div id="adj"></div>
     </section>
<!-- END DESC -->
<!-- START LIST -->
     <section>
      <h2 class="title">当店の取り扱い商品</h2>
      <ul id="list">
				<li>名刺</li>
				<li>ハガキ</li>
				<li>封筒</li>
				<li>各種カード</li>
				<li>スピード印刷</li>
				<li>大判出力<span>（ポスター等）</span></li>
				<li>一般オフセット印刷<br /><span>（チラシ・パンフレット・ポスター・冊子等）</span></li>
				<li>各種印鑑・ゴム印等</li>
				<li>各種帳票<br /><span>（複写伝票・領収書・レターヘッド等）</span></li>
			</ul>
			<ul id="list">
				<li>シール・ステッカー</li>
				<li>カッティングシート</li>
				<li>ウェアプリント<span>（複写式）</span></li>
				<li>ウェアプリント<span>（シルク印刷）</span></li>
				<li>プラスチックカード</li>
				<li>圧着ハガキ</li>
				<li>レーザー出力</li>
				<li>厚物ボール印刷<br /><span>（パッケージ・POPパネル・型抜き厚物）</span></li>
				<li>クリアーファイル</li>
				<li>スクラッチカード</li>
			</ul>
			<ul id="list">
				<li>ブリスターパック</li>
				<li>手提げ袋</li>
				<li>ホームページ作成・管理</li>
				<li>印刷物の企画・制作</li>
				<li>CD-R/DVD-R等の焼きこみ</li>
				<li>のぼり</li>
				<li>うちわ</li>
				<li>カレンダー</li>
				<li>電飾看板等</li>
			</ul>
       <div id="adj"></div>
     </section>
<!-- END LIST -->
     <p class="red right">※上記以外の印刷物・販促物、何でもお気軽にご相談ください</p>
    </div>
    <div id="bottom"></div>
   </div>
<!-- END CONTENTS -->
