
<!-- START HEADER -->
   <header>
    <div id="header-container">
     <div id="store">
      <h1 class="title-oota">ぷりんと博士 大田店</h1>
     </div>
     <div id="contact">
      <a href="contact.html" class="contact">お問い合わせ・ご注文はこちら</a>
     </div>
    </div>
   </header>
<!-- END HEADER -->

<!-- START CONTENT -->
   <div id="contents">
    <div id="top"></div>
    <div id="main">
<!-- START INFO -->
     <div id="info">
      <table border="0" cellpadding="0" cellspacing="0" class="info">
       <tr>
        <td rowspan="2"><img src="assets/area-oota.png" width="286" height="140" border="0"></td>
        <td colspan="2"><img src="assets/tel-oota.png" width="454" height="76" border="0"></td>
       </tr>
       <tr>
        <td><img src="assets/tel-headoffice.png" width="246" height="64" border="0"></td>
        <td><a href="store/"><img src="assets/button-search.png" width="180" height="36" border="0"></a></td>
       </tr>
      </table>
     </div>
<!-- END INFO -->
<!-- START DESC -->
     <section>
      <h2 class="title">プロフィール</h2>
      <div id="desc">
       <div id="img">
        <img src="assets/img-oota.jpg" width="142" height="171" border="0">
       </div>
       <div id="txt">
        <h3 class="subtitle blue">地域密着の印刷屋さんです！</h3>
        <p>大田区育ちの店長が、親切・丁寧に対応。<br>名刺、カラーチラシ、封筒、伝票、印鑑等、オフィスや店舗の必需品を スピーディーに作成し、お届けいたします。<br>また、デザインや販促に関するご相談もお気軽にどうぞ！<br><br>営業時間：10:00～18:00（月～金）<br>定休：土・日・祝 休</p>
       </div>
      </div>
       <div id="adj"></div>
     </section>
<!-- END DESC -->
<!-- START LIST -->
     <section>
      <h2 class="title">当店の取り扱い商品</h2>
      <ul id="list">
				<li>名刺</li>
				<li>ハガキ</li>
				<li>封筒</li>
				<li>各種カード</li>
				<li>スピード印刷</li>
				<li>大判出力<span>（ポスター等）</span></li>
				<li>一般オフセット印刷<br /><span>（チラシ・パンフレット・ポスター・冊子等）</span></li>
				<li>各種印鑑・ゴム印等</li>
				<li>各種帳票<br /><span>（複写伝票・領収書・レターヘッド等）</span></li>
			</ul>
			<ul id="list">
				<li>シール・ステッカー</li>
				<li>カッティングシート</li>
				<li>ウェアプリント<span>（複写式）</span></li>
				<li>ウェアプリント<span>（シルク印刷）</span></li>
				<li>プラスチックカード</li>
				<li>圧着ハガキ</li>
				<li>レーザー出力</li>
				<li>厚物ボール印刷<br /><span>（パッケージ・POPパネル・型抜き厚物）</span></li>
				<li>クリアーファイル</li>
				<li>スクラッチカード</li>
			</ul>
			<ul id="list">
				<li>ブリスターパック</li>
				<li>手提げ袋</li>
				<li>ホームページ作成・管理</li>
				<li>印刷物の企画・制作</li>
				<li>CD-R/DVD-R等の焼きこみ</li>
				<li>のぼり</li>
				<li>うちわ</li>
				<li>カレンダー</li>
				<li>電飾看板等</li>
			</ul>
       <div id="adj"></div>
     </section>
<!-- END LIST -->
     <p class="red right">※上記以外の印刷物・販促物、何でもお気軽にご相談ください</p>
    </div>
    <div id="bottom"></div>
   </div>
<!-- END CONTENTS -->
