
<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
       <div id="breadcrumb-nav"><a href="/" title="HOME">HOME</a> &gt; <a href="/printing/"">各種印刷サービス</a> &gt; 会社案内印刷</div>
      </div>
      <div id="userinfo">
       
      </div>
     </div>
     <article>
            <h1 class="title-printing-brochure">会社案内印刷</h1>
      <img src="/assetsimg-printing-brochure.jpg" width="242" height="182" border="0" class="img">
      <div id="des-container">
       <h2 class="des-printing-brochure">貴社のイメージに合わせたデザインと品質</h2>
       <p>会社概要、キャンペーンパンフレット、各種小冊子の印刷、デザイン制作を承っております。<br>使用目的やターゲットに合わせたご提案もいたしますので、ご相談ください。<br /><br />各種詳細、ご不明点などはお気軽にお問い合わせください。<br />→[ <a href="contact.html">お問い合わせ</a> ]はこちら</p>
      </div>

      <section>
       <h3 class="subtitle">デザイン見本</h3>
       <h4>中綴じタイプ</h4>
       <p class="brochure">最もオーソドックスなスタイルで、A4サイズで8ページから4の倍数ページで構成されます。</p>
       <img src="/assetsimg-printing-brochure01.jpg" width="650" height="260" border="0">
       <h4>ポケットホルダ + ペラタイプ</h4>
       <p class="brochure">二つ折り見開きタイプ、4ページがスタンダードで、表紙を開いた右側にポケットを配置します。<br>その他にも、中綴じ（8ページ以上）タイプの最後のページにポケットを配置することも可能です。</p>
       <img src="/assetsimg-printing-brochure02.jpg" width="650" height="260" border="0">
       <h4>中綴じ・観音開きタイプ</h4>
       <p class="brochure">ページの片側が観音開きになります。</p>
       <img src="/assetsimg-printing-brochure03.jpg" width="650" height="260" border="0">
       <h4>リーフレットタイプ</h4>
       <p class="brochure">リーフレットタイプは、A4の1/3がスタンダードです。<br>その他にも、左右両側観音開きタイプもご用意しております。</p>
       <img src="/assetsimg-printing-brochure04.jpg" width="650" height="260" border="0">
       <h4>その他のタイプ</h4>
       <p class="brochure">使用目的にあったタイプをご提案いたします。<br>お気軽にご相談ください。</p>
      </section>
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->

