
<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
       <div id="breadcrumb-nav"><a href="https://www.printhakase.com/" title="HOME">HOME</a> &gt;  
<a href="/printing/"">各種印刷サービス</a> &gt;  
名刺・カード印刷
 
 
 
 
 
 
 
 
 
 
 

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>
      </div>
      <div id="userinfo">
       
      </div>
     </div>
     <article>
            <h1 class="title-printing-card">名刺・カード印刷</h1>
      <img src="https://www.printhakase.com/images/img-printing-card.jpg" width="242" height="182" border="0" class="img">
      <div id="des-container">
       <h2 class="des-printing-card">ぷりんと博士の名刺・カード印刷</h2>
       <p>名刺・カードデザインテンプレートを多数ご用意いたしました。<br />シンプルな名刺や「簡単に」「お手軽に」名刺作成をしたい方にはとにかくおすすめです！！<br />ぷりんと博士ではテンプレート以外にもお客様のご要望に合わせてオリジナルデザイン制作を承っております。<br /><br />各種詳細、ご不明点などはお気軽にお問い合わせください。<br />→[ <a href="../contact.html">お問い合わせ</a> ]はこちら</p>
      </div>

      <section>
       <h3 class="subtitle">名刺・カード印刷料金</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="list">
        <tr>
         <th class="head">&nbsp;</th>
         <th>片面1C</th>
         <th>両面1C</th>
         <th>片面4C</th>
         <th>片面4色<br />裏1色</th>
        </tr>
        <tr>
         <td>100枚（1箱）</td>
         <td><span class="red"><strong>800円</strong></span></td>
         <td>1,600円</td>
         <td>2,400円</td>
         <td>3,200円</td>
        </tr>
        <tr>
         <td>200枚（2箱）</td>
         <td>1,600円</td>
         <td>3,200円</td>
         <td>4,800円</td>
         <td>6,400円</td>
        </tr>
        <tr>
         <td>300枚（3箱）</td>
         <td>2,400円</td>
         <td>4,800円</td>
         <td>7,200円</td>
         <td>9,600円</td>
        </tr>
        <tr>
         <td>400枚（4箱）</td>
         <td>3,200円</td>
         <td>6,400円</td>
         <td>9,600円</td>
         <td>12,800円</td>
        </tr>
        <tr>
         <td>500枚（5箱）</td>
         <td>3,600円</td>
         <td>7,200円</td>
         <td>10,800円</td>
         <td>14,400円</td>
        </tr>
        <tr>
         <td>1000枚（10箱）</td>
         <td>6,400円</td>
         <td>12,800円</td>
         <td>19,200円</td>
         <td>25,600円</td>
        </tr>
       </table>
       <p class="tax">（消費税別）</p>
       <p>※上記料金に関しては当社ひな形よりお選びいただいた料金となります。<br />※当店指定用紙（白・クリーム）以外は1箱105円プラスとなります。<br />※オリジナル名刺の場合は、初回のみ制作代金1,050円頂きます。（内容により制作価格は異なる場合がございます）<br />※名刺デザインが既にデータである場合は[ <a href="../data.html">データ入稿フォーム</a> ]よりお送り下さい。<br /><span class="red">※データに関しては、イラストレーターで制作したもので必ずアウトラインをとってください。</span><br /><span class="red">※断ち切り名刺の場合は料金が変わりますのでご注意下さい。</span></p>
      </section>

      <section>
       <h3 class="subtitle">テンプレートから名刺・カード印刷をオーダー</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="thumbs">
        <tr>
         <td><img src="https://www.printhakase.com/images/a001s.gif" width="76" height="126" border="0"><br><span>A-001</span></td>
         <td><img src="https://www.printhakase.com/images/a002s.gif" width="76" height="126" border="0"><br><span>A-002</span></td>
         <td><img src="https://www.printhakase.com/images/a003s.gif" width="76" height="126" border="0"><br><span>A-003</span></td>
         <td><img src="https://www.printhakase.com/images/a004s.gif" width="76" height="126" border="0"><br><span>A-004</span></td>
         <td><img src="https://www.printhakase.com/images/a005s.gif" width="76" height="126" border="0"><br><span>A-005</span></td>
        </tr>
        <tr>
         <td><img src="https://www.printhakase.com/images/a006s.gif" width="76" height="126" border="0"><br><span>A-006</span></td>
         <td><img src="https://www.printhakase.com/images/a007s.gif" width="76" height="126" border="0"><br><span>A-007</span></td>
         <td><img src="https://www.printhakase.com/images/a008s.gif" width="76" height="126" border="0"><br><span>A-008</span></td>
         <td><img src="https://www.printhakase.com/images/a009s.gif" width="76" height="126" border="0"><br><span>A-009</span></td>
         <td><img src="https://www.printhakase.com/images/a010s.gif" width="76" height="126" border="0"><br><span>A-010</span></td>
        </tr>
        <tr>
         <td><img src="https://www.printhakase.com/images/a011s.gif" width="76" height="126" border="0"><br><span>A-011</span></td>
         <td><img src="https://www.printhakase.com/images/a012s.gif" width="76" height="126" border="0"><br><span>A-012</span></td>
         <td><img src="https://www.printhakase.com/images/a013s.gif" width="76" height="126" border="0"><br><span>A-013</span></td>
         <td><img src="https://www.printhakase.com/images/a014s.gif" width="76" height="126" border="0"><br><span>A-014</span></td>
         <td><img src="https://www.printhakase.com/images/a015s.gif" width="76" height="126" border="0"><br><span>A-015</span></td>
        </tr>
        <tr>
         <td><img src="https://www.printhakase.com/images/a016s.gif" width="76" height="126" border="0"><br><span>A-016</span></td>
         <td><img src="https://www.printhakase.com/images/a017s.gif" width="76" height="126" border="0"><br><span>A-017</span></td>
         <td><img src="https://www.printhakase.com/images/a018s.gif" width="76" height="126" border="0"><br><span>A-018</span></td>
         <td><img src="https://www.printhakase.com/images/a019s.gif" width="76" height="126" border="0"><br><span>A-019</span></td>
         <td><img src="https://www.printhakase.com/images/a020s.gif" width="76" height="126" border="0"><br><span>A-020</span></td>
        </tr>
        <tr>
         <td><img src="https://www.printhakase.com/images/a021s.gif" width="76" height="126" border="0"><br><span>A-021</span></td>
         <td><img src="https://www.printhakase.com/images/a022s.gif" width="76" height="126" border="0"><br><span>A-022</span></td>
         <td><img src="https://www.printhakase.com/images/a023s.gif" width="76" height="126" border="0"><br><span>A-023</span></td>
         <td><img src="https://www.printhakase.com/images/a024s.gif" width="76" height="126" border="0"><br><span>A-024</span></td>
         <td></td>
        </tr>
       </table>
      </section>
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->

