
<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
       <div id="breadcrumb-nav"><a href="https://www.printhakase.com/" title="HOME">HOME</a> &gt;  
<a href="/printing/"">各種印刷サービス</a> &gt;  
 
 
 
 
 
 
 
 
 
名入れ封筒印刷
 
 

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>
      </div>
      <div id="userinfo">
       
      </div>
     </div>
     <article>
            <h1 class="title-printing-envelope">名入れ封筒印刷</h1>
      <img src="https://www.printhakase.com/images/img-printing-envelope.jpg" width="242" height="182" border="0" class="img">
      <div id="des-container">
       <h2 class="des-printing-envelope">どこよりも安い激安封筒印刷！</h2>
       <p>既成の封筒に印刷を施します。<br>下記に一部封筒のサイズを掲載しておりますが、掲載以外のサイズも承っております。<br /><br>各種詳細、ご不明点などはお気軽にお問い合わせください。<br />→[ <a href="https://www.printhakase.com/contact.html">お問い合わせ</a> ]はこちら</p>
      </div>

      <section>
       <h3 class="subtitle">封筒印刷（スピード印刷+封筒価格）料金</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="list">
        <tr>
         <th>封筒のサイズ</th>
         <th>紙の種類</th><th>厚さ（g/m<sup>2</sup>）</th>
         <th>500枚</th><th>1000枚</th>
        </tr>
        <tr>
         <td rowspan="3">長4（定型）<br>90mm × 205mm</td>
         <td>クラフト（茶封筒）</td>
         <td>85</td>
         <td>-</td>
         <td>7,071円</td>
        </tr>
        <tr>
         <td>ケント（白封筒）</td>
         <td>80</td>
         <td>-</td>
         <td>7,817円</td>
        </tr>
        <tr>
         <td>パステルカラー</td>
         <td>80</td>
         <td>-</td>
         <td>8,568円</td>
        </tr>
        <tr>
         <td rowspan="3">長3（定型）<br>120mm × 235mm</td>
         <td>クラフト（茶封筒）</td>
         <td>85</td>
         <td>-</td>
         <td>8,400円</td>
        </tr>
        <tr>
         <td>ケント（白封筒）</td>
         <td>80</td>
         <td>-</td>
         <td>9,660円</td>
        </tr>
        <tr>
         <td>パステルカラー</td>
         <td>80</td>
         <td>-</td>
         <td>10,861円</td>
        </tr>
        <tr>
         <td rowspan="3">角2<br>240mm × 332mm</td>
         <td>クラフト（茶封筒）</td>
         <td>85</td>
         <td>8,132円</td>
         <td>16,264円</td>
        </tr>
        <tr>
         <td>ケント（白封筒）</td>
         <td>85</td>
         <td>9,736円</td>
         <td>19,472円</td>
        </tr>
        <tr>
         <td>パステルカラー</td>
         <td>100</td>
         <td>13,251円</td>
         <td>26,502円</td>
        </tr>
        <tr>
         <td rowspan="3">角1<br>270mm × 382mm</td>
         <td>クラフト（茶封筒）</td>
         <td>85</td>
         <td>11,055円</td>
         <td>21,110円</td>
        </tr>
        <tr>
         <td>ケント（白封筒）</td>
         <td>100</td>
         <td>14,706円</td>
         <td>28,413円</td>
        </tr>
        <tr>
         <td>パステルカラー</td>
         <td>100</td>
         <td>17,300円</td>
         <td>33,600円</td>
        </tr>
        <tr>
         <td rowspan="3">洋長3（定型）<br>120mm × 235mm</td>
         <td>ケント（白封筒）</td>
         <td>100</td>
         <td>7,002円</td>
         <td>13,004円</td>
        </tr>
        <tr>
         <td>パステルカラー</td>
         <td>100</td>
         <td>7,343円</td>
         <td>13,686円</td>
        </tr>
       </table>
       <p>※上記の料金表は黒1色片面スピード印刷の金額です。<br>※その他色刷り（赤・青）もあります。色印刷は別途料金となります。<br>※上記以外のサイズ、窓付き封筒をご希望のお客様は[ <a href="https://www.printhakase.com/">お問い合わせ</a> ]よりお気軽にご連絡ください。</p>
      </section>

      <section>
       <h3 class="subtitle">封筒のサイズ見本</h3>
       <img src="https://www.printhakase.com/images/img-printing-envelope01.jpg" width="650" height="250" border="0">
       <p><span class="red">※洋とついているものは横開きの封筒です。</span></p>
      </section>

      <section>
       <h3 class="subtitle">封筒の紙質・カラー見本</h3>
       <img src="https://www.printhakase.com/images/img-printing-envelope02.jpg" width="650" height="128" border="0">
      </section>

      <section>
       <h3 class="subtitle">デザインをご用意されている場合のお見積り</h3>
       <p>データをご提出の際、Illustrator（イラストレーター）ファイルでの支給ですと、そのまま原版として使用できます。（修正が必要な場合もございます）<br>なお、対応バージョンは、Illustrator Ver.7～Ver.9となっております。<br> <br>→詳しくは[ <a href="https://www.printhakase.com/guide/data.html">入稿について</a> ]をご覧ください。</p>
      </section>

      <section>
       <h3 class="subtitle">デザインをぷりんと博士で制作する場合のお見積り</h3>
       <p>ぷりんと博士でデザインから制作する場合は、上記料金以外に別途版下代金がかかります。<br>すでにお使いの封筒をお見積りする場合は、現物封筒を見本として1枚お渡しください。（スキャン画像をお送りいただいてもOKです）<br>※FAXの場合、元サイズ及び色の判別ができない場合がございますので、ご相談ください。<br> <br>→詳しくは[ <a href="https://www.printhakase.com/contact.html">お問い合わせ</a> ]よりお気軽にご連絡ください。</p>
      </section>

      <section>
       <h3 class="subtitle">ご確認項目</h3>
       <ol id="ollist">
        <li>封筒のサイズ</li>
        <li>紙質、紙の色（パステル）</li>
        <li>刷り色</li>
        <li>必要枚数（複数種類ご希望の場合は、各種類の必要枚数）</li>
       </ol>
       <p>ご依頼の際、上記確認項目を[ <a href="https://www.printhakase.com/estimate.html">お見積り依頼</a> ]よりご入力の上、送信ください。<br>その他不明点がございましたら、[ <a href="https://www.printhakase.com/contact.html">お問い合わせ</a> ]よりお気軽にご連絡ください。</p>
      </section>
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->

