
<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
       <div id="breadcrumb-nav"><a href="https://www.printhakase.com/" title="HOME">HOME</a> &gt;  
<a href="/printing/"">各種印刷サービス</a> &gt;  
 
 
 
チラシ・フライヤー印刷
 
 
 
 
 
 
 
 

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>
      </div>
      <div id="userinfo">
       
      </div>
     </div>
     <article>
            <h1 class="title-printing-flyer">チラシ・フライヤー印刷</h1>
      <img src="https://www.printhakase.com/images/img-printing-flyer.jpg" width="242" height="182" border="0" class="img">
      <div id="des-container">
       <h2 class="des-printing-flyer">チラシ、フライヤー、各種承ります</h2>
       <p>スーパーのチラシから、イベントのフライヤーまで各種印刷承っております。<br>印刷だけでなくデザイン制作も承っております。<br /><br />各種詳細、ご不明点などはお気軽にお問い合わせください。<br />→[ <a href="../contact.html">お問い合わせ</a> ]はこちら</p>
      </div>

      <section>
       <h3 class="subtitle">チラシ・フライヤー印刷料金(スピード印刷)</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="list">
        <tr>
         <th></th>
         <th>B5</th>
         <th>A4</th>
         <th>B4</th>
         <th>A3</th>
        </tr>
        <tr>
         <td>10,000枚～</td>
         <td>2.4円</td>
         <td>2.8円</td>
         <td>3.7円</td>
         <td>4.7円</td>
        </tr>
        <tr>
         <td>5,000枚～</td>
         <td>2.6円</td>
         <td>3.1円</td>
         <td>4.2円</td>
         <td>5.2円</td>
        </tr>
        <tr>
         <td>3,000枚～</td>
         <td>3.1円</td>
         <td>4.2円</td>
         <td>5.2円</td>
         <td>6.3円</td>
        </tr>
        <tr>
         <td>1,000枚～</td>
         <td>4.2円</td>
         <td>5.2円</td>
         <td>6.3円</td>
         <td>7.3円</td>
        </tr>
        <tr>
         <td>500枚～</td>
         <td>5.2円</td>
         <td>6.3円</td>
         <td>7.3円</td>
         <td>8.4円</td>
        </tr>
        <tr>
         <td>100枚～</td>
         <td>6.2円</td>
         <td>7.3円</td>
         <td>8.4円</td>
         <td>9.4円</td>
        </tr>
       </table>
       <p>※黒1色片面印刷、同一原稿1枚の金額です。</p>
      </section>

      <section>
       <h3 class="subtitle">チラシ・フライヤー印刷色見本(スピード印刷)</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="thumbs">
        <tr>
         <td><img src="https://www.printhakase.com/images/img-printing-flyer01.jpg" width="313" height="160" border="0"></td>
         <td><img src="https://www.printhakase.com/images/img-printing-flyer02.jpg" width="313" height="160" border="0"></td>
        </tr>
        <tr>
         <td colspan="2"><img src="https://www.printhakase.com/images/img-printing-flyer03.jpg" width="640" height="150" border="0"></td>
        </tr>
       </table>
       <p>※色印刷やカラー用紙をご希望の場合は、それぞれ@1.05円プラスになります。<br><span class="red">※枚数による価格変動がございますので、料金は事前にスタッフにお問い合わせください。</span><br><br>→料金については、［ <a href="https://www.printhakase.com/contact.html">お問い合わせ</a> ］よりお気軽にご相談ください。</p>
      </section>

      <section>
       <h3 class="subtitle">デザインをご用意されている場合のお見積り</h3>
       <p>データをご提出の際、Illustrator（イラストレーター）ファイルでの支給ですと、そのまま原版として使用できます。（修正が必要な場合もございます）<br>なお、対応バージョンは、Illustrator Ver.7～Ver.9となっております。<br> <br>→詳しくは[ <a href="https://www.printhakase.com/guide/data.html">入稿について</a> ]をご覧ください。</p>
      </section>

      <section>
       <h3 class="subtitle">デザインをぷりんと博士で制作する場合のお見積り</h3>
       <p>ぷりんと博士でデザインから制作する場合は、上記料金以外に別途版下代金がかかります。<br>すでにお使いのハガキをお見積りする場合は、現物ハガキを見本として1枚お渡しください。（スキャン画像をお送りいただいてもOKです）<br>※FAXの場合、元サイズ及び色の判別ができない場合がございますので、ご相談ください。<br> <br>→詳しくは[ <a href="https://www.printhakase.com/contact.html">入稿について</a> ]よりお気軽にご連絡ください。</p>
      </section>

      <section>
       <h3 class="subtitle">ご確認項目</h3>
       <ol id="ollist">
        <li>刷り色</li>
        <li>必要枚数</li>
        <li>郵便番号枠 有り/無し</li>
       </ol>
       <p>ご依頼の際、上記確認項目を[ <a href="https://www.printhakase.com/estimate.html">お見積り依頼</a> ]よりご入力の上、送信ください。<br>その他不明点がございましたら、[ <a href="https://www.printhakase.com/contact.html">お問い合わせ</a> ]よりお気軽にご連絡ください。</p>
      </section>
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->
