
<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
       <div id="breadcrumb-nav"><a href="/" title="HOME">HOME</a> &gt;  
<a href="/printing/"">各種印刷サービス</a> &gt;  ノベルティ名入れ印刷</div>
      </div>
      <div id="userinfo">
       
      </div>
     </div>
     <article>
            <h1 class="title-printing-novelty">ノベルティ名入れ印刷</h1>
      <img src="/assets/img-printing-novelty.jpg" width="242" height="182" border="0" class="img">
      <div id="des-container">
       <h2 class="des-printing-novelty">選べる！豊富なノベルティグッズ</h2>
       <p>文房具から生活用品まで品揃え豊富にご用意してます。<br>社名やチーム名など名前入れも可能。<br>オリジナルグッズとしてご利用ください。<br><br />→[ <a href="../contact.html">お問い合わせ</a> ]はこちら</p>
      </div>

      <section>
       <h3 class="subtitle">ノベルティグッズの紹介</h3>
       <div id="novelty-container">
        <img src="/assets/img-printing-novelty01.jpg" width="150" height="120" alt="木目調ボールペン" class="novelty">
        <div id="novelty-wrapper">
         <h4 class="item-name"><span class="blue small"><strong>木目調ボールペン</strong></span></h4>
         <table border="0" cellpadding="0" cellspacing="0" class="item">
          <tr><th>単価</th><td><del>80円</del> → <span class="red">58円</span></td></tr>
          <tr><th>名入れ代</th><td>60円／1本</td></tr>
          <tr><th>申込単位</th><td>200本</td></tr>
          <tr><th>サイズ</th><td>1.4×2.0×14.0cm</td></tr>
          <tr><th>名入れ範囲</th><td>0.6×5.0cm</td></tr>
          <tr><th>名入れ箇所</th><td>本体</td></tr>
         </table>
        </div>
       </div>

       <div id="novelty-container">
        <img src="/assets/img-printing-novelty02.jpg" width="150" height="120" alt="エコナチュラルコットンバッグ" class="novelty">
        <div id="novelty-wrapper">
         <h4 class="item-name"><span class="blue small"><strong>エコナチュラルコットンバッグ</strong></span></h4>
         <table border="0" cellpadding="0" cellspacing="0" class="item">
          <tr><th>単価</th><td><del>200円</del> → <span class="red">180円</span></td></tr>
          <tr><th>名入れ代</th><td>70円／1本</td></tr>
          <tr><th>申込単位</th><td>200本</td></tr>
          <tr><th>サイズ</th><td>36.0×37.0×11.0cm</td></tr>
          <tr><th>名入れ範囲</th><td>20.0×20.0cm</td></tr>
          <tr><th>名入れ箇所</th><td>本体中央</td></tr>
         </table>
        </div>
       </div>

       <div id="novelty-container">
        <img src="/assets/img-printing-novelty03.jpg" width="150" height="120" alt="ちょっと大きなトートバッグ" class="novelty">
        <div id="novelty-wrapper">
         <h4 class="item-name"><span class="blue small"><strong>ちょっと大きなトートバッグ</strong></span></h4>
         <table border="0" cellpadding="0" cellspacing="0" class="item">
          <tr><th>単価</th><td><del>100円</del> → <span class="red">98円</span></td></tr>
          <tr><th>名入れ代</th><td>110円／1本</td></tr>
          <tr><th>申込単位</th><td>144本</td></tr>
          <tr><th>サイズ</th><td>43.0×38.0×11.0cm</td></tr>
          <tr><th>名入れ範囲</th><td>8.0×8.0cm</td></tr>
          <tr><th>名入れ箇所</th><td>本体</td></tr>
         </table>
        </div>
       </div>

       <div id="novelty-container">
        <img src="/assets/img-printing-novelty04.jpg" width="150" height="120" alt="オリジナル名入れ箸" class="novelty">
        <div id="novelty-wrapper">
         <h4 class="item-name"><span class="blue small"><strong>オリジナル名入れ箸</strong></span></h4>
         <table border="0" cellpadding="0" cellspacing="0" class="item">
          <tr><th>単価</th><td><del>300円</del> → <span class="red">138円</span></td></tr>
          <tr><th>名入れ代</th><td>110円／1本</td></tr>
          <tr><th>申込単位</th><td></td></tr>
          <tr><th>サイズ</th><td>全長22.5cm</td></tr>
          <tr><th>名入れ範囲</th><td>8文字まで</td></tr>
          <tr><th>名入れ箇所</th><td>写真参照</td></tr>
         </table>
        </div>
       </div>

       <div id="novelty-container">
        <img src="/assets/img-printing-novelty05.jpg" width="150" height="120" alt="Play！color クリップクロック" class="novelty">
        <div id="novelty-wrapper">
         <h4 class="item-name"><span class="blue small"><strong>Play！color クリップクロック</strong></span></h4>
         <table border="0" cellpadding="0" cellspacing="0" class="item">
          <tr><th>単価</th><td><del>600円</del> → <span class="red">158円</span></td></tr>
          <tr><th>名入れ代</th><td>80円／1本</td></tr>
          <tr><th>申込単位</th><td>72個</td></tr>
          <tr><th>サイズ</th><td>5.5×2.5×8.5cm</td></tr>
          <tr><th>名入れ範囲</th><td>1.5×4.0cm</td></tr>
          <tr><th>名入れ箇所</th><td>本体</td></tr>
         </table>
        </div>
       </div>

       <div id="novelty-container">
        <img src="/assets/img-printing-novelty06.jpg" width="150" height="120" alt="ウォーキングメイト" class="novelty">
        <div id="novelty-wrapper">
         <h4 class="item-name"><span class="blue small"><strong>ウォーキングメイト</strong></span></h4>
         <table border="0" cellpadding="0" cellspacing="0" class="item">
          <tr><th>単価</th><td><del>500円</del> → <span class="red">138円</span></td></tr>
          <tr><th>名入れ代</th><td>80円／1本</td></tr>
          <tr><th>申込単位</th><td>72個</td></tr>
          <tr><th>サイズ</th><td>3.6×1.8×4.5cm</td></tr>
          <tr><th>名入れ範囲</th><td>1.5×2.5cm</td></tr>
          <tr><th>名入れ箇所</th><td>本体</td></tr>
         </table>
        </div>
       </div>

       <div id="novelty-container">
        <img src="/assets/img-printing-novelty07.jpg" width="150" height="120" alt="シースルー卓上時計" class="novelty">
        <div id="novelty-wrapper">
         <h4 class="item-name"><span class="blue small"><strong>シースルー卓上時計</strong></span></h4>
         <table border="0" cellpadding="0" cellspacing="0" class="item">
          <tr><th>単価</th><td><del>600円</del> → <span class="red">168円</span></td></tr>
          <tr><th>名入れ代</th><td>80円／1本</td></tr>
          <tr><th>申込単位</th><td>72個</td></tr>
          <tr><th>サイズ</th><td>全長10.5cm</td></tr>
          <tr><th>名入れ範囲</th><td>1.5×4.0cm</td></tr>
          <tr><th>名入れ箇所</th><td>本体</td></tr>
         </table>
        </div>
       </div>

       <div id="novelty-container">
        <img src="/assets/img-printing-novelty08.jpg" width="150" height="120" alt="モダンモダンコレクショントレー" class="novelty">
        <div id="novelty-wrapper">
         <h4 class="item-name"><span class="blue small"><strong>モダンモダンコレクショントレー</strong></span></h4>
         <table border="0" cellpadding="0" cellspacing="0" class="item">
          <tr><th>単価</th><td><del>560円</del> → <span class="red">198円</span></td></tr>
          <tr><th>名入れ代</th><td>85円／1本</td></tr>
          <tr><th>申込単位</th><td>60個</td></tr>
          <tr><th>サイズ</th><td>19.0×19.0cm</td></tr>
          <tr><th>名入れ範囲</th><td>5.0×5.0cm</td></tr>
          <tr><th>名入れ箇所</th><td>本体中央</td></tr>
         </table>
        </div>
       </div>

       <div id="novelty-container">
        <img src="/assets/img-printing-novelty09.jpg" width="150" height="120" alt="モダンモダンバニラコレクション ハンドタオル" class="novelty">
        <div id="novelty-wrapper">
         <h4 class="item-name"><span class="blue small"><strong>モダンモダンバニラコレクション<br>ハンドタオル</strong></span></h4>
         <table border="0" cellpadding="0" cellspacing="0" class="item">
          <tr><th>単価</th><td><del>400円</del> → <span class="red">120円</span></td></tr>
          <tr><th>申込単位</th><td>60個</td></tr>
          <tr><th>サイズ</th><td>25.0×25.0cm</td></tr>
          <tr><th colspan="2"><span class="red">※名入れ不可</span></th></tr>
         </table>
        </div>
       </div>

       <div id="novelty-container">
        <img src="/assets/img-printing-novelty10.jpg" width="150" height="120" alt="モダンモダンバニラコレクション フェイスタオル" class="novelty">
        <div id="novelty-wrapper">
         <h4 class="item-name"><span class="blue small"><strong>モダンモダンバニラコレクション<br>フェイスタオル</strong></span></h4>
         <table border="0" cellpadding="0" cellspacing="0" class="item">
          <tr><th>単価</th><td><del>680円</del> → <span class="red">298円</span></td></tr>
          <tr><th>申込単位</th><td>60個</td></tr>
          <tr><th>サイズ</th><td>34.0×80.0cm</td></tr>
          <tr><th colspan="2"><span class="red">※名入れ不可</span></th></tr>
         </table>
        </div>
       </div>

       <div id="novelty-container">
        <img src="/assets/img-printing-novelty11.jpg" width="150" height="120" alt="折りたたみトートバッグ" class="novelty">
        <div id="novelty-wrapper">
         <h4 class="item-name"><span class="blue small"><strong>折りたたみトートバッグ</strong></span></h4>
         <table border="0" cellpadding="0" cellspacing="0" class="item">
          <tr><th>単価</th><td><del>500円</del> → <span class="red">198円</span></td></tr>
          <tr><th>名入れ代</th><td>120円／1本</td></tr>
          <tr><th>申込単位</th><td>30個</td></tr>
          <tr><th>サイズ</th><td>33.0×39.0×8.5cm</td></tr>
          <tr><th>名入れ範囲</th><td>2.0x5.0cm</td></tr>
          <tr><th>名入れ箇所</th><td>PVC（茶色）部分</td></tr>
         </table>
        </div>
       </div>

       <div id="novelty-container">
        <img src="/assets/img-printing-novelty12.jpg" width="150" height="120" alt="携帯用ショッピングバッグ" class="novelty">
        <div id="novelty-wrapper">
         <h4 class="item-name"><span class="blue small"><strong>携帯用ショッピングバッグ</strong></span></h4>
         <table border="0" cellpadding="0" cellspacing="0" class="item">
          <tr><th>単価</th><td><del>500円</del> → <span class="red">198円</span></td></tr>
          <tr><th>名入れ代</th><td>110円／1本</td></tr>
          <tr><th>申込単位</th><td>30個</td></tr>
          <tr><th>サイズ</th><td>35.0×22.0×29.5cm</td></tr>
          <tr><th>名入れ範囲</th><td>2.0x5.0cm</td></tr>
          <tr><th>名入れ箇所</th><td>ケース</td></tr>
         </table>
        </div>
       </div>

       <div id="novelty-container">
        <img src="/assets/img-printing-novelty13.jpg" width="150" height="120" alt="折りたためる2WAYトートバッグ" class="novelty">
        <div id="novelty-wrapper">
         <h4 class="item-name"><span class="blue small"><strong>折りたためる2WAYトートバッグ</strong></span></h4>
         <table border="0" cellpadding="0" cellspacing="0" class="item">
          <tr><th>単価</th><td><del>1,000円</del> → <span class="red">298円</span></td></tr>
          <tr><th>名入れ代</th><td>130円／1本</td></tr>
          <tr><th>申込単位</th><td>72個</td></tr>
          <tr><th>サイズ</th><td>50.0×44.0cm</td></tr>
          <tr><th>名入れ範囲</th><td>10.0×10.0cm</td></tr>
          <tr><th>名入れ箇所</th><td>本体中央</td></tr>
         </table>
        </div>
       </div>

       <div id="novelty-container">
        <img src="/assets/img-printing-novelty14.jpg" width="150" height="120" alt="どでかトートバッグ" class="novelty">
        <div id="novelty-wrapper">
         <h4 class="item-name"><span class="blue small"><strong>どでかトートバッグ</strong></span></h4>
         <table border="0" cellpadding="0" cellspacing="0" class="item">
          <tr><th>単価</th><td><del>1,000円</del> → <span class="red">298円</span></td></tr>
          <tr><th>名入れ代</th><td>130円／1本</td></tr>
          <tr><th>申込単位</th><td>36個</td></tr>
          <tr><th>サイズ</th><td>40.0×18.0×40.0cm</td></tr>
          <tr><th>名入れ範囲</th><td>10.0×10.0cm</td></tr>
          <tr><th>名入れ箇所</th><td>本体ポケット</td></tr>
         </table>
        </div>
       </div>

       <div id="novelty-container">
        <img src="/assets/img-printing-novelty15.jpg" width="150" height="120" alt="Play！color エマージェンシーチャージャー" class="novelty">
        <div id="novelty-wrapper">
         <h4 class="item-name"><span class="blue small"><strong>Play！color<br>エマージェンシーチャージャー</strong></span></h4>
         <table border="0" cellpadding="0" cellspacing="0" class="item">
          <tr><th>単価</th><td><del>1,150円</del> → <span class="red">338円</span></td></tr>
          <tr><th>名入れ代</th><td>100円／1本</td></tr>
          <tr><th>申込単位</th><td>50個</td></tr>
          <tr><th>サイズ</th><td>本体2.7cm<br>ケーブル10.5cm</td></tr>
          <tr><th>名入れ範囲</th><td>0.8×3.0cm</td></tr>
          <tr><th>名入れ箇所</th><td>本体</td></tr>
         </table>
        </div>
       </div>

       <div id="novelty-container">
        <img src="/assets/img-printing-novelty16.jpg" width="150" height="120" alt="モダンモダンリビングラック" class="novelty">
        <div id="novelty-wrapper">
         <h4 class="item-name"><span class="blue small"><strong>モダンモダンリビングラック</strong></span></h4>
         <table border="0" cellpadding="0" cellspacing="0" class="item">
          <tr><th>単価</th><td><del>1,250円</del> → <span class="red">398円</span></td></tr>
          <tr><th>名入れ代</th><td>105円／1本</td></tr>
          <tr><th>申込単位</th><td>36個</td></tr>
          <tr><th>サイズ</th><td>14.5×11.0×11.0cm</td></tr>
          <tr><th>名入れ範囲</th><td>5.0×5.0cm</td></tr>
          <tr><th>名入れ箇所</th><td>本体</td></tr>
         </table>
        </div>
       </div>

       <div id="novelty-container">
        <img src="/assets/img-printing-novelty17.jpg" width="150" height="120" alt="電波時計" class="novelty">
        <div id="novelty-wrapper">
         <h4 class="item-name"><span class="blue small"><strong>電波時計</strong></span></h4>
         <table border="0" cellpadding="0" cellspacing="0" class="item">
          <tr><th>単価</th><td><del>1,700円</del> → <span class="red">498円</span></td></tr>
          <tr><th>名入れ代</th><td>105円／1本</td></tr>
          <tr><th>申込単位</th><td>36個</td></tr>
          <tr><th>サイズ</th><td>7.2×8.3×4.2cm</td></tr>
          <tr><th>名入れ範囲</th><td>1.0×4.0cm</td></tr>
          <tr><th>名入れ箇所</th><td>本体</td></tr>
         </table>
        </div>
       </div>

       <div id="novelty-container">
        <img src="/assets/img-printing-novelty18.jpg" width="150" height="120" alt="ステンレス魔法瓶 350ml" class="novelty">
        <div id="novelty-wrapper">
         <h4 class="item-name"><span class="blue small"><strong>ステンレス魔法瓶 350ml</strong></span></h4>
         <table border="0" cellpadding="0" cellspacing="0" class="item">
          <tr><th>単価</th><td><del>1,500円</del> → <span class="red">448円</span></td></tr>
          <tr><th>名入れ代</th><td>125円／1本</td></tr>
          <tr><th>申込単位</th><td>30個</td></tr>
          <tr><th>サイズ</th><td>直径6.7cm<br>高さ20.2cm<br>口径4.5cm</td></tr>
          <tr><th>名入れ範囲</th><td>5.0×5.0cm</td></tr>
          <tr><th>名入れ箇所</th><td>本体またはケース</td></tr>
         </table>
        </div>
       </div>

       <div id="novelty-container">
        <img src="/assets/img-printing-novelty19.jpg" width="150" height="120" alt="ステンレス魔法瓶 500ml" class="novelty">
        <div id="novelty-wrapper">
         <h4 class="item-name"><span class="blue small"><strong>ステンレス魔法瓶 500ml</strong></span></h4>
         <table border="0" cellpadding="0" cellspacing="0" class="item">
          <tr><th>単価</th><td><del>1,700円</del> → <span class="red">498円</span></td></tr>
          <tr><th>名入れ代</th><td>125円／1本</td></tr>
          <tr><th>申込単位</th><td>30個</td></tr>
          <tr><th>サイズ</th><td>直径6.7cm<br>高さ24.0cm<br>口径4.5cm</td></tr>
          <tr><th>名入れ範囲</th><td>5.0×5.0cm</td></tr>
          <tr><th>名入れ箇所</th><td>本体またはケース</td></tr>
         </table>
        </div>
       </div>

       <div id="novelty-container">
        <img src="/assets/img-printing-novelty20.jpg" width="150" height="120" alt="健康スキャン体脂肪計" class="novelty">
        <div id="novelty-wrapper">
         <h4 class="item-name"><span class="blue small"><strong>健康スキャン体脂肪計</strong></span></h4>
         <table border="0" cellpadding="0" cellspacing="0" class="item">
          <tr><th>単価</th><td><del>1,700円</del> → <span class="red">498円</span></td></tr>
          <tr><th>名入れ代</th><td>100円／1本</td></tr>
          <tr><th>申込単位</th><td>72個</td></tr>
          <tr><th>サイズ</th><td>12.0×7.5×2.8cm</td></tr>
          <tr><th>名入れ範囲</th><td>0.5×2.4cm</td></tr>
          <tr><th>名入れ箇所</th><td>液晶上部</td></tr>
         </table>
        </div>
       </div>
       <div id="adj"><p><span class="red">※名入れは、版代として別途料金がかかります。（版代は商品によって異なりますので、詳しくはお問い合わせください）<br>※名入れは、すべて100個以上からのご注文となります。<br>※価格は、すべて別途消費税がかかります。<br>※別途送料がかかります。</span></p></div>
      </section>

      <section>
       <h3 class="subtitle">ご確認項目</h3>
       <ol id="ollist">
        <li>ご希望の商品</li>
        <li>数量</li>
        <li>ロゴデザイン等の有無</li>
        <li>名入れの色（名入れの色は1色のみとなります）</li>
       </ol>
       <p><span class="red">※商品により納期が異なりますので、お問い合わせください。</span><br><br>ご依頼の際、上記確認項目を[ <a href="estimate.html">お見積り依頼</a> ]よりご入力の上、送信ください。<br>その他不明点がございましたら、[ <a href="contact.html">お問い合わせ</a> ]よりお気軽にご連絡ください。</p>
      </section>
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->
