<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
       <div id="breadcrumb-nav"><a href="/" title="HOME">HOME</a> &gt;  
<a href="/printing/"">各種印刷サービス</a> &gt; <a href="/printing/uniform/"">ユニフォームプリント</a> &gt; ポロシャツ</div>
      </div>
      <div id="userinfo">
       
      </div>
     </div>
     <article>
            <h1 class="title-printing-uniform">ポロシャツ</h1>
      <img src="assets/img-printing-polo.jpg" width="242" height="182" border="0" class="img">
      <div id="des-container">
       <h2 class="des-printing-polo">ポロシャツプリント</h2>
       <p>→[ <a href="contact.html">お問い合わせ</a> ]はこちら</p>
      </div>

      <section>
       <h3 class="subtitle">デザインをご用意されている場合のお見積り</h3>
       <p>データをご提出の際、Illustrator（イラストレーター）ファイルでの支給ですと、そのまま原版として使用できます。（修正が必要な場合もございます）<br>なお、対応バージョンは、Illustrator Ver.7～Ver.9となっております。<br> <br>→詳しくは[ <a href="guide/data.html">入稿について</a> ]をご覧ください。</p>
      </section>

      <section>
       <h3 class="subtitle">デザインをぷりんと博士で制作する場合のお見積り</h3>
       <p>ぷりんと博士でデザインから制作する場合は、上記料金以外に別途版下代金がかかります。<br>すでにお使いのポロシャツをお見積りする場合は、現物ポロシャツを見本として1枚お渡しください。<br>※FAXの場合、元サイズ及び色の判別ができない場合がございますので、ご相談ください。<br> <br>→詳しくは[ <a href="contact.html">お問い合わせ</a> ]よりお気軽にご連絡ください。</p>
      </section>

      <section>
       <h3 class="subtitle">ご確認項目</h3>
       <ol id="ollist">
        <li>トータル枚数またはトータル個数</li>
        <li>ユニフォームの種類（Tシャツ、トレーナー、バック、キャップ、エプロン等）</li>
        <li>サイズ内訳</li>
        <li>色内訳（カラー、色番）</li>
        <li>プリントサイズ</li>
        <li>版下・見本の有無</li>
       </ol>
       <p><span class="red">※お見積り依頼フォームに入力の際は、上記2～6を「特記事項・必要事項」欄に必ずご明記ください。</span><br><br>ご依頼の際、上記確認項目を[ <a href="estimate.html">お見積り依頼</a> ]よりご入力の上、送信ください。<br>その他不明点がございましたら、[ <a href="contact.html">お問い合わせ</a> ]よりお気軽にご連絡ください。</p>
      </section>
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->
