
<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
       <div id="breadcrumb-nav"><a href="https://www.printhakase.com/" title="HOME">HOME</a> &gt;  
<a href="/printing/"">各種印刷サービス</a> &gt;  
 
 
 
 
ポスター印刷
 
 
 
 
 
 
 

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>
      </div>
      <div id="userinfo">
       
      </div>
     </div>
     <article>
            <h1 class="title-printing-poster">ポスター印刷</h1>
      <img src="https://www.printhakase.com/images/img-printing-poster.jpg" width="242" height="182" border="0" class="img">
      <div id="des-container">
       <h2 class="des-printing-poster">各種ポスター印刷承ります</h2>
       <p>各種ポスター印刷承ります。<br>デザイン制作、印刷メディアも多数取り扱っております。<br /><br />各種詳細、ご不明点などはお気軽にお問い合わせください。<br />→[ <a href="https://www.printhakase.com/contact.html">お問い合わせ</a> ]はこちら</p>
      </div>

      <section>
       <h3 class="subtitle">ポスター印刷メディア出力料金価格表</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="list">
        <tr>
         <th>メディア</th>
         <th>サイズ（mm）</th>
         <th>金額</th>
        </tr>
        <tr>
         <td>光沢紙</td>
         <td>1200 × 600 ～</td>
         <td>5,292円 ～</td>
        </tr>
        <tr>
         <td>マットPET</td>
         <td>1200 × 600 ～</td>
         <td>5,586円 ～</td>
        </tr>
        <tr>
         <td>光沢塩ビ<br />（糊付）</td>
         <td>1200 × 600 ～</td>
         <td>10,878円 ～</td>
        </tr>
        <tr>
         <td>電飾フィルム</td>
         <td>1200 × 600 ～</td>
         <td>11,760円 ～</td>
        </tr>
        <tr>
         <td>光沢<br />ターポリン</td>
         <td>1200 × 600 ～</td>
         <td>7,938円 ～</td>
        </tr>
       </table>
       <p>※4色カラー・溶剤インク（耐久3年）<br><span class="red">※枚数による価格変動がございますので、料金は事前にスタッフにお問い合わせください。</span><br>→料金については、［ <a href="https://www.printhakase.com/">お問い合わせ</a> ］よりお気軽にご相談ください。</p>
      </section>

      <section>
       <h3 class="subtitle">メディア見本</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="thumbs">
        <tr>
         <td><img src="https://www.printhakase.com/images/img-printing-poster01.jpg" width="182" height="162" border="0"><br><span class="poster">ツヤ有りの屋内用などに</span></td>
         <td><img src="https://www.printhakase.com/images/img-printing-poster02.jpg" width="182" height="162" border="0"><span class="poster">ツヤ無しの屋内用などに<br>（ポリエステル素材）</span></td>
         <td><img src="https://www.printhakase.com/images/img-printing-poster03.jpg" width="182" height="162" border="0"><span class="poster">ステッカー、サイン、カーマーキング、看板、ディスプレイなどに</span></td>
        </tr>
        <tr>
         <td><img src="https://www.printhakase.com/images/img-printing-poster04.jpg" width="182" height="162" border="0"><span class="poster">電飾看板、サインなどに</span></td>
         <td><img src="https://www.printhakase.com/images/img-printing-poster05.jpg" width="182" height="162" border="0"><span class="poster">バナー、タペストリー懸垂幕、横断幕、看板などに</span></td>
         <td></td>
        </tr>
       </table>
       <p>→各メディアの詳しい用途・質感については、［ <a href="https://www.printhakase.com/contact.html">お問い合わせ</a> ］よりお気軽にご相談ください。</p>
      </section>

      <section>
       <h3 class="subtitle">デザインをご用意されている場合のお見積り</h3>
       <p>データをご提出の際、Illustrator（イラストレーター）ファイルでの支給ですと、そのまま原版として使用できます。（修正が必要な場合もございます）<br>なお、対応バージョンは、Illustrator Ver.7～Ver.9となっております。<br> <br>→詳しくは[ <a href="https://www.printhakase.com/guide/data.html">入稿について</a> ]をご覧ください。</p>
      </section>

      <section>
       <h3 class="subtitle">デザインをぷりんと博士で制作する場合のお見積り</h3>
       <p>ぷりんと博士でデザインから制作する場合は、上記料金以外に別途版下代金がかかります。<br>すでにお使いのポスターをお見積りする場合は、現物ポスターを見本として1枚お渡しください。（スキャン画像をお送りいただいてもOKです）<br>※FAXの場合、元サイズ及び色の判別ができない場合がございますので、ご相談ください。<br> <br>→詳しくは[ <a href="https://www.printhakase.com/contact.html">入稿について</a> ]よりお気軽にご連絡ください。</p>
      </section>

      <section>
       <h3 class="subtitle">ご確認項目</h3>
       <ol id="ollist">
        <li>ポスターのサイズ</li>
        <li>印刷メディアの種類</li>
        <li>必要枚数（複数種類ご希望の場合は、各種類の必要枚数）</li>
       </ol>
       <p>ご依頼の際、上記確認項目を[ <a href="https://www.printhakase.com/estimate.html">お見積り依頼</a> ]よりご入力の上、送信ください。<br>その他不明点がございましたら、[ <a href="https://www.printhakase.com/contact.html">お問い合わせ</a> ]よりお気軽にご連絡ください。</p>
      </section>
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->

