
<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
       <div id="breadcrumb-nav"><a href="/" title="HOME">HOME</a> &gt;  
<a href="/printing/"">各種印刷サービス</a> &gt; 名入れ伝票印刷</div>
      </div>
      <div id="userinfo">
       
      </div>
     </div>
     <article>
            <h1 class="title-printing-slip">名入れ伝票印刷</h1>
      <img src="/assets/img-printing-slip.jpg" width="242" height="182" border="0" class="img">
      <div id="des-container">
       <h2 class="des-printing-slip">各種名入れ伝票のご注文を承ります</h2>
       <p>納品書、見積書、請求書、単式、複写式、用途に合わせて様々な伝票を作成いたします。
名入れからオリジナルまで各種対応させていただきます。<br /><br />各種詳細、ご不明点などはお気軽にお問い合わせください。<br />→[ <a href="../contact.html">お問い合わせ</a> ]はこちら</p>
      </div>

      <section>
       <h3 class="subtitle">現在お使いの伝票をお見積り</h3>
       <img src="/assets/img-printing-slip01.jpg" width="180" height="124" border="0" class="img">
       <div id="des_s-container">
        <p>現物伝票を1セット見本としてお渡しください。（1冊ではなく、1セットで可）<br>その際に、何組で1冊にするか、及び今回作る予定の冊数をお教え下さい。（スキャン画像をお送りいただいてもOKです）<br><br>※FAXの場合、元サイズ及び色の判別が出来ない場合がございますのでご相談ください。</p>
       </div>
      </section>

      <section>
       <h3 class="subtitle">新デザインの伝票をお見積り</h3>
       <img src="/assets/img-printing-slip02.jpg" width="180" height="124" border="0" class="img">
       <div id="des_s-container">
        <p>データをご提出の際、Illustrator（イラストレーター）ファイルでの支給ですと、そのまま原版として使用できます。（修正が必要な場合もございます）<br>→詳しくは[ [ <a href="data.html">入稿について</a> ]をご覧ください。<br><br>Excel（エクセル）、Word（ワード）等のファイル、また手書でのご提出の場合、弊社にてイラストレーターファイルに変換、制作いたしますのでご相談ください。</p>
       </div>
      </section>

      <section>
       <h3 class="subtitle">ご確認項目</h3>
       <ol id="ollist">
        <li>用紙のサイズ</li>
        <li>ページ数、ページ毎の紙の色、紙質等</li>
        <li>刷り色、通しナンバー追加、ミシン目等の有無</li>
        <li>ページ毎のデザインの相違</li>
       </ol>
       <p>ご依頼の際、上記確認項目を[ <a href="estimate.html">お見積り依頼</a> ]よりご入力の上、送信ください。<br>その他不明点がございましたら、[ <a href="contact.html">お問い合わせ</a> ]よりお気軽にご連絡ください。</p>
      </section>
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->

