
<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
       <div id="breadcrumb-nav"><a href="/" title="HOME">HOME</a> &gt;  
<a href="/printing/"">各種印刷サービス</a> &gt; SMILE SMILE PROJECT</div>
      </div>
      <div id="userinfo">
       
      </div>
     </div>
     <article>
            <h1 class="title-printing-smile">SMILE SMILE PROJECT</h1>
      <img src="/assets/img-printing-smile01.png" width="650" height="210" border="0" class="smile">
      <div>
       <h2 class="smile">スマイルプロジェクト・チャリティ名刺</h2>
       <p>ビジネスシーンの必須アイテム「名刺」又は「ショップカード」をスマイルプロジェクト・チャリティ名刺にしませんか？<br >1枚あたり2円のチャリティに協力できます。難病の子供たちが楽しみにしているイルカセラピーキャンプやディズニーランドへの招待イベントなどの企画を、より充実させるために活用されます。<br><br>※SMILE SMILE PROJECTは [ 財団法人　日本児童家庭文化協会 ]（昭和40年厚生労働省認可）の行っているチャリティプロジェクトです。</p>
       <aside><strong>JWA（財団法人　日本児童家庭文化協会）とは？</strong><br>
昭和40年に厚生労働省認可の公益法人として設立された児童福祉団体です。以後は現在に至るまで、子どもの健全育成を目指す多くの活動を続けております。近年は、健全育成事業とともに難病や障害を持つ子どもたちの支援に重点を置き、活動を続けている財団法人です。</aside>
      </div>

      <section>
       <h3 class="subtitle">スマイルプロジェクト　チャリティー名刺</h3>
       <p>仕事をしている人であれば名刺やショップカードなどは必須アイテムです。<br>その名刺などに僅かな金額（2円／1枚）のチャリティーをしませんか？<br>チャリティー名刺は、全国のスマイルパートナーから購入出来ます。</p>
       <h4>デザインは4種類</h4>
       <table border="0" cellpadding="0" cellspacing="0" class="thumbs">
        <tr>
         <td><img src="/assets/img-printing-smile02.png" width="313" height="313" border="0"></td>
         <td><img src="/assets/img-printing-smile03.png" width="313" height="313" border="0"></td>
        </tr>
        <tr>
         <td><img src="/assets/img-printing-smile04.png" width="313" height="313" border="0"></td>
         <td><img src="/assets/img-printing-smile05.png" width="313" height="313" border="0"></td>
        </tr>
       </table>
      </section>

      <section>
       <h3 class="subtitle">スマイルプロジェクト　チャリティーTシャツ</h3>
       <img src="/assets/img-printing-smile06.jpg" width="242" height="182" border="0" class="img">
       <div id="des-container">
        <p>スマイルプロジェクトのチャリティーTシャツができました。（※売上の一部はJWAへ寄付されます）<br>価格: ￥2,300（税込）<br>（※別途送料が必要です）<br>サイズ: 120（子供用）／150／S／M／L<br><br>各種詳細、ご不明点などはお気軽にお問い合わせください。</p>
       </div>
       <h4>デザイン詳細</h4>
       <table border="0" cellpadding="0" cellspacing="0" class="thumbs">
        <tr>
         <td><img src="/assets/img-printing-smile07.png" width="313" height="235" border="0"></td>
         <td><img src="/assets/img-printing-smile08.png" width="313" height="235" border="0"></td>
        </tr>
       </table>
      </section>

      <section>
       <h3 class="subtitle">スマイルパートナー募集中！</h3>
       <p>チャリティー名刺台紙を取り扱うには、SMILE SMILE PROJECTパートナーへご登録が必要です。<br><span class="red">※登録費: ￥21,000（税込）</span></p>
       <h4>オフィシャルグッズ</h4>
       <ul id="ullist">
        <li>オフィシャルステッカー</li>
        <li>オフィシャルポスター</li>
        <li>募金箱</li>
       </ul>
       <p>パートナーご希望の方は、フリーダイヤル <span class="blue"><strong>0120-5454-22</strong></span> までご連絡ください。<br>是非ご協力お願いいたします！</p>
      </section>
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->
