
<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
       <div id="breadcrumb-nav"><a href="/" title="HOME">HOME</a> &gt;  
<a href="/printing/"">各種印刷サービス</a> &gt;  
 
 
 
 
 
 
はんこ・スタンプ作成
 
 
 
 
 

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>
      </div>
      <div id="userinfo">
       
      </div>
     </div>
     <article>
            <h1 class="title-printing-stamp">はんこ・スタンプ作成</h1>
      <img src="/assets/img-printing-stamp.jpg" width="242" height="182" border="0" class="img">
      <div id="des-container">
       <h2 class="des-printing-stamp">個人用から法人用印鑑セットまで</h2>
       <p>実印、銀行印、認印、個人用から法人用印鑑セット、スタンプなど各種ご用意しました。<br>刻印する書体や材質もお選びいただけるよう、多数取り揃えております。<br>また、印鑑ケースや朱肉、スタンプ台などの小物もご一緒にどうぞ！<br /><br />各種詳細、ご不明点などはお気軽にお問い合わせください。<br />→[ <a href="../contact.html">お問い合わせ</a> ]はこちら</p>
      </div>

      <section>
       <h3 class="subtitle">スタンプ（浸透印）</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="thumbs">
        <tr>
         <td><img src="/assets/img-printing-stamp-1212.jpg" width="313" height="160" border="0"></td>
         <td><img src="/assets/img-printing-stamp-2020.jpg" width="313" height="160" border="0"></td>
        </tr>
        <tr>
         <td><img src="/assets/img-printing-stamp-2727.jpg" width="313" height="160" border="0"></td>
         <td><img src="/assets/img-printing-stamp-3030.jpg" width="313" height="160" border="0"></td>
        </tr>
        <tr>
         <td><img src="/assets/img-printing-stamp-4040.jpg" width="313" height="160" border="0"></td>
         <td><img src="/assets/img-printing-stamp-1060.jpg" width="313" height="160" border="0"></td>
        </tr>
        <tr>
         <td><img src="/assets/img-printing-stamp-1438.jpg" width="313" height="160" border="0"></td>
         <td><img src="/assets/img-printing-stamp-1850.jpg" width="313" height="160" border="0"></td>
        </tr>
        <tr>
         <td><img src="/assets/img-printing-stamp-2260.jpg" width="313" height="160" border="0"></td>
         <td><img src="/assets/img-printing-stamp-2770.jpg" width="313" height="160" border="0"></td>
        </tr>
        <tr>
         <td><img src="/assets/img-printing-stamp-3458.jpg" width="313" height="160" border="0"></td>
         <td><img src="/assets/img-printing-stamp-4090.jpg" width="313" height="160" border="0"></td>
        </tr>
       </table>
       <p><span class="red">※インク色は、黒色と赤色のみになります</span></p>
      </section>

      <section>
       <h3 class="subtitle">スタンプ（浸透印）価格表</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="list">
       <tr>
        <th>品名</th>
        <th>サイズ</th>
        <th>料金</th>
       </tr>
       <tr>
        <td>スタンダード1212</td>
        <td>12mm × 12mm</td>
        <td>1,785円</td>
       </tr>
       <tr>
        <td>スタンダード3030</td>
        <td>30mm × 30mm</td>
        <td>3,150円</td>
       </tr>
       <tr>
        <td>スタンダード4040</td>
        <td>40mm × 40mm</td>
        <td>4,200円</td>
       </tr>
       <tr>
        <td>スタンダード1438</td>
        <td>14mm × 38mm</td>
        <td>1,995円</td>
       </tr>
       <tr>
        <td>スタンダード1060</td>
        <td>10mm × 60mm</td>
        <td>2,415円</td>
       </tr>
       <tr>
        <td>スタンダード1850</td>
        <td>18mm × 50mm</td>
        <td>3,255円</td>
       </tr>
       <tr>
        <td>スタンダード2260</td>
        <td>22mm×60mm</td>
        <td>3,360円</td>
       </tr>
       <tr>
        <td>スタンダード2770</td>
        <td>27mm × 70mm</td>
        <td>4,410円</td>
       </tr>
       <tr>
        <td>スタンダード3458</td>
        <td>34mm × 58mm</td>
        <td>4,200円</td>
       </tr>
       <tr>
        <td>スタンダード4090</td>
        <td>40mm × 90mm</td>
        <td>6,825円</td>
       </tr>
       </table>
       <p class="tax">表示金額は消費税込みとなります</p>
      </section>

      <section>
       <h3 class="subtitle">個人用印鑑セット</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="thumbs">
        <tr>
         <td><img src="/assets/img-printing-stamp01.jpg" width="313" height="290" border="0"></td>
         <td><img src="/assets/img-printing-stamp02.jpg" width="313" height="290" border="0"></td>
        </tr>
       </table>
       <p><span class="red">※個人用印鑑セットには、化粧箱・モミ皮ケースが付いています。</span></p>
      </section>

      <section>
       <h3 class="subtitle">個人用印鑑セット価格表</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="list">
        <tr>
         <th rowspan="2">材質</th>
         <th colspan="2">実印・銀行印　2本セット</th>
         <th colspan="2">実印・銀行印・認印　3本セット</th>
        </tr>
        <tr>
         <th>小セット</th>
         <th>大セット</th>
         <th>小セット</th>
         <th>大セット</th>
        </tr>
        <tr>
         <td>木柘</td>
         <td>10,531円</td>
         <td>12,768円</td>
         <td>11,959円</td>
         <td>15,981円</td>
        </tr>
        <tr>
         <td>黒水牛</td>
         <td>16,065円</td>
         <td>21,420円</td>
         <td>21,157円</td>
         <td>27,583円</td>
        </tr>
        <tr>
         <td>オランダ水牛</td>
         <td>23,205円</td>
         <td>31,237円</td>
         <td>31,416円</td>
         <td>41,055円</td>
        </tr>
        <tr>
         <td>象牙</td>
         <td>42,840円</td>
         <td>58,012円</td>
         <td>53,103円</td>
         <td>71,400円</td>
        </tr>
       </table>
       <p class="tax">表示金額は消費税込みとなります</p>
      </section>

      <section>
       <h3 class="subtitle">法人用印鑑セット</h3>
       <img src="/assets/img-printing-stamp03.jpg" width="646" height="280" border="0">
       <p><span class="red">※法人用印鑑セットには、ファスナーケースが付いています。</span></p>
      </section>

      <section>
       <h3 class="subtitle">法人用印鑑セット価格表</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="list">
        <tr>
         <th>材質</th>
         <th>実印・角印・小切手印　3本セット</th>
        </tr>
        <tr>
         <td>本柘</td>
         <td>31,867円</td>
        </tr>
        <tr>
         <td>黒水牛</td>
         <td>56,143円</td>
        </tr>
        <tr>
         <td>オランダ水牛</td>
         <td>75,106円</td>
        </tr>
        <tr>
         <td>象牙</td>
         <td>165,385円</td>
        </tr>
       </table>
       <p class="tax">表示金額は消費税込みとなります</p>
      </section>

      <section>
       <h3 class="subtitle">ご確認項目</h3>
       <ol id="ollist">
        <li>印鑑またはスタンプの種類（使用目的）</li>
        <li>数量</li>
        <li>希望の材質</li>
        <li>版下・見本の有無</li>
       </ol>
       <p><span class="red">※お見積り依頼フォームに入力の際は、上記2～6を「特記事項・必要事項」欄に必ずご明記ください</span><br><br>ご依頼の際、上記確認項目を[ <a href="estimate.html">お見積り依頼</a> ]よりご入力の上、送信ください。<br>その他不明点がございましたら、[ <a href="contact.html">お問い合わせ</a> ]よりお気軽にご連絡ください。</p>
      </section>
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->

