
<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
       <div id="breadcrumb-nav"><a href="/" title="HOME">HOME</a> &gt; <a href="/printing/"">各種印刷サービス</a> &gt;  ネット電報
 </div>
      </div>
      <div id="userinfo">
       
      </div>
     </div>
     <article>
            <h1 class="title-printing-telegram">ネット電報</h1>
      <img src="/assets/img-printing-telegram01.jpg" width="650" height="230" border="0" class="smile">
      <section>
       <div>
        <p>ネット電報Very Card（ベリーカード）とは、NTT電報の約3分の1のコストでご利用いただけるネット電報サービスで、既に大手法人を中心に7万事業所・150万通の祝電・弔電・他各種電報サービスの実績がございます。<br>Very Card（ベリーカード）は、総務省の特定信書便事業許可状（総特第10号）も取得済みのネット電報です。<br><br>法人登録していただければ、Ver Card（ベリーカード）1,040円（税込1,092円）／通でご利用いただけます。<br>登録費や年会費はかかりません。<br><br>結婚、お祝い、弔い、お悔やみといって慶弔の祝電・弔電はネット電報Very Card（ベリーカード）にお任せください！！<br>Very Card（ベリーカード）以外にも祝花・供花、胡蝶蘭、その他ギフトまでご用意。<br>お客様の気持ちを伝えるサポートをいたします。</p>
        <p class="t"><img src="/assets/img-printing-telegram02.jpg" width="650" height="161" border="0"></p>
       </div>
      </section>

      <section>
       <h3 class="subtitle">お好きなカードから自由に選択</h3>
       <p class="red">カードはお慶び事17種類、お悔やみ5種類を同一料金！文例集は約350ご用意。メッセージも300文字まで対応可能です。</p>
       <p class="t"><img src="/assets/img-printing-telegram03.jpg" width="650" height="90" border="0"></p>
       <p class="t"><table border="0" cellpadding="0" cellspacing="0" class="list">
        <tr>
         <th></th>
         <th>NTT電報（D-MAIL）</th>
         <th>ネット電報 Very Card</th>
        </tr>
        <tr>
         <td>配送体制</td>
         <td style="text-align:left;">8時～19時までの申込で全国即日配達<br>19時以降申込は翌日8時以降配達<br>受付から概ね3時間の配送</td>
         <td style="text-align:left;">14時まで申込 → 当日配達<br>14時～18時まで申込 → 翌日午前配達（18時以降は翌日14時分で配達）<br>14時、18時の2便体制。（当日配達不能地域有）</td>
        </tr>
        <tr>
         <td>料金</td>
         <td style="text-align:left;">文字料金＋台紙料金。文字料金25文字まで660円（税込693円）<br>電話・FAX申込700円（税込735円）<br>追加5文字ごと90円（税込94.5円）加算（差出人名も文字料金に含む）<br>台紙は無料～5,000円（税込5,250円）</td>
         <td style="text-align:left;">文字数問わず台紙込み<br>一律1,040円（税込1,092円）<br>電話・FAX申込1,200円（税込 1,260円）<br>VIPカード1,680円（税込 1,764円）<br>本文300文字、差出名90文字</td>
        </tr>
        <tr>
         <td>フォント</td>
         <td style="text-align:left;">明朝体、毛筆縦書き＋100円（税込）105円</td>
         <td style="text-align:left;">ゴシック、明朝、楷書、丸ゴシック、ペン字</td>
        </tr>
        <tr>
         <td>オプション</td>
         <td style="text-align:left;">毛筆縦書き＋100円（税込105円）<br>配達報告＋800円（税込840円）</td>
         <td style="text-align:left;">スタンド花・生花束・アレンジメント<br>胡蝶蘭・カタログギフト<br>サプライズ便＋540円（税込567円）<br>NTT電報代行</td>
        </tr>
       </table></p>
      </section>

      <section>
       <h3 class="subtitle">ネット電報ベリーカードの楽々簡単ご登録お申込の流れ</h3>
       <ol id="ollist">
        <li>ネット電報ベリーカードのご利用はこちらから（ボタン）をクリック</li>
        <li>ネット電報ベリーカードの「会員企業ご利用規約」が表示されますので、内容のご確認お願いします。</li>
        <li>会員企業登録フォーマットが表示されますので、必要事項を入力してください。</li>
        <li>ご登録いただいたアドレスにIDとパスワードが送信されます。</li>
        <li>IDとパスワードでログインしていただくと、すぐにご利用いただけます。</li>
       </ol>
       <p class="red">※お支払は月末締め翌月20日払いとなります</p>
       <a href="http://www.keicho.net/contents/kaisha.html" target="_blank" class="telegram">ネット電報ベリーカードのご利用はこちらから</a>
      </section>
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->

