
<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
       <div id="breadcrumb-nav"><a href="https://www.printhakase.com/" title="HOME">HOME</a> &gt;  
<a href="/printing/"">各種印刷サービス</a> &gt;  
 
 
 
 
 
 
 
 
 
 
ユニフォームプリント
 

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>
      </div>
      <div id="userinfo">
       
      </div>
     </div>
     <article>
            <h1 class="title-printing-uniform">ユニフォームプリント</h1>
      <img src="https://www.printhakase.com/images/img-printing-uniform.jpg" width="242" height="182" border="0" class="img">
      <div id="des-container">
       <h2 class="des-printing-uniform">選べる！豊富なカラーバリエーション</h2>
       <p>SHOPスタッフウェア、販促ツール、イベントユニフォーム、チームウェア…好みや用途に合わせてお選びください。<br>高品質でカラーバリエーション豊富なTシャツからエプロンまでご用意しております。<br /><br>各種詳細、ご不明点などはお気軽にお問い合わせください。<br />→[ <a href="https://www.printhakase.com/contact.html">お問い合わせ</a> ]はこちら</p>
      </div>

      <section>
       <h3 class="subtitle">ユニフォームプリントサービス</h3>
       <div id="item-container">
        <a href="https://www.printhakase.com/printing/uniform/sweat.html" class="item"><img src="https://www.printhakase.com/images/img-printing-uniform-sweat.jpg" width="76" height="56" alt="トレーナー" class="item"></a>
        <div id="item-wrapper">
         <h4 class="item-name"><a href="https://www.printhakase.com/printing/uniform/sweat.html">トレーナー</a></h4>
         <p>ショップやオフィス、サークルのユニフォームに。野外でのイベントにも最適！</p>
        </div>
       </div>

       <div id="item-container">
        <a href="https://www.printhakase.com/printing/uniform/baby.html" class="item"><img src="https://www.printhakase.com/images/img-printing-uniform-baby.jpg" width="76" height="56" alt="ベビー服" class="item"></a>
        <div id="item-wrapper">
         <h4 class="item-name"><a href="https://www.printhakase.com/printing/uniform/baby.html">ベビー服</a></h4>
         <p>出産祝いやお子様の誕生日記念にオリジナルベビー服はいかがですか？</p>
        </div>
       </div>

       <div id="item-container">
        <a href="https://www.printhakase.com/printing/uniform/bag.html" class="item"><img src="https://www.printhakase.com/images/img-printing-uniform-bag.jpg" width="76" height="56" alt="バック" class="item"></a>
        <div id="item-wrapper">
         <h4 class="item-name"><a href="https://www.printhakase.com/printing/uniform/bag.html">バック</a></h4>
         <p>イベントのおみやげ袋やエコバッグなど、販促ツールとして幅広く使えます。</p>
        </div>
       </div>

       <div id="item-container">
        <a href="https://www.printhakase.com/printing/uniform/t-shirt.html" class="item"><img src="https://www.printhakase.com/images/img-printing-uniform-t-shirt.jpg" width="76" height="56" alt="Tシャツ" class="item"></a>
        <div id="item-wrapper">
         <h4 class="item-name"><a href="https://www.printhakase.com/printing/uniform/t-shirt.html">Tシャツ</a></h4>
         <p>文化祭や体育祭のイベントユニフォームなど、幅広く使える人気アイテムです。</p>
        </div>
       </div>

       <div id="item-container">
        <a href="https://www.printhakase.com/printing/uniform/cap.html" class="item"><img src="https://www.printhakase.com/images/img-printing-uniform-cap.jpg" width="76" height="56" alt="キャップ" class="item"></a>
        <div id="item-wrapper">
         <h4 class="item-name"><a href="https://www.printhakase.com/printing/uniform/cap.html">キャップ</a></h4>
         <p>ユニフォームとしてはもちろん、オリジナルグッズとしてもおすすめ！</p>
        </div>
       </div>

       <div id="item-container">
        <a href="https://www.printhakase.com/printing/uniform/apron.html" class="item"><img src="https://www.printhakase.com/images/img-printing-uniform-apron.jpg" width="76" height="56" alt="エプロン" class="item"></a>
        <div id="item-wrapper">
         <h4 class="item-name"><a href="https://www.printhakase.com/printing/uniform/apron.html">エプロン</a></h4>
         <p>丈夫な生地で軽作業用にぴったり！「光触媒加工」ガイアクリーン採用。</p>
        </div>
       </div>

       <div id="item-container">
        <a href="https://www.printhakase.com/printing/uniform/tank-top.html" class="item"><img src="https://www.printhakase.com/images/img-printing-uniform-tank-top.jpg" width="76" height="56" alt="タンクトップ" class="item"></a>
        <div id="item-wrapper">
         <h4 class="item-name"><a href="https://www.printhakase.com/printing/uniform/tank-top.html">タンクトップ</a></h4>
         <p>夏の野外イベントのユニフォームに開放的なオリジナルタンクトップをぜひ！</p>
        </div>
       </div>

       <div id="item-container">
        <a href="https://www.printhakase.com/printing/uniform/polo.html" class="item"><img src="https://www.printhakase.com/images/img-printing-uniform-polo.jpg" width="76" height="56" alt="ポロシャツ" class="item"></a>
        <div id="item-wrapper">
         <h4 class="item-name"><a href="https://www.printhakase.com/printing/uniform/polo.html">ポロシャツ</a></h4>
         <p>カジュアルながらも落ち着き感のある定番アイテム。さまざまなシーンで活躍！</p>
        </div>
       </div>

       <div id="item-container">
        <a href="https://www.printhakase.com/printing/uniform/hoodie.html" class="item"><img src="https://www.printhakase.com/images/img-printing-uniform-hoodie.jpg" width="76" height="56" alt="パーカー" class="item"></a>
        <div id="item-wrapper">
         <h4 class="item-name"><a href="https://www.printhakase.com/printing/uniform/hoodie.html">パーカー</a></h4>
         <p>暖かさと丈夫さ、動きやすさを兼ね備えているから秋冬のイベントに最適！</p>
        </div>
       </div>

       <div id="item-container">
        <img src="https://www.printhakase.com/images/img-printing-uniform-other.jpg" width="76" height="56" alt="その他" class="item">
        <div id="item-wrapper">
         <h4 class="item-name"><span class="blue"><strong>その他</strong></span></h4>
         <p>色々な物にプリントが可能です。<br>［ <a href="https://www.printhakase.com/contact.html">お問い合わせ</a> ］よりご相談ください。</p>
        </div>
       </div>
       <div id="adj">
        <p><span class="red">各種色・サイズをご用意しておりますので、料金は事前にスタッフにお問い合わせください。</span></p>
       </div>
      </section>

      <section>
       <h3 class="subtitle">参考価格</h3>
       <p class="uniform">例） ベシックTシャツ（白・サイズL）／1色／1ポイントプリント</p>
       <table border="0" cellpadding="0" cellspacing="0" class="list">
        <tr>
         <th>枚数</th>
         <th>価格</th>
        </tr>
        <tr>
         <td>10枚</td>
         <td>@1,840円（税込1,932円）～</td>
        </tr>
        <tr>
         <td>20枚</td>
         <td>@1,420円（税込1,491円）～</td>
        </tr>
        <tr>
         <td>30枚</td>
         <td>@1,290円（税込1,355円）～</td>
        </tr>
        <tr>
         <td>50枚</td>
         <td>@1,230円（税込1,292円）～</td>
        </tr>
        <tr>
         <td>100枚</td>
         <td>@1,060円（税込1,113円）～</td>
        </tr>
       </table>
      </section>

      <section>
       <h3 class="subtitle">プリント方法</h3>
       <p class="uniform">豊富なプリント方法をご用意しております。</p>
       <div id="item-container">
        <img src="https://www.printhakase.com/images/img-printing-uniform-1c.jpg" width="76" height="56" alt="1色プリント" class="item">
        <div id="item-wrapper">
         <p>1色プリント</p>
        </div>
       </div>

       <div id="item-container">
        <img src="https://www.printhakase.com/images/img-printing-uniform-2c.jpg" width="76" height="56" alt="2色プリント" class="item">
        <div id="item-wrapper">
         <p>2色プリント</p>
        </div>
       </div>
      </section>

       <div id="item-container">
        <img src="https://www.printhakase.com/images/img-printing-uniform-4c.jpg" width="76" height="56" alt="4色プリント" class="item">
        <div id="item-wrapper">
         <p>4色プリント</p>
        </div>
       </div>

       <div id="item-container">
        <img src="https://www.printhakase.com/images/img-printing-uniform-inkjet.jpg" width="76" height="56" alt="フルカラーインクジェットプリント" class="item">
        <div id="item-wrapper">
         <p>フルカラーインクジェットプリント</p>
        </div>
       </div>

       <div id="item-container">
        <img src="https://www.printhakase.com/images/img-printing-uniform-embroidery.jpg" width="76" height="56" alt="刺繍" class="item">
        <div id="item-wrapper">
         <p>刺繍</p>
        </div>
       </div>

       <div id="item-container">
        <img src="https://www.printhakase.com/images/img-printing-uniform-trans.jpg" width="76" height="56" alt="転写プリント" class="item">
        <div id="item-wrapper">
         <p>転写プリント</p>
        </div>
       </div>
       <div id="adj"><p>→詳しくは、［ <a href="https://www.printhakase.com/contact.html">お問い合わせ</a> ］よりお気軽にご相談ください。</p></div>
      </section>

      <section>
       <h3 class="subtitle">デザインをご用意されている場合のお見積り</h3>
       <p>データをご提出の際、Illustrator（イラストレーター）ファイルでの支給ですと、そのまま原版として使用できます。（修正が必要な場合もございます）<br>なお、対応バージョンは、Illustrator Ver.7～Ver.9となっております。<br> <br>→詳しくは[ <a href="https://www.printhakase.com/guide/data.html">入稿について</a> ]をご覧ください。</p>
      </section>

      <section>
       <h3 class="subtitle">デザインをぷりんと博士で制作する場合のお見積り</h3>
       <p>ぷりんと博士でデザインから制作する場合は、上記料金以外に別途版下代金がかかります。<br>すでにお使いのユニフォームなどをお見積りする場合は、現物ユニフォームを見本として1枚お渡しください。<br> <br>→詳しくは[ <a href="https://www.printhakase.com/contact.html">お問い合わせ</a> ]よりお気軽にご連絡ください。</p>
      </section>

      <section>
       <h3 class="subtitle">ご確認項目</h3>
       <ol id="ollist">
        <li>トータル枚数またはトータル個数</li>
        <li>ユニフォームの種類（Tシャツ、トレーナー、バック、キャップ、エプロン等）</li>
        <li>サイズ内訳</li>
        <li>色内訳（カラー、色番）</li>
        <li>プリントサイズ</li>
        <li>版下・見本の有無</li>
       </ol>
       <p><span class="red">※お見積り依頼フォームに入力の際は、上記2～6を「特記事項・必要事項」欄に必ずご明記ください。</span><br><br>ご依頼の際、上記確認項目を[ <a href="https://www.printhakase.com/estimate.html">お見積り依頼</a> ]よりご入力の上、送信ください。<br>その他不明点がございましたら、[ <a href="https://www.printhakase.com/contact.html">お問い合わせ</a> ]よりお気軽にご連絡ください。</p>
      </section>
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->

