
<!DOCTYPE html>
<html lang="ja">

<head>
<meta charset="utf-8">
<meta http-equiv="content-style-type" content="text/css">
<meta http-equiv="content-script-type" content="text/javascript">
<meta name="description" content="超激安印刷、名刺がなんと100枚800円から！ぷりんと博士だからできる全国翌日スピード対応。頼んだ翌日にはあなたのお手元に届きます。激安スピード印刷なら、ぷりんと博士！">
<meta name="keywords" content="プリント,印刷,フランチャイズ,独立,FC,開業">




<!--[if lt IE 9]>
<script src="https://www.printhakase.com/js/html5.js"></script>
<![endif]-->
<link rel="stylesheet" href="https://www.printhakase.com/css/temp.css">
<link rel="stylesheet" href="https://www.printhakase.com/css/style.css">
<link rel="shortcut icon" href="https://www.printhakase.com/favicon.ico">
<title>FC加盟店売上報告書 | ぷりんと博士</title>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27054988-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script type="text/javascript"> //<![CDATA[ 
var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.comodo.com/" : "http://www.trustlogo.com/");
document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
//]]>
</script>
</head>

<body>

<!-- START CONTAINER -->
 <div id="container">
<!-- START WRAPPER -->
  <div id="wrapper">

<!-- START HEADER -->
   <header>
    <div id="header-container">
     <div id="logo">
      <a href="https://www.printhakase.com/">ぷりんと博士</a>
     </div>
     <div id="contact-container">
      <div id="tel">0120-5454-22 受付時間／10：00～19：00（土・日・祝日除く）</div>
      <div id="contact-wrapper">
       <ul id="contact">
        <li id="contact"><a href="https://www.printhakase.com/contact.html">お問い合わせ</a></li>
        <li id="offer"><a href="https://www.printhakase.com/estimate.html">お見積り</a></li>
       </ul>
      </div>
     </div>
    </div>
   </header>
<!-- END HEADER -->

<!-- START CONTENT -->
   <div id="contents">

<!-- START LEFTSIDE -->
    <div id="leftbar">
<!-- START MENU -->
     <nav>
      <ul id="menu">
       <li id="home"><a href="/" class="home">HOME</a></li>
       
              <li id="member"><span class="member"><a href="https://www.printhakase.com/member/" class="admin">加盟店用メニュー</a></span>
        <ul id="submenu">
         <li class="none">新着情報</li>
         <li class="admin"><a href="https://www.printhakase.com/member/news.html">加盟店の皆様へのお知らせ</a></li>
         <li class="none">ファイルダウンロード</li>
         <!--<li class="admin"><a href="https://www.printhakase.com/member/download/admin.html">本部からファイルを受け取る</a></li>-->
         <li class="admin"><a href="https://www.printhakase.com/member/download/promotion.html">販促チラシを受け取る</a></li>
         <li class="admin"><a href="https://www.printhakase.com/member/download/other.html">その他ファイルを受け取る</a></li>
         <li class="none">ファイルアップロード</li>
         <li class="admin"><a href="https://www.printhakase.com/member/upload/admin/edit.html">本部へファイルを送る</a></li>
         <li class="admin"><a href="https://www.printhakase.com/member/upload/sales.html">FC加盟店売上報告書</a></li>
         <li class="none">価格表など</li>
         <li class="admin"><a href="https://www.printhakase.com/member/etc/offset.html">ｵﾘｼﾞﾅﾙ封筒・ｵﾌｾｯﾄ印刷</a></li>
         <li class="admin"><a href="https://www.printhakase.com/member/etc/envelope.html">封筒仕入金額表</a></li>
         <li class="admin"><a href="https://www.printhakase.com/member/etc/wear.html">ｳｪｱﾌﾟﾘﾝﾄ仕入金額表</a></li>
         <li id="bottom" class="admin"><a href="https://www.printhakase.com/member/etc/sp.html">SP・販促ツール</a></li>
        </ul>
       </li>
       <li id="submit"><a href="/submit.html" class="submit">データ入稿</a></li>
       <li id="price"><a href="/price.html" class="price">各種印刷価格表</a></li>
       <li id="printing"><span class="printing"><a href="/printing/" class="printing">各種印刷サービス</a></span>
        <ul id="submenu">
         <li><a href="/printing/smile.html">SMILE SMILE PROJECT</a></li>
         <li><a href="/printing/card.html">名刺・カード印刷</a></li>
         <li><a href="/printing/slip.html">名入れ伝票印刷</a></li>
         <li><a href="/printing/postcard.html">ハガキ印刷</a></li>
         <li><a href="/printing/envelope.html">名入れ封筒印刷</a></li>
         <li><a href="/printing/flyer.html">チラシ・フライヤー印刷</a></li>
         <li><a href="/printing/poster.html">ポスター印刷</a></li>
         <li><a href="/printing/brochure.html">会社案内印刷</a></li>
         <li><a href="/printing/uniform/">ユニフォームプリント</a></li>
         <li><a href="/printing/stamp.html">はんこ・スタンプ作成</a></li>
         <li><a href="/printing/novelty.html">ノベルティ名入れ印刷</a></li>
         <li id="bottom"><a href="/printing/telegram.html">ネット電報</a></li>
        </ul>
       </li>
       <li id="promo"><span class="promo"><a href="/promotion/" class="promo">各種販促サービス</a></span>
        <ul id="submenu">
         <li><a href="/promotion/dm.html">DM用販促グッズ</a></li>
         <li><a href="/promotion/homepage.html">ホームページ作成</a> <span class="red">NEW！</span></li>
         <li id="bottom"><a href="/promotion/mobile.html">携帯サイト・メルマガツール</a></li>
        </ul>
       </li>
       <li id="guide"><span class="guide"><a href="/guide/" class="guide">ご利用ガイド</a></span>
        <ul id="submenu">
         <li><a href="/guide/faq.html">よくあるご質問</a></li>
         <li><a href="/guide/flow.html">ご注文の手順について</a></li>
         <li><a href="/guide/dispatch.html">発送について</a></li>
         <li><a href="/guide/payment.html">お支払いについて</a></li>
         <li><a href="/guide/data.html">入稿について</a></li>
         <li><a href="/guide/inquiry.html">お問い合わせについて</a></li>
         <li id="bottom"><a href="/guide/cancel.html">キャンセル・変更について</a></li>
        </ul>
       </li>
       <li id="store"><span class="store"><a href="/store/" class="store">お近くの博士たち</a></span>
        <ul id="submenu">
         <li><a href="/store/hokkaido/">北海道エリア</a></li>
         <li><a href="/store/tohoku/">東北エリア</a></li>
         <li><a href="/store/kanto/">関東エリア</a></li>
         <li><a href="/store/hokuriku/">信越・北陸エリア</a></li>
         <li><a href="/store/tokai/">東海エリア</a></li>
         <li><a href="/store/kinki/">近畿エリア</a></li>
         <li><a href="/store/chugoku/">中国エリア</a></li>
         <li><a href="/store/shikoku/">四国エリア</a></li>
         <li id="bottom"><a href="/store/kyushu/">九州エリア</a></li>
        </ul>
       </li>
       <li id="fc"><span class="fc"><a href="/fc/" class="fc">加盟店募集</a></span>
        <ul id="submenu">
         <li><a href="/fc/station.html">ぷりんと博士ステーション</a></li>
         <li><a href="/fc/affiliation.html">博士になるには</a></li>
         <li><a href="/fc/briefing.html">事業説明会</a></li>
         <li><a href="/fc/request.html">資料請求</a></li>
         <li><a href="/fc/result.html">加盟実績</a></li>
         <li><a href="/fc/contract.html">契約内容</a></li>
         <li id="bottom"><a href="/fc/success.html">博士たちの成功談</a></li>
        </ul>
       </li>
      </ul>
     </nav>
<!-- END MENU -->
<!-- START SSL -->
     <div id="ssl">
      <script language="JavaScript" type="text/javascript">
       TrustLogo("https://www.printhakase.com/images/comodo_secure_seal_113x59_transp.png", "CL1", "none");
      </script>
      <p>ぷりんと博士サイトは、プライバシー保護の為SSL暗号化通信を導入しています。</p>
     </div>
<!-- END SSL -->
    </div>
<!-- END LEFTSIDE -->

<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
       <div id="breadcrumb-nav"><a href="https://www.printhakase.com/" title="HOME">HOME</a> &gt;  
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
<a href="/member/"">加盟店専用エリア</a> &gt;  
 
<a href="/member/upload/"">ファイルアップロード</a> &gt;  
FC加盟店売上報告書

 
 

 
</div>
      </div>
      <div id="userinfo">
       赤坂本店
      </div>
     </div>
     <article>
            <h1 class="title-upload-sales">FC加盟店売上報告書</h1>

      <section>
       <h3 class="subtitle">FC加盟店売上報告フォーム</h3>
       <p class="red h">（*）は必須項目となります。</p>
<form action="https://www.printhakase.com/member/upload/sales.html" method="post" id="SalesForm"><input type="hidden" name="_mode" value="conf" />
<table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <th>売上報告月<span class="red">*</span></th>
  <td>
   <select name="year">
    <option value="2006年">2006年</option>
    <option value="2007年">2007年</option>
    <option value="2008年">2008年</option>
    <option value="2009年">2009年</option>
    <option value="2010年">2010年</option>
    <option value="2011年">2011年</option>
    <option value="2012年">2012年</option>
   </select>
   <select name="month">
    <option value="01月">01月</option>
    <option value="02月">02月</option>
    <option value="03月">03月</option>
    <option value="04月">04月</option>
    <option value="05月">05月</option>
    <option value="06月">06月</option>
    <option value="07月">07月</option>
    <option value="08月">08月</option>
    <option value="09月">09月</option>
    <option value="10月">10月</option>
    <option value="11月">11月</option>
    <option value="12月">12月</option>
   </select>
   
  </td>
 </tr>
 <tr>
  <th>加盟店名<span class="red">*</span></th>
  <td>
   赤坂本店
   <input name="store" class="txt1" type="hidden" value="赤坂本店">
   <input name="email" class="txt1" type="hidden" value="info@printhakase.com">
  </td>
 </tr>
 <tr>
  <th>既存顧客数<span class="red">*</span></th>
  <td>
   <input name="customer" class="txt1" type="text"> 件
   
  </td>
 </tr>
 <tr>
  <th>ポスティング枚数<span class="red">*</span></th>
  <td>
   <input name="posting" class="txt1" type="text"> 枚
   
  </td>
 </tr>
 <tr>
  <th>ﾎﾟｽﾃｨﾝｸﾞ以外の販促<span class="red">*</span></th>
  <td>
   <p class="check"><label for="fax"><input type="checkbox" name="promo[]" value="FAX" id="fax">FAX</label></p>
   <p class="check"><label for="dm"><input type="checkbox" name="promo[]" value="DM" id="dm"><span>DM</span></label></p>
   <p class="check"><label for="news"><input type="checkbox" name="promo[]" value="新聞折込" id="news"><span>新聞折込</span></label></p><br>
   <input type="text" class="short" name="promo_qty">　枚</p>
   <p class="radio02"><label for="other"><input type="checkbox" name="promo[]" value="その他" id="other"><span>その他</span></label></p>	
   <p><input type="text" value="" name="promo_other" class="txt2">
   
  </td>
 </tr>
 <tr>
  <th>1. 今月の総売上（2を含む）<span class="red">*</span></th>
  <td>
   <input name="total_sales" class="txt1" type="text"> 円
   
  </td>
 </tr>
 <tr>
  <th>2. 外注分の売上<span class="red">*</span></th>
  <td>
   <input name="outsourcing" class="txt1" type="text"> 円
   
  </td>
 </tr>
 <tr>
  <th>3. 売上原価（仕入）<span class="red">*</span></th>
  <td>
   <input name="cost" class="txt1" type="text"> 円
   
  </td>
 </tr>
 <tr>
  <th>4. 粗利益（1-3）<span class="red">*</span></th>
  <td>
   <input name="gross_margin" class="txt1" type="text"> 円
   
  </td>
 </tr>
 <tr>
  <th>自社売上の内訳</th>
  <td>
   <p><strong>名刺：</strong><br /><input type="text" name="card" class="txt1">　円</p>
   <p><strong>葉書：</strong><br /><input type="text" name="postcard" class="txt1">　円</p>
   <p><strong>封筒：</strong><br /><input type="text" name="envelope" class="txt1">　円</p>
   <p><strong>領収書：</strong><br /><input type="text" name="receipt" class="txt1">　円</p>
   <p><strong>スピード印刷：</strong><br /><input type="text" name="speed_print" class="txt1">　円</p>
   <p><strong>ゴム印：</strong><br /><input type="text" name="rubber_seal" class="txt1">　円</p>
  </td>
 </tr>
 <tr>
  <th>来月の売上目標金額<span class="red">*</span></th>
  <td>
   <input name="next_sales" class="txt2" type="text"> 円
   
  </td>
 </tr>
 <tr>
  <th>来月の目標ﾎﾟｽﾃｨﾝｸﾞ枚数<span class="red">*</span></th>
  <td>
   <input name="next_posting" class="txt1" type="text"> 枚
   
  </td>
 </tr>
 <tr>
  <th>来月のﾎﾟｽﾃｨﾝｸﾞ以外の販促枚数<span class="red">*</span></th>
  <td>
   <input name="next_promo" class="txt1" type="text"> 枚
   
  </td>
 </tr>
 <tr>
  <th>現在の営業状況及び、本部への要望・ご意見<span class="red">*</span></th>
  <td>
   <textarea name="message" wrap="hard"></textarea>
   
  </td>
 </tr>
</table>
<div id="button-container"><input type="submit" class="confirm" value="内容確認"></div>

</form>

      </section>
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->

   </div>
<!-- END CONTENTS -->
  </div>
<!-- END WRAPPER -->

  <div id="adj"></div>

<!-- START FOOTER -->
  <footer>
   <div id="footer-container" class="clearfix">

    <div id="footer-navi">
     <ul id="footer-navi">
      <li><a href="https://www.printhakase.com/company.html">会社案内</a><span></span></li>
      <li><a href="https://www.printhakase.com/privacypolicy.html">個人情報保護方針</a><span></span></li>
      <li><a href="https://www.printhakase.com/consume.html">特定商取法に基づく表示</a><span></span></li>
      <li><a href="https://www.printhakase.com/sitemap.html">サイトマップ</a><span></span></li>
      <li><a href="http://www.facebook.com/printhakase/" target="_blank">Facebookページ</a></li>
     </ul>
    </div>

   </div>
   <div id="copyright">
&copy; 2016 EPIC Co.,Ltd. All Rights Reserved.
   </div>
  </footer>
<!-- END FOOTER -->

 </div>
<!-- END CONTAINER -->
<script type="text/javascript">
var preHost = (("https:" == document.location.protocol) ? "https://" : "http://");
var param = "secid=sBN2516bc";
document.write(unescape("%3Cscript src='" + preHost + "sashare.com/b/sokus.js' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>

</html>