
<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
       <div id="breadcrumb-nav"><a href="https://www.printhakase.com/" title="HOME">HOME</a> &gt;  各種販促サービス</div>
      </div>
      <div id="userinfo">
       
      </div>
     </div>
     <article>
            <h1 class="title-promotion">各種販促サービス</h1>

      <section>
       <h3 class="subtitle">メニュー一覧</h3>
       <div id="item-container">
        <a href="https://www.printhakase.com/promotion/dm.html" class="item"><img src="https://www.printhakase.com/images/img-promotion-dm_s.png" width="76" height="56" class="item"></a>
        <div id="item-wrapper">
         <h4 class="item-name"><a href="https://www.printhakase.com/promotion/dm.html">DM用販促グッズ</a></h4>
         <p>駅張りポスター、看板、チラシなどお店の広告媒体を制作いたします。</p>
        </div>
       </div>

       <div id="item-container">
        <a href="https://www.printhakase.com/promotion/homepage.html" class="item"><img src="https://www.printhakase.com/images/img-promotion-homepage_s.png" width="76" height="56" class="item"></a>
        <div id="item-wrapper">
         <h4 class="item-name"><a href="https://www.printhakase.com/promotion/homepage.html">ホームページ作成</a></h4>
         <p>ぷりんと博士では個人から企業まで幅広く皆様のホームページを制作いたします。</p>
        </div>
       </div>

       <div id="item-container">
        <a href="https://www.printhakase.com/promotion/mobile.html" class="item"><img src="https://www.printhakase.com/images/img-promotion-mobile_s.png" width="76" height="56" class="item"></a>
        <div id="item-wrapper">
         <h4 class="item-name"><a href="https://www.printhakase.com/promotion/mobile.html">携帯サイト・メルマガツール</a></h4>
         <p>携帯サイト＆メール配信システム構築をサポート！集客、収益アップにお役立てください。</p>
        </div>
       </div>
       <div id="adj"></div>
      </section>
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->
