
<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
       <div id="breadcrumb-nav"><a href="/" title="HOME">HOME</a> &gt; <a href="/promotion/"">各種販促サービス</a> &gt; DM用販促グッズ</div>
      </div>
      <div id="userinfo">
       
      </div>
     </div>
     <article>
            <h1 class="title-promotion-dm">DM用販促グッズ</h1>
      <img src="/assets/img-promotion-dm.jpg" width="242" height="182" border="0" class="img">
      <div id="des-container">
       <h2 class="des-promotion-dm">DMに同封できる販促グッズ</h2>
       <p>お店や企業の宣伝に、ユニークで楽しい抽選ツールをご用意してます。 <br>かさばらないコンパクトサイズで低コスト！DM用販促グッズとしてご利用ください。<br><br>各種詳細、ご不明点などはお気軽にお問い合わせください。<br />→[ <a href="contact.html">お問い合わせ</a> ]はこちら</p>
      </div>

      <section>
       <h3 class="subtitle">みえ～る小窓のご紹介</h3>
       <h4>みえ～る小窓ショート</h4>
       <img src="/assets/img-promotion-dm01.jpg" width="180" height="124" border="0" class="img">
       <div id="des_s-container">
        <p class="dm">イベント、キャンペーンの告知やお店の紹介などDMや封筒を利用した郵送ツールです。<br>郵送時に破損等がないほどの強度を保ち、その上、郵便法規定上の｢包装省略」と判断されるため、 規定内重量であれば従来の封筒として扱われます。</p>
        <table border="0" cellpadding="0" cellspacing="0" class="item">
         <tr><th>単価</th><td>17円</td></tr>
         <tr><th>申込単位</th><td>500個</td></tr>
         <tr><th>サイズ</th><td>7.0×3.0×0.8cm （収納スペース） ※材質: 再生ペット樹脂</td></tr>
        </table>
       </div>
       <p class="brochure"><span class="red">※みえ～る小窓に対応できる商品は、｢みえ～る小窓用抽選グッズのご紹介｣に掲載しております。</span></p>
      </section>

      <section>
       <h3 class="subtitle">みえ～る小窓の使い方</h3>
       <img src="/assets/img-promotion-dm02.jpg" width="650" height="450" border="0">
      </section>

      <section>
       <h3 class="subtitle">みえ～る小窓用抽選グッズのご紹介</h3>
       <h4>ラッキーペンシル（ショートタイプ）</h4>
       <img src="/assets/img-promotion-dm03.jpg" width="180" height="124" border="0" class="img">
       <div id="des_s-container">
        <p class="dm">えんぴつを削ってでてきた芯の色で当たりが決まります。<br>※各色5本単位での色指定をしてください。<br>※300本につき、えんぴつ削りが1個付いております。 </p>
        <table border="0" cellpadding="0" cellspacing="0" class="item">
         <tr><th>単価</th><td><del>30円</del> → <span class="red">13円</span></td></tr>
         <tr><th>申込単位</th><td>300本</td></tr>
         <tr><th>サイズ</th><td>7.0cm</td></tr>
        </table>
       </div>
       <table border="0" cellpadding="0" cellspacing="0" class="list-dm">
        <tr>
         <th>商品番号</th>
         <th>色</th>
         <th>見本</th>
        </tr>
        <tr>
         <td>2931457</td>
         <td>ピンク</td>
         <td class="color"><img src="/assets/pencil-pink.jpg" width="76" height="44" border="0"></td>
        </tr>
        <tr>
         <td>2931458</td>
         <td>ブルー</td>
         <td class="color"><img src="/assets/pencil-blue.jpg" width="76" height="44" border="0"></td>
        </tr>
        <tr>
         <td>2631459</td>
         <td>オレンジ</td>
         <td class="color"><img src="/assets/pencil-orange.jpg" width="76" height="44" border="0"></td>
        </tr>
        <tr>
         <td>2631460</td>
         <td>イエロー</td>
         <td class="color"><img src="/assets/pencil-yellow.jpg" width="76" height="44" border="0"></td>
        </tr>
        <tr>
         <td>2931461</td>
         <td>グリーン</td>
         <td class="color"><img src="/assets/pencil-green.jpg" width="76" height="44" border="0"></td>
        </tr>
       </table>

       <h4>光るカラーチェンジスティック</h4>
       <img src="/assets/img-promotion-dm04.jpg" width="180" height="124" border="0" class="img">
       <div id="des_s-container">
        <p class="dm">変化した色で当たりが決まります。（最初の状態の色は、すべてオレンジです）<br>※各色5本単位での色指定をしてください。<br>※300本につき、えんぴつ削りが1個付いております。 </p>
        <table border="0" cellpadding="0" cellspacing="0" class="item">
         <tr><th>単価</th><td><del>45円</del> → <span class="red">21円</span></td></tr>
         <tr><th>申込単位</th><td>300本</td></tr>
         <tr><th>サイズ</th><td>3.7cm　（パッケージサイズ 6.5×2.5cm）</td></tr>
        </table>
       </div>
       <table border="0" cellpadding="0" cellspacing="0" class="list-dm">
        <tr>
         <th>商品番号</th>
         <th>色</th>
         <th>見本</th>
        </tr>
        <tr>
         <td>2931405</td>
         <td>ピンク</td>
         <td class="color"><img src="/assets/stick-pink.jpg" width="76" height="44" border="0"></td>
        </tr>
        <tr>
         <td>2931406</td>
         <td>ブルー</td>
         <td class="color"><img src="/assets/stick-blue.jpg" width="76" height="44" border="0"></td>
        </tr>
        <tr>
         <td>2631408</td>
         <td>オレンジ</td>
         <td class="color"><img src="/assets/stick-orange.jpg" width="76" height="44" border="0"></td>
        </tr>
        <tr>
         <td>2631407</td>
         <td>グリーン</td>
         <td class="color"><img src="/assets/stick-green.jpg" width="76" height="44" border="0"></td>
        </tr>
        <tr>
         <td>2931409</td>
         <td>消える色</td>
         <td class="color"><img src="/assets/stick-vanish.jpg" width="76" height="44" border="0"></td>
        </tr>
       </table>
       <p class="h"><strong>注意事項</strong></p>
       <ul id="ullist">
        <li>直射日光・高温多湿の場所での保管・ご使用は避けてください。商品が劣化する恐れがございます。</li>
        <li>発光時間は、5～10分（常温20度～25度程度の環境）です。</li>
        <li>発光終了後は、色が消えるため、色の識別ができなくなります。</li>
        <li>使用可能期間は、約1ヶ月間（冷暗所保管）になります。</li>
       </ul>
       <p class="h"><strong>使用方法</strong></p>
       <ol id="ollist">
        <li>スティックを真ん中からポキッと折ると、スティックが発光します。（スティックの色によって発光時の色も異なります）</li>
        <li>スティックを折ったあとに軽く振ると、色が均等に光ります。</li>
        <li>強く発光したあとに色が変わります。</li>
       </ol>
      </section>

      <section>
       <h3 class="subtitle">ご確認項目</h3>
       <ol id="ollist">
        <li>みえ～る小窓の数量</li>
        <li>抽選グッズの種類</li>
        <li>抽選グッズの色、数量</li>
       </ol>
       <p>ご依頼の際、上記確認項目を[ <a href="estimate.html">お見積り依頼</a> ]よりご入力の上、送信ください。<br>その他不明点がございましたら、[ <a href="contact.html">お問い合わせ</a> ]よりお気軽にご連絡ください。</p>
      </section>
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->
