
<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
       <div id="breadcrumb-nav"><a href="/" title="HOME">HOME</a> &gt;  
 
<a href="/promotion/"">各種販促サービス</a> &gt; ホームページ作成</div>
      </div>
      <div id="userinfo">
       
      </div>
     </div>
     <article>
            <h1 class="title-promotion-homepage">ホームページ作成</h1>
      <h2 class="des-promotion-web_st">ホームページ作成ならWebStationに</h2>
      <img src="/assets/img-promotion-web_st.png" width="648" height="188" border="0" class="img" style="margin-bottom:25px;">

      <section>
       <div id="des-web_st">
        <h3 class="subtitle">WebStation コミコミセットのサービス</h3>
        <img src="/assets/img-promotion-web_st01.png" width="180" height="124" border="0" class="img">
        <div id="des_s-container">
         <h4 class="web_st blue">高品質で低価格！</h4>
         <p>プロのデザイナーによる制作なので安心しておまかせください。<br>TOPページ・サービス内容ページ・会社概要ページ・アクセスページ・お問合せフォーム・facebookページ・Twitterアカウントの設定・お客様の専用サーバーの取得・独自ドメインの取得・メールアドレスの取得など、全てが揃って月額9,800円です。</p>
        </div>
       </div>
      </section>

      <section>
       <div id="web_st" style="margin-top:25px;">
        <h3 class="web_st01">デザイン</h3>
        <p class="web_st">ホームページのデザインは、以下の中からお選びください。<br>
デザインは、随時増やしていく予定です。</p>
        <div id="sample">
         <div id="temp"><a href="/assets/w001.jpg" rel="lightbox"><img src="/assets/w001.png" width="116" height="128" border="0"></a><br><span class="blue">1</span></div>
         <div id="temp"><a href="/assets/w002.jpg" rel="lightbox"><img src="/assets/w002.png" width="116" height="128" border="0"></a><br><span class="blue">2</span></div>
         <div id="temp"><a href="/assets/w003.jpg" rel="lightbox"><img src="/assets/w003.png" width="116" height="128" border="0"></a><br><span class="blue">3</span></div>
         <div id="temp"><a href="/assets/w004.jpg" rel="lightbox"><img src="/assets/w004.png" width="116" height="128" border="0"></a><br><span class="blue">4</span></div>
         <div id="temp"><a href="/assets/w005.jpg" rel="lightbox"><img src="/assets/w005.png" width="116" height="128" border="0"></a><br><span class="blue">5</span></div>
        </div>
        <div id="sample_link">
         <ul>
          <li>実際のサンプルはこちらをご覧ください → <a href="http://www.web-st.com/sample/" target="_blank">サンプルを見る</a></li>
          <li>ご準備して頂くもの → <a href="http://www.web-st.com/service.html" target="_blank">ご準備して頂くものを確認する</a></li>
         </ul>
        </div>
       </div>
      </section>

      <section class="clearfix">
       <div id="web_st">
        <h3 class="web_st02">サーバー</h3>
        <p class="web_st">サーバーの容量は、4GBなので映像のアップもらくらく！<br>本格的なホームページの運営も可能です。<br>また【ウィルス駆除・スパムフィルタ】が標準装備ですので迷惑メールもウイルスも寄せつけません！<br>専門的な知識や経験がなくても問題ありません！<br>初心者の方でも快適にホームページを運営することができるのでご安心ください。</p>
       </div>
      </section>

      <section class="clearfix">
       <div id="web_st">
        <h3 class="web_st03">ドメインとメール</h3>
        <p class="web_st">お客様の独自ドメインの取得。<br>.com / .net / .info / .biz / .org / .usでの取得費用はセット価格に含まれます。（jpやco. jpでドメインを取得希望のお客様は、別途費用がかかります）<br>メールアドレスは、30個までは無料で取得可能です。</p>
       </div>
      </section>

      <section class="clearfix">
       <div id="web_st">
        <h3 class="web_st04">facebookとtwitter</h3>
        <p class="web_st">これからのホームページには、facebookとtwitterの連携は不可欠です。<br>お客様のfacebookページとtwitterの設定の代行をします。<br>またfacebookページのプロフィール画像やtwitterのアイコン画像の作成の料金も含まれていますので安心してください。<br>専門的な知識がなくても大丈夫です。<br>設定後、お客様は最新情報やクーポン情報などをfacebookのウォールやtwitterから送信するだけです。<br>twitterからの配信は、作成したホームページのトップの最新情報に連動してますので情報の更新もとっても簡単です。<br><br>さあ、そろそろあなたも始めませんか？</p>
       </div>
      </section>

      <section class="clearfix">
       <div id="web_st">
        <h3 class="web_st05">納期と更新</h3>
        <p class="web_st">作成に1ヶ月以上かかることもあるホームページ、しかしWeb Stationでは、お急ぎでホームページが必要な方にもお客様より必要な写真や文章をいただいてから2週間でスピディーにホームページを制作いたします。<br><br>最新情報以外の写真や文章の更新料金もセット料金にふくまれていますので安心してホームページの運営ができます。<br><span class="red">（更新は月に1回程度に限ります）</span></p>
       </div>
      </section>

      <section>
       <div id="web_st">
        <p>オプションサービスで、スマートフォンサイトや動画・FLASHなどの作成も承ります。<br>また、お客様がご用意した動画のYoutubeへのアップとその動画のサイトへのリンクなども可能です。<br>ご遠慮なくご相談ください。<span class="red">（初期制作費用は、￥10,000～です）</span><p>
       </div>
      </section>

      <div id="btn-web_st">
       <img src="/assets/button-promotion-web_st.png" width="342" height="36" border="0" alt="お問い合わせはこちらへ">
      </div>
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->

