
<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
       <div id="breadcrumb-nav"><a href="/" title="HOME">HOME</a> &gt;  
 
<a href="/promotion/"">各種販促サービス</a> &gt; 携帯サイト・メルマガツール</div>
      </div>
      <div id="userinfo">
       
      </div>
     </div>
     <article>
            <h1 class="title-promotion-mobile">携帯サイト・メルマガツール</h1>
      <img src="/assets/img-promotion-mobile.jpg" width="242" height="182" border="0" class="img">
      <div id="des-container">
       <h2 class="des-promotion-mobile">携帯サイト＋メルマガシステム DMモビ</h2>
       <p>DMモビなら、直接お客様の携帯に情報が届くため、ほぼ100%目にとまり集客率が伸びます。<br>他店と差をつける為に是非ご利用してみては如何ですか？<br><br>各種詳細、ご不明点などはお気軽にお問い合わせください。<br />→[ <a href="contact.html">お問い合わせ</a> ]はこちら</p>
      </div>

      <div id="qr">
       <img src="/assets/img-promotion-mobile-qrcode.png" width="650" height="94" border="0">
      </div>

      <section>
       <h3 class="subtitle">DMモビのサービス内容</h3>
       <img src="/assets/img-promotion-mobile01.jpg" width="650" height="322" border="0">
       <ul id="ullist">
        <li>送りたいときにすぐに情報をお客様の携帯に送れます。</li>
        <li>管理画面で簡単に送信指示ができます。</li>
        <li>事前に複数の配信テンプレートを作成できます。 （最新情報用・メニュー用・クーポン用など）</li>
        <li>忙しい時は、事前に時間設定送信が可能です。</li>
        <li>送信時にアドレスが選択可能です。（抽選で特典（1000円分のチケットなど）を何人かに送信する場合などに便利です）</li>
        <li>出先から急に情報をお客様に送信したい場合は、携帯からの送信も可能です。</li>
       </ul>
      </section>

      <section>
       <h3 class="subtitle">お客様の登録方法</h3>
       <ol id="ollist">
        <li>QRコードよりアクセスして空メール送信で簡単にメール会員の登録が完了します。</li>
        <li>お客様に登録完了メールが自動にとどきます。</li>
        <li>その後、管理画面より必要な情報を送信します。登録された、全員のお客様の携帯に情報がとどきます。</li>
       </ol>
      </section>

      <section>
       <h3 class="subtitle">お客様への送信例</h3>
       <p class="dm">用意された管理画面より、お客様に送信したい内容を記述して送るだけです。<br>登録されたお客様全員の携帯に内容が届きます。<br>クーポンや毎回決まった情報を送る場合は、配信テンプレートより選択が可能です。<br>テンプレートはこちらで用意いたします。<br>画像付テンプレートは2種類あります。</p>
       <img src="/assets/img-promotion-mobile02.jpg" width="650" height="166" border="0">
      </section>

      <section>
       <h3 class="subtitle">プランのご紹介</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="list">
        <tr>
         <th>プラン</th><th>サービス内容</th>
        </tr>
        <tr>
         <td>トライアル</td><td class="srv">メール配信機能と配信ページの作成</td>
        </tr>
        <tr>
         <td>ベーシック</td><td class="srv">静止画像の定型トップページ・メール配信機能（配信ページを含む）<br>他3ページ（インフォーメーション／マップ／メニューなど）<br>定型トップページには、お好きな色の背景にお客様のロゴマークが入ります。</td>
        </tr>
        <tr>
         <td>ノーマル</td><td class="srv">アニメーション付（FLASH）のオリジナルトップページ<br>メール配信機能（配信ページを含む）<br>他3ページ（インフォーメーション／マップ／メニューなど）<br>ページを増やす事も可能です。（オプション・月々の料金は変わりません）<br><span class="red">ノーマルに限り月に1度の更新は<strong>無料</strong>で行う事ができます。</span><br>ページの大幅な変更、リニューアルは、別途料金がかかります。</td>
        </tr>
       </table>
      </section>

      <section>
       <h3 class="subtitle">携帯サイトのデザイン</h3>
       <h4>トップデザイン</h4>
       <p class="dm">携帯サイトのトップデザインは、下記のサンプルから選ぶ事も可能です。（基本的にはオリジナルのデザインを作成いたします）<br><br>背景デザインの上にお客様のロゴデザインが入り、各カテゴリーのボタンが載ります。<br>また、この背景は、時間で色が変化したり、オブジェクトがアニメーションします。（季節ごとに変えるのもオシャレかも…）</p>
       <img src="/assets/img-promotion-mobile03.jpg" width="650" height="182" border="0">
       <h4>メニュー構成</h4>
       <p class="dm">携帯サイトのメニュー構成は、TOP画面・基本会社概要・アクセス・主要商品・メール会員の5つのカテゴリーから構成されます。<br>
TOPデザインは01・02、または上記の背景デザインを利用することも可能です。<br>お申し込みの時期により、トップデザインのボタン構成が変わる事がありますのでご了承ください。</p>
       <img src="/assets/img-promotion-mobile04.jpg" width="650" height="388" border="0">
      </section>

      <section>
       <h3 class="subtitle">ご確認項目</h3>
       <ol id="ollist">
        <li>みえ～る小窓の数量</li>
        <li>抽選グッズの種類</li>
        <li>抽選グッズの色、数量</li>
       </ol>
       <p>ご依頼の際、上記確認項目を[ <a href="estimate.html">お見積り依頼</a> ]よりご入力の上、送信ください。<br>その他不明点がございましたら、[ <a href="contact.html">お問い合わせ</a> ]よりお気軽にご連絡ください。</p>
      </section>
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->

