
<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
       <div id="breadcrumb-nav"><a href="https://www.printhakase.com/" title="HOME">HOME</a> &gt;  
 
 
<a href="/guide/"">ご利用ガイド</a> &gt; キャンセル・変更について</div>
      </div>
      <div id="userinfo">
       
      </div>
     </div>
     <article>
            <h1 class="title-guide-cancel">キャンセル・変更について</h1>

      <section>
       <h3 class="subtitle">キャンセル・変更について</h3>
       <p>入稿・発注前のご相談・お見積り段階でのキャンセル・変更には一切料金はかかりません。<br>ご依頼を受けてからのキャンセル・変更については、規定のキャンセル料金が発生いたしますのでご注意ください。</p>
      </section>

      <section>
       <h3 class="subtitle">返品について</h3>
       <p>弊社のミスによる、不良品（印刷間違いや商品の欠陥）は商品到着日より<span class="red"><strong>8日以内</strong></span>に事前のご連絡の上、良品と交換または返金させていただきます。<br>商品の性質上（オーダー品の為）、お客様のご都合による返品、交換はご容赦下さい。<br>印刷したものは基本的に返品・交換はお受けできませんのでご了承ください。<br>また、いかなる印刷物に関しても、納期などの遅れ、印刷ミスにおいて損害が出ましても、印刷代金以上の責任は負えませんので、予めご了承ください。</p>
      </section>
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->
