
<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
       <div id="breadcrumb-nav"><a href="https://59.157.4.41/" title="HOME">HOME</a> &gt; <a href="/guide/"">ご利用ガイド</a> &gt;入稿について</div>
      </div>
      <div id="userinfo">
       
      </div>
     </div>
     <article>
            <h1 class="title-guide-data">入稿について</h1>

      <section>
       <h3 class="subtitle">紙の種類について</h3>
       <p>紙には印刷する用途によってさまざまな種類がありますが、その種類は使用目的によって多岐に渡ります。<br>また、使用する紙によって印刷物のイメージや使いやすさが大きく変わってしまう場合もありますので、適切な用紙選択をされないとご希望の印刷物が出来上がりません。<br>用紙の選択につきましては、お客様の用途やご予算に合った紙のご提案をさせて頂きますので、お気軽にお問い合わせ下さい。</p>
       <table border="0" cellpadding="0" cellspacing="0" class="list-data">
        <tr>
         <th>種類</th>
         <th>用紙の意味・特徴</th>
         <th>用途</th>
        </tr>
        <tr>
         <td>コート紙</td>
         <td class="l">コート紙とは原紙の上に【カオリン】という粘土鉱物の一種を塗布し紙の表面を平滑にしたものです。<br>一般的に幅広い用途に使用されています。</td>
         <td class="l">ポスター・パンフレット・カタログ・カレンダー・雑誌類の表紙などに最適です。</td>
        </tr>
        <tr>
         <td>上質紙</td>
         <td class="l">コート紙が塗布されていないものが上質紙です。<br>表裏ともコートしていない為ザラザラした質感です。</td>
         <td class="l">雑誌・チラシ・事務用伝票・メモ帳・ノート・原稿用紙などに最適です。<br>また、厚手のものは【葉書】や【名刺】などにも用いられます。</td>
        </tr>
        <tr>
         <td>色上質紙</td>
         <td class="l">コート紙が塗布されていないものが上質紙です。<br>表裏ともコートしていない為ザラザラした質感です。</td>
         <td class="l">折り込み広告・チケット類・プログラムなどに最適です。<br>また、薄手のものは【おはながみ】や【おり紙】などにも用いられます。</td>
        </tr>
        <tr>
         <td>マット紙</td>
         <td class="l">光沢を抑えている為、落ち着いた仕上がりにります。<br>高級感があり最近では名刺などにも使用されています。</td>
         <td class="l">会社案内・カタログ・パンフレット・ＤＭ・取扱説明書などに最適です。</td>
        </tr>
       </table>
      </section>

      <section>
       <h3 class="subtitle">フォントについて</h3>
       <p>フォントについてのご希望は、お見積り依頼フォーム・データ入稿フォーム内『特記事項・必要事項など』の欄にご記入の上、承っております。<br><br><span class="red">※下記以外にも、多数のフォントを取り揃えておりますので、お気軽にお問い合わせください。</span></p>
       <div id="data-container">
        <p class="blue"><strong>1. ゴシック体</strong></p>
        <img src="https://59.157.4.41/images/img-guide-data01.png" width="520" height-"20" border="0" class="data">
       </div>

       <div id="data-container">
        <p class="blue"><strong>2. POP体</strong></p>
        <img src="https://59.157.4.41/images/img-guide-data02.png" width="520" height-"20" border="0" class="data">
       </div>

       <div id="data-container">
        <p class="blue"><strong>3. 太ゴシック体</strong></p>
        <img src="https://59.157.4.41/images/img-guide-data03.png" width="520" height-"20" border="0" class="data">
       </div>

       <div id="data-container">
        <p class="blue"><strong>4. 行書体</strong></p>
        <img src="https://59.157.4.41/images/img-guide-data04.png" width="520" height-"20" border="0" class="data">
       </div>

       <div id="data-container">
        <p class="blue"><strong>5. 明朝体</strong></p>
        <img src="https://59.157.4.41/images/img-guide-data05.png" width="520" height-"20" border="0" class="data">
       </div>

       <div id="data-container">
        <p class="blue"><strong>6. 楷書体</strong></p>
        <img src="https://59.157.4.41/images/img-guide-data06.png" width="520" height-"20" border="0" class="data">
       </div>
      </section>
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->

