
<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
       <div id="breadcrumb-nav"><a href="https://www.printhakase.com/" title="HOME">HOME</a> &gt; <a href="/guide/"">ご利用ガイド</a> &gt; 発送について</div>
      </div>
      <div id="userinfo">
       
      </div>
     </div>
     <article>
            <h1 class="title-guide-dispatch">発送について</h1>

      <section>
       <h3 class="subtitle">ぷりんと博士は基本的に送料が無料！？</h3>
       <p>ぷりんと博士ではお客様の最寄店舗の博士たちが直接商品をお届けにあがります。<span class="red"><strong>送料はなんとタダ！！</strong></span><br>即日対応が可能なのに送料無料、こんなサービスが提供できるのはぷりんと博士だけです！<br><br>※最寄りの店舗は[ <a href="https://www.printhakase.com/store/">お近くの博士たち</a> ]をご覧ください。<br>※一部店舗では、配達距離などによって発送料金をいただく場合がございます。<br><span class="red">※商品の数量、重量によっては、別途送料をいただく場合がございます。</span></p>
      </section>

      <section>
       <h3 class="subtitle">ぷりんと博士たちはどこにでも商品をお届けにあがります！</h3>
       <p>「商品到着予定の時間帯に急に外出しなければならなくなった！でも名刺は必要だ！」<br><br>そんな場合でもご安心ください。<br>対応エリア内であれば、お客様のご都合に合わせてお届け先を変更可能です！</p>
      </section>

      <section>
       <h3 class="subtitle">宅配業者を使う場合</h3>
       <p>商品の数や量が多い場合などは、宅配便を使うことがございます。<br>送料が別途発生する場合には、お見積り時にご連絡いたします。</p>
      </section>
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->
