
<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
       <div id="breadcrumb-nav"><a href="https://www.printhakase.com/" title="HOME">HOME</a> &gt; <a href="/guide/"">ご利用ガイド</a> &gt; よくあるご質問</div>
      </div>
      <div id="userinfo">
       
      </div>
     </div>
     <article>
            <h1 class="title-guide-faq">よくあるご質問</h1>

      <section>
       <h3 class="subtitle">FAQ</h3>
       <p class="faq">皆様より、よくお寄せいただくお問い合わせの内容と、その答えを掲載しています。</p>
       <dl id="faq">
        <dt>名刺（封筒・はがき・チラシ）印刷をお願いしたいのですが、どのようにしたらよろしいですか？</dt>
        <dd>当ホームページ内[ <a href="contact.html">お問い合わせ</a> ]より必要事項を記入して送信してください。<br>ご確認後、弊社または店舗よりご連絡差し上げます。</dd>
       </dl>

       <dl id="faq">
        <dt>フランチャイズの加盟を考えておりますが、説明会等はどちらで行っているのですか？</dt>
        <dd>基本的には東京（新宿）の本部で毎月1～2回の割合で行っております。<br>東京以外でも不定期ですが行っております。<br>詳しくは[ <a href="briefing.html">事業説明会日程</a> ]をご覧ください。<br>日程など随時更新しておりますのでご確認ください。</dd>
       </dl>

       <dl id="faq">
        <dt>業務サポートコンサルティングとは何ですか？</dt>
        <dd>フランチャイズに関するすべての業務をサポートしております。<br>お気軽にお問い合わせください。</dd>
       </dl>

       <dl id="faq">
        <dt>広告業務とありますが、どのようなことをやっているのでしょうか？</dt>
        <dd>当社では各業種に合わせて、より効果的な販促PRを考えております。<br>広告の企画、制作、印刷まですべてサポートいたします。<br>お気軽にお問い合わせください。</dd>
       </dl>

       <dl id="faq">
        <dt>お問い合わせはどんな質問でも可能ですか？</dt>
        <dd>「印刷」に関すること、「ぷりんと博士」に関することにはすべてお答えいたします。<br>お気軽にお問い合わせください。</dd>
       </dl>
      </section>
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->
