<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
       <div id="breadcrumb-nav"><a href="https://www.printhakase.com/" title="HOME">HOME</a> &gt; ご利用ガイド</div>
      </div>
      <div id="userinfo">
       
      </div>
     </div>
     <article>
            <h1 class="title-guide">ご利用ガイド</h1>

      <section>
       <h3 class="subtitle">メニュー一覧</h3>
       <div id="item-container">
        <a href="https://www.printhakase.com/guide/faq.html" class="item"><img src="https://www.printhakase.com/images/img-guide-s.jpg" width="76" height="56" class="item"></a>
        <div id="item-wrapper">
         <h4 class="item-name"><a href="https://www.printhakase.com/guide/faq.html">よくあるご質問</a></h4>
         <p>ぷりんと博士にお寄せいただくご質問を掲載いたしました。</p>
        </div>
       </div>

       <div id="item-container">
        <a href="https://www.printhakase.com/guide/flow.html" class="item"><img src="https://www.printhakase.com/images/img-guide-s.jpg" width="76" height="56" class="item"></a>
        <div id="item-wrapper">
         <h4 class="item-name"><a href="https://www.printhakase.com/guide/flow.html">ご注文の手順について</a></h4>
         <p>納品書、見積書、請求書、単式、複写式、用途に合わせて様々な伝票を作成いたします。</p>
        </div>
       </div>

       <div id="item-container">
        <a href="https://www.printhakase.com/guide/dispatch.html" class="item"><img src="https://www.printhakase.com/images/img-guide-s.jpg" width="76" height="56" class="item"></a>
        <div id="item-wrapper">
         <h4 class="item-name"><a href="https://www.printhakase.com/guide/dispatch.html">発送について</a></h4>
         <p>全国対応可能！翌営業日発送も可能です。全国どこでも格安でお届けいたします。</p>
        </div>
       </div>

       <div id="item-container">
        <a href="https://www.printhakase.com/guide/payment.html" class="item"><img src="https://www.printhakase.com/images/img-guide-s.jpg" width="76" height="56" class="item"></a>
        <div id="item-wrapper">
         <h4 class="item-name"><a href="https://www.printhakase.com/guide/payment.html">お支払いについて</a></h4>
         <p>お支払いについての詳細です。受け渡し方法などにより異なりますのでご確認ください。</p>
        </div>
       </div>

       <div id="item-container">
        <a href="https://www.printhakase.com/guide/data.html" class="item"><img src="https://www.printhakase.com/images/img-guide-s.jpg" width="76" height="56" class="item"></a>
        <div id="item-wrapper">
         <h4 class="item-name"><a href="https://www.printhakase.com/guide/data.html">入稿について</a></h4>
         <p>各種入稿方法について掲載しています。各種データ、FAX、郵送でも承ります。</p>
        </div>
       </div>

       <div id="item-container">
        <a href="https://www.printhakase.com/guide/inquiry.html" class="item"><img src="https://www.printhakase.com/images/img-guide-s.jpg" width="76" height="56" class="item"></a>
        <div id="item-wrapper">
         <h4 class="item-name"><a href="https://www.printhakase.com/guide/inquiry.html">お問い合わせについて</a></h4>
         <p>各種ポスター印刷承ります。デザイン制作、印刷メディアも多数取り扱っております。</p>
        </div>
       </div>

       <div id="item-container">
        <a href="https://www.printhakase.com/guide/cancel.html" class="item"><img src="https://www.printhakase.com/images/img-guide-s.jpg" width="76" height="56" class="item"></a>
        <div id="item-wrapper">
         <h4 class="item-name"><a href="https://www.printhakase.com/guide/cancel.html">キャンセル・変更について</a></h4>
         <p>入稿、依頼後のキャンセル・変更対応はこちらからご確認ください。</p>
        </div>
       </div>

       <div id="adj"></div>
      </section>
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->
