
<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
       <div id="breadcrumb-nav"><a href="/" title="HOME">HOME</a> &gt; <a href="/guide/"">ご利用ガイド</a> &gt; お問い合わせについて</div>
      </div>
      <div id="userinfo">
       
      </div>
     </div>
     <article>
            <h1 class="title-guide-inquiry">お問い合わせについて</h1>
      <p>土・日・祝日・年末年始ほか、会社休業日にいただいたお問い合わせについては、翌営業日以降の回答となることがございます。<br><br><span class="red">受付時間: 10:00～19:00 （土・日・祝日除く）</span></p>

      <section>
       <h3 class="subtitle">電話・FAXでのお問い合わせ</h3>
       <p>TEL: 0120-5454-22 （フリーダイヤル）　／　FAX: 03-3568-7489</p>
      </section>

      <section>
       <h3 class="subtitle">Eメールでのお問い合わせ</h3>
       <p>こちらの[ <a href="contact.html">お問い合わせ</a> ]より、お問い合わせ内容をご記入の上、送信してください。</p>
      </section>
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->

