
<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
       <div id="breadcrumb-nav"><a href="/" title="HOME">HOME</a> &gt; <a href="/guide/"">ご利用ガイド</a> &gt; お支払いについて</div>
      </div>
      <div id="userinfo">
       
      </div>
     </div>
     <article>
            <h1 class="title-guide-payment">お支払いについて</h1>

      <section>
       <h3 class="subtitle">お支払い方法</h3>
       <p>お届けの際にご集金させていただく代金引換、または銀行振込がございます。（振込手数料はお客さま負担）<br>銀行振込みをご希望のお客様は各担当者へお申し付けください。</p>
      </section>
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->

