// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{ 
 padding: 0px;
 margin: 0px;
}

html {
 scrollbar-track-color: #a2a2a2;
 scrollbar-face-color: #e7e7e7;
 scrollbar-shadow-color: #e7e7e7;
 scrollbar-darkshadow-color: #737373;
 scrollbar-highlight-color: #e7e7e7;
 scrollbar-3dlight-color: #ffffff;
 scrollbar-arrow-color: #888888;
 height:100%;
 overflow-y: auto;
 overflow-x: hidden;
}

html {
 width: 100%;
 min-width: 980px;
 height: 100%;
 overflow-y: auto;
 overflow-x: hidden;
 background-color: #ffffff;
}

* html div#container {
 height: 100%;
}

div#container {
 position2: relative;
 width: 100%;
 height: 100%;
 min-width: 980px;
 min-height: 100%;
 margin: 0px auto;
}

body > #container {
 height: auto;
}

div#wrapper {
 height: auto;
 padding-bottom: 105px;
}

div#header-container, div#contents {
 width: 900px;
 height: 100%;
 padding: 0px 40px 0px;
 margin: 0px auto;
 text-align: center;
}



/* ヘッダー */

header {
 display: block;
 width: 100%;
 height: 140px;
 background: url(../images/bg-header.png) left top repeat-x;
}

div#header-container {
 height: 127px;
 padding: 6px 0px 7px;
}

div#logo {
 padding: 18px 0px 22px;
 float: left;
}

div#logo a {
 display: block;
 width: 327px;
 height: 88px;
 text-indent: -9999px;
 background: url(../images/logo.png) left top no-repeat;
 border: 0;
}

div#contact-container {
 padding: 20px 0px ;
 text-align: left;
 float: right;
}

div#tel {
 display: block;
 width: 239px;
 height: 48px;
 text-indent: -9999px;
 background: url(../images/tel.png) left top no-repeat;
}

ul#contact {
 margin-top: 8px;
 list-style-type: none;
}

ul#contact li {
 float: left;
}

ul#contact li a {
 display: block;
 width: 116px;
 height: 28px;
 text-indent: -9999px;
 border: 0;
}

ul#contact li#contact a {
  background: url(../images/button-contact.png) left top no-repeat;
}

ul#contact li#offer a {
 margin-left: 7px;
 background: url(../images/button-offer.png) left top no-repeat;
}




/* サイドバー */

div#leftbar {
 width: 200px;
 height: 100%;
 margin: 0px 50px 25px 0px;
 overflow: hidden;
 float: left;
}

div#leftbar div {
 margin-top: 25px;
}



/* メニュー */

nav {
 text-align: left;
}

ul#menu {
 text-align: left;
 list-style-type: none;
}

ul#menu li a {
 text-indent: -9999px;
}

ul#menu li#home {
 height: 16px;
 padding: 12px 0px 16px;
}

ul#menu li#price, ul#menu li#printing, ul#menu li#promo, ul#menu li#guide, ul#menu li#store, ul#menu li#fc {
 margin-top: 10px;
}

ul#menu li#admin, ul#menu li#member {
 padding-bottom: 10px;
 margin-bottom: 10px;
 border-bottom: 1px dotted #c8c8c8;
}

ul#menu li#home a {
 display: block;
 width: 62px;
 height: 16px;
 background: url(../images/button-home.png) left top no-repeat;
 border: 0;
}

ul#menu li#submit a {
 display: block;
 width: 200px;
 height: 50px;
 background: url(../images/button-submit.png) left top no-repeat;
 border: 0;
}

ul#menu li#price a {
 display: block;
 width: 200px;
 height: 50px;
 background: url(../images/button-price.png) left top no-repeat;
 border: 0;
}

ul#menu li#printing span.printing {
 display: block;
 width: 200px;
 height: 62px;
 background: url(../images/button-printing.png) left top no-repeat;
}

ul#menu li#printing a.printing {
 display: block;
 width: 200px;
 height: 50px;
 border: 0;
}

ul#menu li#promo span.promo {
 display: block;
 width: 200px;
 height: 62px;
 background: url(../images/button-promo.png) left top no-repeat;
}

ul#menu li#promo a.promo {
 display: block;
 width: 200px;
 height: 50px;
 border: 0;
}

ul#menu li#guide span.guide {
 display: block;
 width: 200px;
 height: 62px;
 background: url(../images/button-guide.png) left top no-repeat;
}

ul#menu li#guide a.guide {
 display: block;
 width: 200px;
 height: 50px;
 border: 0;
}

ul#menu li#store span.store {
 display: block;
 width: 200px;
 height: 62px;
 background: url(../images/button-store.png) left top no-repeat;
}

ul#menu li#store a.store {
 display: block;
 width: 200px;
 height: 50px;
 border: 0;
}

ul#menu li#fc span.fc {
 display: block;
 width: 200px;
 height: 62px;
 background: url(../images/button-fc.png) left top no-repeat;
}

ul#menu li#fc a.fc {
 display: block;
 width: 200px;
 height: 50px;
 border: 0;
}

ul#menu li#admin span.admin {
 display: block;
 width: 200px;
 height: 62px;
 background: url(../images/button-admin.png) left top no-repeat;
}

ul#menu li#member span.member {
 display: block;
 width: 200px;
 height: 62px;
 background: url(../images/button-member.png) left top no-repeat;
}

ul#menu li#admin a.admin, ul#menu li#member a.admin {
 display: block;
 width: 200px;
 height: 50px;
 border: 0;
}

ul#submenu {
 width: 200px;
 list-style-image: url(../images/marker.png);
 background: url(../images/bg-menu.png) left top repeat-y;
}

ul#submenu li.none {
 width: 166px;
 height: 30px;
 font-weight: bold;
 line-height: 30px;
 margin: 0px 7px;
 padding-left: 20px;
 list-style-image: none;
 list-style-type: none;
 list-style-position: inside;
 border-bottom: 1px dotted #c8c8c8;
}

ul#submenu li.admin, ul#submenu li.member {
  list-style-image: url(../images/marker-admin.png);
}

ul#submenu li {
 width: 186px;
 height: 30px;
 line-height: 30px;
 margin: 0px 7px;
 list-style-position: inside;
 border-bottom: 1px dotted #c8c8c8;
}

ul#submenu li#bottom {
 width: 200px;
 height: 42px;
 margin: 0px;
 padding: 0px 7px;
 background: url(../images/bg-menu_b.png) left top no-repeat;
 border: 0;
}

ul#submenu li a {
 padding-left: 2px;
}

div#leftbar div#ssl {
 text-align: center;
 margin-bottom2: 50px;
}

div#leftbar div#ssl table {
 margin: 0 auto;
 text-align: center;
}

div#leftbar div#ssl table a:link {
 border: 0;
}

div#ssl p {
 text-align: left;
 margin-top: 5px;
}



/* メイン */

div#main {
 width: 650px;
 overflow: hidden;
 float: left;
}

div#breadcrumb-container {
 display: block;
 width: 650px;
 height: 45px;
}

div#breadcrumb {
 width: 530px;
 height: 45px;
 line-height: 45px;
 margin: -3px 0px 2px;
 text-align: left;
 float: left;
}

div#breadcrumb img.breadcrumb {
 vertical-align: middle;
 margin-right: 8px;
}

div#userinfo {
 width: 120px;
 height: 45px;
 font-weight: bold;
 line-height: 45px;
 text-align: right;
 float: right;
}

article {
 clear: both;
 width: 650px;
 text-align: left;
 margin: 0px;
}

article h1 {
 width: 650px;
 height: 50px;
 text-indent: -9999px;
 margin-bottom: 25px;
}

article img.img {
 width2: 242px;
 height2: 182px;
 margin-right: 23px;
 float: left;
}

article img.smile {
 margin-bottom: 20px;
}

article div#des-container {
 width2: 383px;
 height: 182px;
 overflow: hidden;
}

article div#des_s-container {
 height: 124px;
 overflow: hidden;
}

div#des-container h2, h2.smile {
 width2: 383px;
 height: 18px;
 margin: 2px 0px 16px;
 padding-bottom: 5px;
 border-bottom: 1px dotted #c8c8c8;
}

section h3.subtitle {
 clear: both;
 width: 650px;
 height: 25px;
 line-height: 25px;
 margin: 25px 0px 25px;
 padding: 0px 10px 0px 18px;
 background: url(../images/bg-subtitle.png) left top no-repeat;
}

section h4 {
 margin: 25px 0px;
 padding-bottom: 3px;
 border-bottom: 1px dotted #c8c8c8;
}

div#item-container {
 width: 325px;
 height: 56px;
 padding-bottom: 25px;
 margin-bottom: 25px;
 border-bottom: 1px dotted #c8c8c8;
 float: left;
}

div#item-container a.item {
 width: 76px;
 height: 56px;
 text-decoration: none;
 border: 0;
}

img.item {
 width: 76px;
 height: 56px;
 margin-right: 12px;
 float: left;
}

div#novelty-container {
 width: 325px;
 height: 128px;
 padding-bottom: 25px;
 margin-bottom: 25px;
 border-bottom: 1px dotted #c8c8c8;
 float: left;
}

div#div-container {
 margin: 5px 0px 25px;
}

div#flow-container {
 clear: both;
 height: 180px;
 padding-bottom: 25px;
 margin-bottom: 25px;
 border-bottom: 1px dotted #c8c8c8;
}

p.flow {
 padding-bottom: 3px;
 margin: 0px 0px 12px 203px;
 border-bottom: 1px dotted #c8c8c8;
}

img.flow {
 margin-right: 23px;
 float: left;
}

div#data-container {
 padding-bottom: 25px;
 margin: 25px 0px;
 border-bottom: 1px dotted #c8c8c8;
}

div#data-container img {
 margin-top: 7px;
}

div#des-fc-container {
 margin-bottom: 25px;
}

div#des-fc-container h2 {
 width: 650px;
 height: 100px;
 text-indent: -9999px;
 margin: -4px 0px 25px;
}

img.novelty {
 width: 150px;
 height: 100px;
 margin-right: 12px;
 float: left;
}

h4.item-name {
 width: 100%;
 height2: 20px;
 margin: 0;
 padding: 0;
 border: 0;
}

div#item-wrapper p {
 padding-right: 12px;
}

div#sitemap {
 width: 33%;
 float: left;
}

li.m {
 margin-bottom: 7px;
}

aside {
 margin: 25px 0px 0px;
}

table.list {
 width: 99%;
 border-collapse: collapse;
 margin: 0px auto 25px;
}

table.list th, table.list td {
 width: 650px;
 text-align: center;
 padding: 8px 10px;
 border: 1px solid #1875d2;
 empty-cells: show;
}

table.list th {
 background-color: #b1e1ff;
}

table.list td.srv {
 width: 70%;
 text-align: left;
}

table.thumbs {
 width: 100%;
 border-collapse: collapse;
 margin: 25px auto 0px;
}

table.thumbs td {
 text-align: center;
 padding: 5px 7px;
}

table.thumbs td span {
 display: block;
 margin-bottom: 10px;
}

table.thumbs td span.poster {
 width: 182px;
 height: 24px;
 margin: 0px auto 25px;
 text-align: left;
}

table.item {
 margin-top2: -16px;
 border-collapse: collapse;
}

table.item th {
 padding-right: 10px;
}

table.item td {
 padding-right: 14px;
}

table.list-dm, table.list-data {
 width: 99%;
 border-collapse: collapse;
 margin: 25px auto 25px;
}

table.list-dm th, table.list-dm td, table.list-data th, table.list-data td {
 width2: 33%;
 text-align: center;
 border: 1px solid #1875d2;
 empty-cells: show;
}

table.list-dm th, table.list-data th {
 padding: 8px 10px;
 background-color: #b1e1ff;
}

table.list-dm td {
 padding: 0px 10px;
}

table.list-dm td.color {
 width: 76px;
 height: 44px;
 padding: 0;
 margin: 0;
}

table.list-data td.l {
 width: 40%;
 padding: 8px 10px;
 text-align: left;
}

table.store {
 width: 99%;
 border-collapse: collapse;
 margin: 0px auto 25px;
}

table.store th, table.store td {
 width: 33%;
 padding-top: 12px;
 padding-bottom: 12px;
 border-bottom: 1px dotted #c8c8c8;
}

table.store th {
 padding-left: 28px;
 background: url(../images/marker.png) 3% 50% no-repeat;
}

table.aff {
 width: 99%;
 border-collapse: separate;
 border-spacing: 5px;
 margin: 25px auto 0px;
 background-color: #f5f5f5;
}

table.aff th, table.aff td {
 height: 56px;
 padding: 8px 10px;
 border: 1px solid #c8c8c8;
}

table.aff th {
 color: #ffffff;
 width: 110px;
 text-align: center;
 background-color: #1a75bb;
}

table.aff td {
 background-color: #ffffff;
}

table.contract {
 width: 99%;
 border-collapse: collapse;
 margin: 0px auto 25px;
}

table.contract th, table.contract td {
 padding: 8px 10px;
 border: 1px solid #1875d2;
 empty-cells: show;
}

table.contract th {
 width: 30%;
 text-align: center;
 background-color: #b1e1ff;
}

table.contract td {
 text-align: left;
}

table.news {
 width: 100%;
 border-collapse: separate;
 border-spacing: 0px;
 margin: -12px auto 0px;
 padding: 0px 15px 15px;
 border: 1px solid #d8d8d8;
 border-top: 0;
}

table.news h4 {
 margin: 0;
 padding: 0;
 border: 0;
}

table.news td.date {
 width: 24%;
 margin: 0;
 padding: 25px 0 3px;
 border-bottom: 1px dotted #c8c8c8;
}

table.news td.title {
 width: 76%;
 margin: 0;
 padding: 25px 0 3px;
 border-bottom: 1px dotted #c8c8c8;
}

table.news td.topic {
 padding-top: 12px;
}

table.form {
 width: 99%;
 border-collapse: separate;
 border-spacing: 5px;
 margin: 25px auto 0px;
 background-color: #f5f5f5;
}

table.form th, table.form td {
 min-height2: 48px;
 padding: 8px 10px;
 border: 1px solid #c8c8c8;
}

table.form th {
 color: #ffffff;
 width: 150px;
 text-align: center;
 background-color: #1a75bb;
}

table.form td {
 background-color: #ffffff;
}

table.form input.txt1 {
 width: 120px;
 padding: 2px 3px;
}

table.form input.txt2 {
 width: 250px;
 padding: 2px 3px;
}

table.form textarea {
 width: 98%;
 height: 195px;
 padding: 5px;
}

table.form select {
 padding: 2px 3px;
}

table.form p.check {
 width: 70px;
 float: left;
}

table.form p.check input {
 vertical-align: middle;
 margin-right: 4px;
}

table.form input#button_login {
 width: 100px;
 height: 26px;
}

td#title {
 width2: 82%;
}

td#store {
 width: 18%;
 text-align: right;
 overflow: hidden;
}

td#date {
 width: 18%;
 text-align: right;
}

td#buttons div#filename {
 width: 55%;
 float: left;
}

td#buttons div#buttons {
 width: 45%;
 text-align: right;
 float: right;
}


td#buttons div#bt {
 margin-left: 10px;
 float: right;
}

div#bt_new {
 margin-bottom: -25px;
}
 
div#bt_new input {
 width: 76px;
 padding: 2px;
}

div#bt input {
 width: 76px;
 padding: 2px;
}

div#button-container {
 width: 200px;
 height: 50px;
 margin: 25px auto 0px;
 text-align: center;
}

div#button-container input.submit, div#button-container input.confirm {
 display: block;
 width: 200px;
 height: 50px;
 text-indent: -9999px;
 border: 0;
 cursor: pointer;
 background: url(../images/button-send.png) left top no-repeat;
}

div#button-container input.confirm {
 display: block;
 width: 200px;
 height: 50px;
 text-indent: -9999px;
 border: 0;
 cursor: pointer;
 background: url(../images/button-confirm.png) left top no-repeat;
}

p.t {
 margin-top: 25px;
}

p.h {
 margin-bottom: -25px;
}

p.brochure, p.uniform {
 margin: 25px 0px;
}

p.dm {
 margin-bottom: 25px;
}

div#qr {
 clear: both;
 margin-top: 50px;
}

ul#ullist, ol#ollist {
 margin: 25px 0px 25px 18px;
}

ul#ullist, ol#ollist li.list {
 margin-top: 12px;
}

dl#faq, p.faq {
 padding-bottom: 25px;
 margin-bottom: 25px;
 border-bottom: 1px dotted #c8c8c8;
}

dl#faq dt {
 padding-left: 28px;
 margin-bottom: 12px;
 background: url(../images/img-guide-faq-q.png) left top no-repeat;
}

dl#faq dd {
 padding-left: 28px;
 background: url(../images/img-guide-faq-a.png) left top no-repeat;
}

div#pagetop {
 margin: 100px 0px 24px;
 text-align: right;
}

h1.title-printing {
 background: url(../images/title-printing.png) left top no-repeat;
}

h1.title-printing-smile {
 background: url(../images/title-printing-smile.png) left top no-repeat;
}

h1.title-printing-card {
 background: url(../images/title-printing-card.png) left top no-repeat;
}

h1.title-printing-slip {
 background: url(../images/title-printing-slip.png) left top no-repeat;
}

h1.title-printing-postcard {
 background: url(../images/title-printing-postcard.png) left top no-repeat;
}

h1.title-printing-envelope {
 background: url(../images/title-printing-envelope.png) left top no-repeat;
}

h1.title-printing-flyer {
 background: url(../images/title-printing-flyer.png) left top no-repeat;
}

h1.title-printing-poster {
 background: url(../images/title-printing-poster.png) left top no-repeat;
}

h1.title-printing-brochure {
 background: url(../images/title-printing-brochure.png) left top no-repeat;
}

h1.title-printing-uniform {
 background: url(../images/title-printing-uniform.png) left top no-repeat;
}

h1.title-printing-stamp {
 background: url(../images/title-printing-stamp.png) left top no-repeat;
}

h1.title-printing-novelty {
 background: url(../images/title-printing-novelty.png) left top no-repeat;
}

h1.title-printing-telegram {
 background: url(../images/title-printing-telegram.png) left top no-repeat;
}

h1.title-printing-nenga2012 {
 background: url(../images/title-printing-nenga2012.png) left top no-repeat;
}

h1.title-printing-shochu2012 {
 background: url(../images/title-printing-shochu2012.png) left top no-repeat;
}

h1.title-printing-nenga2013 {
 background: url(../images/title-printing-nenga2013.png) left top no-repeat;
}

h1.title-printing-shochu2013 {
 background: url(../images/title-printing-shochu2013.png) left top no-repeat;
}

h1.title-printing-nenga2014 {
 background: url(../images/title-printing-nenga2014.png) left top no-repeat;
}

h1.title-printing-nenga2015 {
 background: url(../images/title-printing-nenga2015.png) left top no-repeat;
}



h1.title-promotion {
 background: url(../images/title-promotion.png) left top no-repeat;
}

h1.title-promotion-dm {
 background: url(../images/title-promotion-dm.png) left top no-repeat;
}

h1.title-promotion-homepage {
 background: url(../images/title-promotion-homepage.png) left top no-repeat;
}

h1.title-promotion-mobile {
 background: url(../images/title-promotion-mobile.png) left top no-repeat;
}

h1.title-guide {
 background: url(../images/title-guide.png) left top no-repeat;
}

h1.title-guide-faq {
 background: url(../images/title-guide-faq.png) left top no-repeat;
}

h1.title-guide-flow {
 background: url(../images/title-guide-flow.png) left top no-repeat;
}

h1.title-guide-dispatch {
 background: url(../images/title-guide-dispatch.png) left top no-repeat;
}

h1.title-guide-payment {
 background: url(../images/title-guide-payment.png) left top no-repeat;
}

h1.title-guide-data {
 background: url(../images/title-guide-data.png) left top no-repeat;
}

h1.title-guide-inquiry {
 background: url(../images/title-guide-inquiry.png) left top no-repeat;
}

h1.title-guide-cancel {
 background: url(../images/title-guide-cancel.png) left top no-repeat;
}

h1.title-store {
 background: url(../images/title-store.png) left top no-repeat;
}

h1.title-store-hokkaido {
 background: url(../images/title-store-hokkaido.png) left top no-repeat;
}

h1.title-store-tohoku {
 background: url(../images/title-store-tohoku.png) left top no-repeat;
}

h1.title-store-kanto {
 background: url(../images/title-store-kanto.png) left top no-repeat;
}

h1.title-store-hokuriku {
 background: url(../images/title-store-hokuriku.png) left top no-repeat;
}

h1.title-store-tokai {
 background: url(../images/title-store-tokai.png) left top no-repeat;
}

h1.title-store-kinki {
 background: url(../images/title-store-kinki.png) left top no-repeat;
}

h1.title-store-chugoku {
 background: url(../images/title-store-chugoku.png) left top no-repeat;
}

h1.title-store-shikoku {
 background: url(../images/title-store-shikoku.png) left top no-repeat;
}

h1.title-store-kyushu {
 background: url(../images/title-store-kyushu.png) left top no-repeat;
}

h1.title-fc {
 background: url(../images/title-fc.png) left top no-repeat;
}

h1.title-fc-station {
 background: url(../images/title-fc-station.png) left top no-repeat;
}

h1.title-fc-affiliation {
 background: url(../images/title-fc-affiliation.png) left top no-repeat;
}

h1.title-fc-briefing {
 background: url(../images/title-fc-briefing.png) left top no-repeat;
}

h1.title-fc-request {
 background: url(../images/title-fc-request.png) left top no-repeat;
}

h1.title-fc-result {
 background: url(../images/title-fc-result.png) left top no-repeat;
}

h1.title-fc-contract {
 background: url(../images/title-fc-contract.png) left top no-repeat;
}

h1.title-fc-success {
 background: url(../images/title-fc-success.png) left top no-repeat;
}

h1.title-submit {
 background: url(../images/title-submit.png) left top no-repeat;
}

h1.title-price {
 background: url(../images/title-price.png) left top no-repeat;
}

h1.title-contact {
 background: url(../images/title-contact.png) left top no-repeat;
}

h1.title-estimate {
 background: url(../images/title-estimate.png) left top no-repeat;
}

h1.title-company {
 background: url(../images/title-company.png) left top no-repeat;
}

h1.title-privacypolicy {
 background: url(../images/title-privacypolicy.png) left top no-repeat;
}

h1.title-consume {
 background: url(../images/title-consume.png) left top no-repeat;
}

h1.title-sitemap {
 background: url(../images/title-sitemap.png) left top no-repeat;
}

h1.title-admin {
 background: url(../images/title-admin.png) left top no-repeat;
}

h1.title-news-member {
 background: url(../images/title-news-member.png) left top no-repeat;
}

h1.title-news-web {
 background: url(../images/title-news-web.png) left top no-repeat;
}

h1.title-upload-member {
 background: url(../images/title-upload-member.png) left top no-repeat;
}

h1.title-upload-promotion {
 background: url(../images/title-upload-promotion.png) left top no-repeat;
}

h1.title-upload-other {
 background: url(../images/title-upload-other.png) left top no-repeat;
}

h1.title-download-member {
 background: url(../images/title-download-member.png) left top no-repeat;
}

h1.title-member {
 background: url(../images/title-member.png) left top no-repeat;
}

h1.title-member-news {
 background: url(../images/title-member-news.png) left top no-repeat;
}

h1.title-download-admin {
 background: url(../images/title-download-admin.png) left top no-repeat;
}

h1.title-download-promotion {
 background: url(../images/title-download-promo.png) left top no-repeat;
}

h1.title-download-other {
 background: url(../images/title-download-other.png) left top no-repeat;
}

h1.title-upload-admin {
 background: url(../images/title-upload-admin.png) left top no-repeat;
}

h1.title-upload-sales {
 background: url(../images/title-upload-sales.png) left top no-repeat;
}

h1.title-member-offset {
 background: url(../images/title-member-offset.png) left top no-repeat;
}

h1.title-member-envelope {
 background: url(../images/title-member-envelope.png) left top no-repeat;
}

h1.title-member-wear {
 background: url(../images/title-member-wear.png) left top no-repeat;
}

h1.title-member-sp {
 background: url(../images/title-member-sp.png) left top no-repeat;
}

h1.title-member-bbs {
 background: url(../images/title-member-bbs.png) left top no-repeat;
}

h2.des-promotion-web_st {
 display: none;
}

h2.des-fc-station {
 background: url(../images/img-fc-station.png) left top no-repeat;
}

h2.des-fc-affiliation {
 background: url(../images/img-fc-affiliation.png) left top no-repeat;
}

h2.des-fc-briefing {
 background: url(../images/img-fc-briefing.png) left top no-repeat;
}

h2.des-fc-request {
 background: url(../images/img-fc-request.png) left top no-repeat;
}

h2.des-fc-result {
 background: url(../images/img-fc-result.png) left top no-repeat;
}

h2.des-fc-contract {
 background: url(../images/img-fc-contract.png) left top no-repeat;
}

h2.des-fc-success {
 background: url(../images/img-fc-success.png) left top no-repeat;
}

p.tax {
 margin: -20px 0px 25px;
 text-align: right;
}

a:link.telegram {
 display: block;
 width: 200px;
 height: 50px;
 margin: 25px auto 0;
 text-align: center;
 text-indent: -9999px;
 border: 0;
 overflow: hidden;
 background: url(../images/button-telegram.png) left top no-repeat;
}

a:hover.telegram, a:hover.dl {
 border: 0;
}

a:link.dl {
 display: block;
 width: 200px;
 height: 50px;
 margin: 50px auto 0px;
 text-align: center;
 text-indent: -9999px;
 border: 0;
 overflow: hidden;
 background: url(../images/button-download.png) left top no-repeat;
}

a:link.nenga, a:visited.nenga, a:active.nenga {
 display: block;
 border: 1px solid #fff;/*#c8c8c8;*/
 margin-bottom: -12px;
}



/* TOPページ */

article h1.title-top {
 width: 650px;
 height: 225px;
 text-indent: -9999px;
 background: url(../images/img-top-main.png) left top no-repeat;
}

div#top-banner01 {
 margin-top: -12px;
}

div#top-container {
 width: 650px;
 margin-top: 8px;
 background-color: #cccccc;
}

div#top-wrapper {
 width: 420px;
 margin-right: 13px;
 float: left;
}

div#top-rightbar {
 width: 205px;
 height2: 205px;
 float: right;
}

div#top-banner02 {
 margin-bottom: 8px;
}

div#top-banner01 a, div#top-banner02 a, div#box a {
 border: 0;
}

div#box {
 width: 420px;
 margin: 25px 0px 13px;
}

div#box h3 {
 width: 420px;
 height: 25px;
 line-height: 25px;
 padding: 0px 10px 0px 18px;
 background: url(../images/bg-top-subtitle.png) left top no-repeat;
}

div#box-right {
 width: 205px;
 margin-bottom: 13px;
}

div#box-right div {
 width: 183px;
 padding: 7px 10px;
 border: 1px solid #c8c8c8;
 border-top: 0;
 margin: 0 auto;
 text-align: center;
}

div#box-right div p {
 padding-left: 4px;
 text-align: left;
}

div#box-right div a img {
 margin-top: 5px;
}

div#box-right div a {
 border: 0;
}

div#box-right h3 {
 width: 205px;
 height: 25px;
 line-height: 25px;
 padding: 0px 10px 0px 18px;
 background: url(../images/bg-top-subtitle_s.png) left top no-repeat;
}


/* フロート解除 */

div#adj {
 clear: both;
}

/* clearfix */

div#adj {
 clear: both;
}

.clearfix:after {
 content: ".";  /* 新しい要素を作る */
 display: block;  /* ブロックレベル要素に */
 clear: both;
 height: 0;
 visibility: hidden;
}

.clearfix {
 min-height: 1px;
}

* html .clearfix {
 height: 1px;
 /*\*//*/
 height: auto;
 overflow: hidden;
 /**/
}



/* フッター */

footer {
 clear: both;
 position2: absolute;
 bottom2: 0px;
 width: 100%;
 height: 74px;
 margin-top: -74px;
}

div#footer-container {
 width: 100%;
 height: 36px;
 border-top: 2px groove #f9f9f9;
}

div#footer-navi {
 width: 100%;
 height: 38px;
 text-align: center;
}

div#footer-navi ul {
 list-style-type: none;
 text-align: center;
}

div#footer-navi, div#footer-navi ul#footer-navi li {
 height: 36px;
 line-height: 36px;
 display: inline;
}

ul#footer-navi li span {
 width: 17px;
 height: 12px;
 line-height: 12px;
 background: url(../images/footer-line.png) top left no-repeat;
 padding: 0px 8px;
 display: inline;
}

div#copyright {
 height: 36px;
 line-height: 36px;
 text-align: center;
 background-color: #1a75bb;
}



/* WebStation */

h4.web_st {
 margin: 0 0 7px;
 padding-bottom: 3px;
 border: 0;
}

div#web_st {
 clear: both;
 margin-top: 45px;
 padding-top: 25px;
 border-top: 1px dotted #c8c8c8;
}

div#web_st h3 {
 margin-bottom: 25px;
}

h3.web_st01 {
 width: 197px;
 height: 36px;
 text-indent: -9999px;
 background: url(../images/title-promotion-web_st01.png) top left no-repeat;
 border-right: 1px solid #c8c8c8;
 margin-right: 20px;
 float: left;
}

h3.web_st02 {
 width: 197px;
 height: 124px;
 text-indent: -9999px;
 background: url(../images/title-promotion-web_st02.png) top left no-repeat;
 border-right: 1px solid #c8c8c8;
 margin-right: 20px;
 float: left;
}

h3.web_st03 {
 width: 197px;
 height: 124px;
 text-indent: -9999px;
 background: url(../images/title-promotion-web_st03.png) top left no-repeat;
 border-right: 1px solid #c8c8c8;
 margin-right: 20px;
 float: left;
}

h3.web_st04 {
 width: 197px;
 height: 218px;
 text-indent: -9999px;
 background: url(../images/title-promotion-web_st04.png) top left no-repeat;
 border-right: 1px solid #c8c8c8;
 margin-right: 20px;
 float: left;
}

h3.web_st05 {
 width: 197px;
 height: 133px;
 text-indent: -9999px;
 background: url(../images/title-promotion-web_st05.png) top left no-repeat;
 border-right: 1px solid #c8c8c8;
 margin-right: 20px;
 float: left;
}

div#sample {
 clear: both;
 width: 648px;
 height: 128px;
 margin-top: 25px;
}

div#sample div#temp {
 width: 20%;
 text-align: center;
 float: left;
}

div#sample div#temp a {
 border: 0;
}

div#sample_link {
 clear: both;
 margin: 40px 0px -12px;
}

div#btn-web_st {
 width: 274px;
 height: 36px;
 text-align: center;
 margin: 50px auto 0;
}

div#btn-web_st a {
 border: 0;
}