
<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
       <div id="breadcrumb-nav"><a href="/" title="HOME">HOME</a> &gt;  <a href="/store/"">お近くの博士たち</a> &gt; 中国エリア</div>
      </div>
      <div id="userinfo">
       
      </div>
     </div>
     <article>
            <h1 class="title-store-chugoku">中国エリア</h1>
      <img src="/assets/img-store.jpg" width="242" height="182" border="0" class="img">
      <div id="des-container">
       <h2 class="des-store-chugoku">日本全国へお届け。即日配達可能！</h2>
       <p>店舗担当地域内は無料でお届けいたします。<br>ご来店の必要はありません！<br><br>印刷物のご注文・お問い合わせは最寄りのぷりんと博士までご連絡ください。<br>お近くのぷりんと博士がわからない場合などは <span class="blue"><strong>0120-5454-22</strong></span> までお気軽にお問い合わせください。<br><br><span class="red">ご希望の内容、時間帯によっては日数をいただく場合がございます。</span></p>
      </div>

      <script src="assets/tbl.js"></script>
      <section>
       <h3 class="subtitle">鳥取</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="store">
        <tr>
         <th>鳥取中央店</th>
         <td>鳥取市川端</td>
         <td>0857-30-0900</td>
        </tr>
       </table>
      </section>

      <section>
       <h3 class="subtitle">岡山</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="store">
        <tr>
         <th>岡山東店</th>
         <td>岡山市浜</td>
         <td>086-273-5590</td>
        </tr>
        <tr>
         <th>岡山西店</th>
         <td>岡山市</td>
         <td>086-421-2117</td>
        </tr>
       </table>
      </section>

      <section>
       <h3 class="subtitle">山口</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="store">
        <tr>
         <th>山口店</th>
         <td>山口市吉敷</td>
         <td>083-922-4002</td>
        </tr>
       </table>
      </section>
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->

