
<!DOCTYPE html>
<html lang="ja">

<head>
<meta charset="utf-8">
<meta http-equiv="content-style-type" content="text/css">
<meta http-equiv="content-script-type" content="text/javascript">
<script src="https://www.printhakase.com/js/html5.js"></script>
<link rel="stylesheet" href="https://www.printhakase.com/css/temp2.css">
<link rel="stylesheet" href="https://www.printhakase.com/css/style2.css">
<link rel="shortcut icon" href="https://www.printhakase.com/favicon.ico">
<title>八戸店 | ぷりんと博士</title>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27054988-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>

<body>
<!-- START CONTAINER -->
 <div id="container">
<!-- START WRAPPER -->
  <div id="wrapper">

<!-- START HEADER -->
   <header>
    <div id="header-container">
     <div id="store">
      <h1 class="title-hachinohe">ぷりんと博士 八戸店</h1>
     </div>
     <div id="contact">
      <a href="https://www.printhakase.com/contact.html" class="contact">お問い合わせ・ご注文はこちら</a>
     </div>
    </div>
   </header>
<!-- END HEADER -->

<!-- START CONTENT -->
   <div id="contents">
    <div id="top"></div>
    <div id="main">
<!-- START INFO -->
     <div id="info">
      <table border="0" cellpadding="0" cellspacing="0" class="info">
       <tr>
        <td rowspan="2"><img src="https://www.printhakase.com/images/store/area-hachinohe.png" width="286" height="140" border="0"></td>
        <td colspan="2"><img src="https://www.printhakase.com/images/store/tel-hachinohe.png" width="454" height="76" border="0"></td>
       </tr>
       <tr>
        <td><img src="https://www.printhakase.com/images/store/tel-headoffice.png" width="246" height="64" border="0"></td>
        <td><a href="https://www.printhakase.com/store/"><img src="https://www.printhakase.com/images/store/button-search.png" width="180" height="36" border="0"></a></td>
       </tr>
      </table>
     </div>
<!-- END INFO -->
<!-- START DESC -->
     <section>
      <h2 class="title">プロフィール</h2>
      <div id="desc">
       <div id="img">
        <img src="https://www.printhakase.com/images/store/img-hachinohe.jpg" width="142" height="171" border="0">
       </div>
       <div id="txt">
        <h3 class="subtitle blue">八戸市職員生活協同組合指定店</h3>
        <p>あらゆる印刷物から印鑑ゴム印・看板・のぼり・カッティングシートそして、WEB制作管理・PC販売・インターネット接続等のサポートまで何でもOK!!<br>お気軽にご相談ください。迅速丁寧に対応致します。<br><br>営業時間：平日：9:00～18:00　土曜日：9:00～12:00<br>定休：日・祝 休</p>
       </div>
      </div>
       <div id="adj"></div>
     </section>
<!-- END DESC -->
<!-- START LIST -->
     <section>
      <h2 class="title">当店の取り扱い商品</h2>
      <ul id="list">
       <li>名刺</li>
       <li>ハガキ</li>
       <li>封筒</li>
       <li>各種カード</li>
       <li>スピード印刷</li>
       <li>大判出力<span>（ポスター等）</span></li>
       <li>一般オフセット印刷<br /><span>（チラシ・パンフレット・ポスター・冊子等）</span></li>
       <li>各種印鑑・ゴム印等</li>
       <li>各種帳票<br /><span>（複写伝票・領収書・レターヘッド等）</span></li>
      </ul>
      <ul id="list">
       <li>シール・ステッカー</li>
       <li>カッティングシート</li>
       <li>ウェアプリント<span>（複写式）</span></li>
       <li>ウェアプリント<span>（シルク印刷）</span></li>
       <li>プラスチックカード</li>
       <li>圧着ハガキ</li>
       <li>レーザー出力</li>
       <li>厚物ボール印刷<br /><span>（パッケージ・POPパネル・型抜き厚物）</span></li>
       <li>クリアーファイル</li>
       <li>スクラッチカード</li>
      </ul>
      <ul id="list">
       <li>ブリスターパック</li>
       <li>手提げ袋</li>
       <li>ホームページ作成・管理</li>
       <li>印刷物の企画・制作</li>
       <li>CD-R/DVD-R等の焼きこみ</li>
       <li>のぼり</li>
       <li>うちわ</li>
       <li>カレンダー</li>
       <li>電飾看板等</li>
      </ul>
       <div id="adj"></div>
     </section>
<!-- END LIST -->
     <p class="red right">※上記以外の印刷物・販促物、何でもお気軽にご相談ください</p>
    </div>
    <div id="bottom"></div>
   </div>
<!-- END CONTENTS -->

<!-- START FOOTER -->
  <footer>
   <div id="copyright">
&copy;  2011 Print Hakase Co., Ltd. All Rights Reserved.
   </div>
  </footer>
<!-- END FOOTER -->

  </div>
<!-- END WRAPPER -->
 </div>
<!-- END CONTAINER -->
</body>

</html>