
<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
       <div id="breadcrumb-nav"><a href="/" title="HOME">HOME</a> &gt; <a href="/store/"">お近くの博士たち</a> &gt; 信越・北陸エリア</div>
      </div>
      <div id="userinfo">
       
      </div>
     </div>
     <article>
            <h1 class="title-store-hokuriku">信越・北陸エリア</h1>
      <img src="/assets/img-store.jpg" width="242" height="182" border="0" class="img">
      <div id="des-container">
       <h2 class="des-store-hokuriku">日本全国へお届け。即日配達可能！</h2>
       <p>店舗担当地域内は無料でお届けいたします。<br>ご来店の必要はありません！<br><br>印刷物のご注文・お問い合わせは最寄りのぷりんと博士までご連絡ください。<br>お近くのぷりんと博士がわからない場合などは <span class="blue"><strong>0120-5454-22</strong></span> までお気軽にお問い合わせください。<br><br><span class="red">ご希望の内容、時間帯によっては日数をいただく場合がございます。</span></p>
      </div>

      <script src="assets/tbl.js"></script>
      <section>
       <h3 class="subtitle">新潟</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="store">
        <tr>
         <th>長岡店</th>
         <td>長岡市福住3-4-30-1F</td>
         <td>0258-35-3605</td>
        </tr>
        <tr>
         <th>新潟店</th>
         <td>新潟市東区桃山町</td>
         <td>025-250-8317</td>
        </tr>
       </table>
      </section>

      <section>
       <h3 class="subtitle">長野</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="store">
        <tr>
         <th>長野北店</th>
         <td>長野市</td>
         <td>026-213-6221</td>
        </tr>
        <tr>
         <th>松本店</th>
         <td>松本市宮渕</td>
         <td>0263-31-0701</td>
        </tr>
        <tr>
         <th>須坂店</th>
         <td>須坂市</td>
         <td>026-285-9792</td>
        </tr>
       </table>
      </section>

      <section>
       <h3 class="subtitle">福井</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="store">
        <tr>
         <th>福井店</th>
         <td>福井市</td>
         <td>0776-22-8033</td>
        </tr>
       </table>
      </section>
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->

