
<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
       <div id="breadcrumb-nav"><a href="https://www.printhakase.com/" title="HOME">HOME</a> &gt;  
 
 
 
<a href="/store/"">お近くの博士たち</a> &gt;  
 
関東エリア
 
 
 
 
 
 

 
 
 
 
 
 
 
 
 
 
 
 
</div>
      </div>
      <div id="userinfo">
       
      </div>
     </div>
     <article>
            <h1 class="title-store-kanto">関東エリア</h1>
      <img src="https://www.printhakase.com/images/img-store.jpg" width="242" height="182" border="0" class="img">
      <div id="des-container">
       <h2 class="des-store-kanto">日本全国へお届け。即日配達可能！</h2>
       <p>店舗担当地域内は無料でお届けいたします。<br>ご来店の必要はありません！<br><br>印刷物のご注文・お問い合わせは最寄りのぷりんと博士までご連絡ください。<br>お近くのぷりんと博士が、わからない場合などは <span class="blue"><strong>0120-5454-22</strong></span> までお気軽にお問い合わせください。<br><br><span class="red">ご希望の内容、時間帯によっては日数をいただく場合がございます。</span></p>
      </div>

      <script src="https://www.printhakase.com/js/tbl.js"></script>
      <section>
       <h3 class="subtitle">東京</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="store">
        <tr>
         <th><a href="https://www.printhakase.com/store/kanto/adachinishi.html" target="_blank">足立西店</a></th>
         <td>足立区</td>
         <td>0120-532-479</td>
        </tr>
        <tr>
         <th>池袋店</th>
         <td>豊島区南池袋</td>
         <td>03-5391-4579</td>
        </tr>
        <tr>
         <th><a href="https://www.printhakase.com/store/kanto/edogawa.html" target="_blank">江戸川店</a></th>
         <td>江戸川区春江町</td>
         <td>03-5664-3086</td>
        </tr>
        <tr>
         <th><a href="https://www.printhakase.com/store/kanto/oota.html" target="_blank">大田店</a></th>
         <td>東京都大田区</td>
         <td>050-3693-2334</td>
        </tr>
        <tr>
         <th>葛飾店</th>
         <td>葛飾区柴又</td>
         <td>03-5694-5596</td>
        </tr>
        <tr>
         <th>小岩店</th>
         <td>江戸川区南小岩</td>
         <td>03-5612-1855</td>
        </tr>
        <tr>
         <th>小平店</th>
         <td>小平市</td>
         <td> 042-313-6365</td>
        </tr>
        <tr>
         <th>三軒茶屋店</th>
         <td>世田谷区上馬</td>
         <td>03-3421-2400</td>
        </tr>
        <tr>
         <th>烏山店</th>
         <td>東京都世田谷区</td>
         <td>03-6279-6537</td>
        </tr>
        <tr>
         <th><a href="https://www.printhakase.com/store/kanto/tokyokita.html" target="_blank">東京北店</a></th>
         <td>北区</td>
         <td>03-5939-9026</td>
        </tr>
        <tr>
         <th>中野店</th>
         <td>中野区</td>
         <td>03-6809-1107</td>
        </tr>
        <tr>
         <th><a href="https://www.printhakase.com/store/kanto/hikarigaoka.html" target="_blank">光が丘店</a></th>
         <td>練馬区田柄</td>
         <td>03-5848-9808</td>
        </tr>
        <tr>
         <th>江東店</th>
         <td>江東区</td>
         <td>03-3647-1818</td>
        </tr>
       </table>
      </section>

      <section>
       <h3 class="subtitle">神奈川</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="store">
        <tr>
         <th>厚木・海老名店</th>
         <td>海老名市</td>
         <td>046-238-8585</td>
        </tr>
        <tr>
         <th>川崎幸店</th>
         <td>川崎市幸区</td>
         <td>044-599-7498</td>
        </tr>
        <tr>
         <th>相模店</th>
         <td>座間市南栗原</td>
         <td>046-266-2966</td>
        </tr>
        <!--<tr>
         <th>相模大野店</th>
         <td>相模原市相南</td>
         <td>042-745-3528</td>
        </tr>-->
        <tr>
         <th>戸塚店</th>
         <td>横浜市戸塚区原宿町2-10-11</td>
         <td>045-853-1658</td>
        </tr>
        <tr>
         <th>元住吉店</th>
         <td>川崎市中原区木月</td>
         <td>044-431-2225</td>
        </tr>
        <tr>
         <th><a href="https://www.printhakase.com/store/kanto/yokohamacyuou.html" target="_blank">横浜中央店</a></th>
         <td>横浜市中区</td>
         <td>045-228-7275</td>
        </tr>
        <tr>
         <th>愛川店</th>
         <td>神奈川県愛甲郡愛川町中津</td>
         <td>046-280-5844</td>
        </tr>
       </table>
      </section>

      <section>
       <h3 class="subtitle">埼玉</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="store">
        <tr>
         <th>上尾店</th>
         <td>上尾市</td>
         <td>0120-5454-22</td>
        </tr>
        <tr>
         <th>春日部店</th>
         <td>埼玉県春日部市備後</td>
         <td>048-734-9900</td>
        </tr>
        <tr>
         <th>川口店</th>
         <td>川口市安行領根岸</td>
         <td>048-288-1700</td>
        </tr>
        <tr>
         <th>川越店</th>
         <td>川越市</td>
         <td>049-299-7723</td>
        </tr>
        <tr>
         <th>行田店</th>
         <td>行田市</td>
         <td>048-559-0713</td>
        </tr>
        <tr>
         <th>さいたま店</th>
         <td>さいたま市東大成町</td>
         <td>048-661-7112</td>
        </tr>
        <tr>
         <th>さいたま浦和店</th>
         <td>さいたま市桜区</td>
         <td>048-840-0627</td>
        </tr>
        <tr>
         <th>本庄店</th>
         <td>本庄市駅南</td>
         <td>0495-23-2686</td>
        </tr>
       </table>
      </section>

      <section>
       <h3 class="subtitle">千葉</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="store">
        <tr>
         <th>千葉南店</th>
         <td>千葉市中央区</td>
         <td>043-376-1708</td>
        </tr>
        <!--<tr>
         <th>柏駅前店</th>
         <td>柏市柏1-1-11 柏駅前第一ビル1階</td>
         <td>0471-65-8228</td>
        </tr>-->
       </table>
      </section>

      <section>
       <h3 class="subtitle">茨城</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="store">
        <!--<tr>
         <th>つくば土浦店</th>
         <td>つくば市あしび野</td>
         <td>029-840-1820</td>
        </tr>-->
        <tr>
         <th>竜ケ崎店</th>
         <td>竜ヶ崎市白羽</td>
         <td>0297-61-0207</td>
        </tr>
       </table>
      </section>

      <section>
       <h3 class="subtitle">群馬</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="store">
        <tr>
         <th>伊勢崎店</th>
         <td>伊勢崎市境中島</td>
         <td>0270-75-0008</td>
        </tr>
        <tr>
         <th>前橋店</th>
         <td>前橋市南町</td>
         <td>027-210-6806</td>
        </tr>
       </table>
      </section>

      <section>
       <h3 class="subtitle">栃木</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="store">
        <tr>
         <th>那須高原店</th>
         <td>那須郡那須町高久丙1148-740</td>
         <td>0287-74-2295</td>
        </tr>
       </table>
      </section>
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->
