
<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
       <div id="breadcrumb-nav"><a href="https://www.printhakase.com/" title="HOME">HOME</a> &gt;  
 
 
 
<a href="/store/"">お近くの博士たち</a> &gt;  
 
 
 
 
近畿エリア
 
 
 

 
 
 
 
 
 
 
 
 
 
 
 
</div>
      </div>
      <div id="userinfo">
       
      </div>
     </div>
     <article>
            <h1 class="title-store-kinki">近畿エリア</h1>
      <img src="https://www.printhakase.com/images/img-store.jpg" width="242" height="182" border="0" class="img">
      <div id="des-container">
       <h2 class="des-store-kinki">日本全国へお届け。即日配達可能！</h2>
       <p>店舗担当地域内は無料でお届けいたします。<br>ご来店の必要はありません！<br><br>印刷物のご注文・お問い合わせは最寄りのぷりんと博士までご連絡ください。<br>お近くのぷりんと博士がわからない場合などは <span class="blue"><strong>0120-5454-22</strong></span> までお気軽にお問い合わせください。<br><br><span class="red">ご希望の内容、時間帯によっては日数をいただく場合がございます。</span></p>
      </div>

      <script src="https://www.printhakase.com/js/tbl.js"></script>
      <section>
       <h3 class="subtitle">大阪</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="store">
        <tr>
         <th>大阪中央店</th>
         <td>大阪市中央区瓦町</td>
         <td>06-6233-7125</td>
        </tr>
        <tr>
         <th>高槻店</th>
         <td>高槻市南庄所町</td>
         <td>072-662-3303</td>
        </tr>
        <tr>
         <th>寝屋川店</th>
         <td>寝屋川市松屋町</td>
         <td>072-834-8334</td>
        </tr>
        <tr>
         <th>平野店</th>
         <td>大阪市平野区</td>
         <td>06-6708-8119</td>
        </tr>
        <tr>
         <th>八尾南店</th>
         <td>八尾市</td>
         <td>0729-20-3810</td>
        </tr>
        <tr>
         <th>泉南店</th>
         <td>泉南市</td>
         <td>072-483-8666</td>
        </tr>
        <tr>
         <th>住之江店</th>
         <td>大阪市住之江区安立</td>
         <td>06-6657-4987</td>
        </tr>
       </table>
      </section>

      <section>
       <h3 class="subtitle">兵庫</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="store">
        <tr>
         <th>尼崎店</th>
         <td>尼崎市塚口町</td>
         <td>06-6420-7288</td>
        </tr>
        <tr>
         <th>神戸中央店</th>
         <td>神戸市中央区浜辺通</td>
         <td>078-252-0930</td>
        </tr>
        <tr>
         <th>須磨店</th>
         <td>神戸市須磨区中島町</td>
         <td>078-736-4630</td>
        </tr>
        <tr>
         <th>垂水店</th>
         <td>垂水市</td>
         <td>078-793-1362</td>
        </tr>
        <!--<tr>
         <th>宝塚店</th>
         <td>宝塚市</td>
         <td>0797-85-5120</td>
        </tr>-->
        <tr>
         <th>三木店</th>
         <td>三木市末広</td>
         <td>0794-83-1287</td>
        </tr>
       </table>
      </section>

      <section>
       <h3 class="subtitle">京都</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="store">
        <tr>
         <th>京都西店</th>
         <td>京都市西京区桂池尻町</td>
         <td>075-382-2461</td>
        </tr>
        <tr>
         <th>京都南店</th>
         <td>京都市南区四ツ塚町47 サンヴォア京都1F</td>
         <td>075-644-9688</td>
        </tr>
        <tr>
         <th><a href="https://www.printhakase.com/store/kinki/kyotonakagyo.html" target="_blank">京都中京店</a></th>
         <td>京都市右京区嵯峨大覚寺門前六道町</td>
         <td>075-862-1404</td>
        </tr>
        <tr>
         <th>京都東店</th>
         <td>京都市左京区</td>
         <td>0120-5454-22</td>
        </tr>
        <tr>
         <th>長岡京店</th>
         <td>京都市長岡京市</td>
         <td>075-959-4666</td>
        </tr>
       </table>
      </section>

      <section>
       <h3 class="subtitle">滋賀</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="store">
        <tr>
         <th>湖南店</th>
         <td>守山市守山</td>
         <td>077-582-8362</td>
        </tr>
        <tr>
         <th>彦根店</th>
         <td>彦根市</td>
         <td>0749-23-3481</td>
        </tr>
       </table>
      </section>

      <section>
       <h3 class="subtitle">三重</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="store">
        <tr>
         <th>四日市店</th>
         <td>四日市市西浦</td>
         <td>090-9757-6605</td>
        </tr>
       </table>
      </section>
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->

