
<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
       <div id="breadcrumb-nav"><a href="https://www.printhakase.com/" title="HOME">HOME</a> &gt;  
 
 
 
<a href="/store/"">お近くの博士たち</a> &gt;  
 
 
 
 
 
 
 
九州エリア

 
 
 
 
 
 
 
 
 
 
 
 
</div>
      </div>
      <div id="userinfo">
       
      </div>
     </div>
     <article>
            <h1 class="title-store-kyushu">九州エリア</h1>
      <img src="https://www.printhakase.com/images/img-store.jpg" width="242" height="182" border="0" class="img">
      <div id="des-container">
       <h2 class="des-store-kyushu">日本全国へお届け。即日配達可能！</h2>
       <p>店舗担当地域内は無料でお届けいたします。<br>ご来店の必要はありません！<br><br>印刷物のご注文・お問い合わせは最寄りのぷりんと博士までご連絡ください。<br>お近くのぷりんと博士がわからない場合などは <span class="blue"><strong>0120-5454-22</strong></span> までお気軽にお問い合わせください。<br><br><span class="red">ご希望の内容、時間帯によっては日数をいただく場合がございます。</span></p>
      </div>

      <script src="https://www.printhakase.com/js/tbl.js"></script>
      <section>
       <h3 class="subtitle">福岡</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="store">
        <tr>
         <th><span class="red">[休業中]</span> <strike>小郡店</strike></th>
         <td><strike>久留米市野中町</strike></td>
         <td><strike>0942-38-2092</strike></td>
        </tr>
        <tr>
         <th>久留米店</th>
         <td>久留米市御井旗崎</td>
         <td>0942-41-0570</td>
        </tr>
        <tr>
         <th>小倉店</th>
         <td>北九州市</td>
         <td>093-475-7005</td>
        </tr>
        <tr>
         <th>飯塚店</th>
         <td>飯塚市</td>
         <td>0948-29-1946</td>
        </tr>
        <tr>
         <th>北九中間店</th>
         <td>中間市</td>
         <td>093-245-4900</td>
        </tr>
        <tr>
         <th>博多店</th>
         <td>〒812-0884<br>福岡県福岡市博多区寿町2-8-10-2F</td>
         <td>092-558-0423</td>
        </tr>
       </table>
      </section>

      <section>
       <h3 class="subtitle">大分</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="store">
        <tr>
         <th>中大店</th>
         <td>大分市常行</td>
         <td>097-523-4232</td>
        </tr>
       </table>
      </section>

      <section>
       <h3 class="subtitle">熊本</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="store">
        <tr>
         <th>熊本店</th>
         <td>熊本市</td>
         <td>080-1734-8176</td>
        </tr>
       </table>
      </section>
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->

