
<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
       <div id="breadcrumb-nav"><a href="https://www.printhakase.com/" title="HOME">HOME</a> &gt;  
 
 
 
<a href="/store/"">お近くの博士たち</a> &gt;  
東北エリア
 
 
 
 
 
 
 

 
 
 
 
 
 
 
 
 
 
 
 
</div>
      </div>
      <div id="userinfo">
       
      </div>
     </div>
     <article>
            <h1 class="title-store-tohoku">東北エリア</h1>
      <img src="https://www.printhakase.com/images/img-store.jpg" width="242" height="182" border="0" class="img">
      <div id="des-container">
       <h2 class="des-store-tohoku">日本全国へお届け。即日配達可能！</h2>
       <p>店舗担当地域内は無料でお届けいたします。<br>ご来店の必要はありません！<br><br>印刷物のご注文・お問い合わせは最寄りのぷりんと博士までご連絡ください。<br>お近くのぷりんと博士がわからない場合などは <span class="blue"><strong>0120-5454-22</strong></span> までお気軽にお問い合わせください。<br><br><span class="red">ご希望の内容、時間帯によっては日数をいただく場合がございます。</span></p>
      </div>

      <script src="https://www.printhakase.com/js/tbl.js"></script>
      <section>
       <h3 class="subtitle">青森</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="store">
        <tr>
         <th>青森西店</th>
         <td>青森市千刈</td>
         <td>017-721-5325</td>
        </tr>
        <tr>
         <th><a href="https://www.printhakase.com/store/tohoku/shiranuka.html" target="_blank">白糠店</a></th>
         <td>青森県下北郡</td>
         <td>0175-34-9327</td>
        </tr>
        <tr>
         <th><a href="https://www.printhakase.com/store/tohoku/hachinohe.html" target="_blank">八戸店</a></th>
         <td>八戸市市川町字長者久保</td>
         <td>0178-21-3663</td>
        </tr>
       </table>
      </section>

      <section>
       <h3 class="subtitle">宮城</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="store">
        <tr>
         <th>仙台店</th>
         <td>仙台市青葉区本町</td>
         <td>022-716-6146</td>
        </tr>
        <tr>
         <th>仙台泉店</th>
         <td>仙台市宮城野区岩切字台屋敷</td>
         <td>022-255-9730</td>
        </tr>
        <tr>
         <th>仙台宮城野店</th>
         <td>仙台市宮城野区福室4-6-1</td>
         <td>022-387-7077</td>
        </tr>
        <tr>
         <th>宮城北店</th>
         <td>栗原郡一迫町柳目字谷地田</td>
         <td>0228-57-7220</td>
        </tr>
        <tr>
         <th>宮城港店</th>
         <td>石巻市</td>
         <td>0229-26-2629</td>
        </tr>
       </table>
      </section>

      <section>
       <h3 class="subtitle">山形</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="store">
        <tr>
         <th>山形店</th>
         <td>山形市松山</td>
         <td>023-615-4505</td>
        </tr>
        <tr>
         <th>山形北店</th>
         <td>山形市小立</td>
         <td>023-631-8471</td>
        </tr>
       </table>
      </section>
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->