
<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
       <div id="breadcrumb-nav"><a href="https://www.printhakase.com/" title="HOME">HOME</a> &gt;  
 
 
 
<a href="/store/"">お近くの博士たち</a> &gt;  
 
 
 
東海エリア
 
 
 
 

 
 
 
 
 
 
 
 
 
 
 
 
</div>
      </div>
      <div id="userinfo">
       
      </div>
     </div>
     <article>
            <h1 class="title-store-tokai">東海エリア</h1>
      <img src="https://www.printhakase.com/images/img-store.jpg" width="242" height="182" border="0" class="img">
      <div id="des-container">
       <h2 class="des-store-tokai">日本全国へお届け。即日配達可能！</h2>
       <p>店舗担当地域内は無料でお届けいたします。<br>ご来店の必要はありません！<br><br>印刷物のご注文・お問い合わせは最寄りのぷりんと博士までご連絡ください。<br>お近くのぷりんと博士がわからない場合などは <span class="blue"><strong>0120-5454-22</strong></span> までお気軽にお問い合わせください。<br><br><span class="red">ご希望の内容、時間帯によっては日数をいただく場合がございます。</span></p>
      </div>

      <script src="https://www.printhakase.com/js/tbl.js"></script>
      <section>
       <h3 class="subtitle">愛知</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="store">
        <tr>
         <th>豊田店</th>
         <td>豊田市久保町</td>
         <td>0565-37-7785</td>
        </tr>
       </table>
      </section>

      <section>
       <h3 class="subtitle">岐阜</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="store">
        <!--<tr>
         <th>岐阜店</th>
         <td>瑞穂市馬場小城町</td>
         <td>058-327-9469</td>
        </tr>-->
        <tr>
         <th>岐阜・柳ヶ瀬店</th>
         <td>岐阜市梅ヶ枝町3-34-102</td>
         <td>058-265-3001</td>
        </tr>
       </table>
      </section>

      <section>
       <h3 class="subtitle">静岡</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="store">
        <tr>
         <th>静岡北店</th>
         <td>静岡市葵区</td>
         <td>054-255-0269</td>
        </tr>
        <tr>
         <th>三島店</th>
         <td>三島市玉川</td>
         <td>070-5649-8535</td>
        </tr>
       </table>
      </section>
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->

